<a href="#" title="Tridhya Tech Private Limited AngularJS | Software Product Development Company"><img src="../images/Technology/angularjs.jpg" alt="Tridhya Tech Private Limited AngularJS | Software Product Development Company"></a>


<div class="services">

    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>Angularjs</h2>
            </div>
            <ul class="list1">
                <li>AngularJS is an open-source web application framework maintained by Google and by a community of individual developers and corporations.</li>
                <li>These individuals take care of the challenges that occur while developing single-page applications.</li>
                <li>The major aim of AngularJS is to simplify the jobs of the developers as well as the testers by providing a framework for client-side model-view-controller (MVC) and model-view-viewmodel (MVVM) architectures. Not only this, but it also uses components that are used in rich internet applications. Our services included Web applications, web software,API integrations.</li>
                <li>The AngularJS library first reads the HTML page, which has custom tag attributes embedded into it.</li>
                <li>The input or output parts of the page to a model is represented by standard JavaScript variables, whose values can be set within the code, or retrieved from static or dynamic JSON resources.</li>
                <li>AngularJS is used by very many websites and many others are considering it for the usage of their websites.</li>
            </ul>
        </div>
    </section>

    <section class="section1">
        <div class="container">
            <div class="title">
                <h4>Services</h4>
            </div>
            <ul class="list1 column-count">
                <li>Web applications</td>
                <li>Mobile apps</td>
                <li>Web software</td>
                <li>Real-time applications</td>
                <li>RESTful apps</td>
                <li>UX for software</td>
                <li>Software UI</td>
                <li>API integrations</td>
                <li>Data-rich applications</td>
                <li>Scalable applications</td>
                <li>Lightweight and robust</td>
                <li>Mobile responsive</td>
            </ul>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="title">
                <h4>Portfolio</h4>
            </div>
            <div class="port_content">
                <div id="isotope-container" class="isotope">
                    <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                    </div>
                    @*<?php  include("../portfolio/php/nodejst.php"); ?>*@
                </div>
            </div>
        </div>
    </section>
</div>

