<div ng-controller="ApplicationDevelopmentCtrl">
    <div class="img_pic"><img class="img-responsive" src="~/Images/ApplicationDevelop.jpg" alt="Software Application Development" title="Application Development Company | Application Development Company USA"> </div>
</div>


<div class="services">

<section class="section1">
<div class="container">
    <div class="row">
        <div class="col-md-4 left">
            <h2>Be the Witness <span>of Rich Application</span></h2>
        </div>
        <div class="col-md-8 right">
            <p>
                Demand and acceptance of the customized application development is still very high why because most of such applications are developed based on the specific user defined need. End of it, they get the most user-friendly software that any normal user with no technical knowledge will be able to use it. We offer services like On-site and application development Cloud, Enterprise Application Integration. Organizations prefer the software easy for users of all types. The meeting of the clients' requirements tells that an application is well-developed that would indirectly increase the usage of the developed application. According to us, 2 most important considerations are:
                <ul class="list1">
                    <li>Problem Statement by client </li>
                    <li>Project Vision and preferences of the client</li>
                </ul>
            </p>
        </div>
    </div>
</div>
</section>


<section class="section2">
    <div class="container">
        <div class="title">
            <h4>Services:</h4>
        </div>
        <p>We offer the following services:</p>
        
        <ul class="list1 column-count">
            <li>Bespoke Application Development</li>
            <li>Software Product Development</li>
            <li>Client - Server Application Development</li>
            <li>On-Premise and Cloud Application Development</li>
            <li>Web Application Development</li>
            <li>CRM Application Development</li>
            <li>ERP Application Development</li>
            <li>Content Management System Development</li>
            <li>ECommerce Application Development</li>
            <li>Support Ticket System Development</li>
            <li>Live Chat System Development</li>
            <li>SAAS Based Application Development</li>
        </ul>

        <p>Mentioned above are some of the services offered by Tridhya Tech Private Limited. We start with planning and end with the deployment of solutions according to customer requirements, we also provide maintenance services.</p>
    </div>
</section>


<section class="section3">
    <div class="container">
        <div class="title">
            <h4>Expertise:</h4>
        </div>
        <p>We hold expertise in:</p>

        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/microsoft-technologies')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Open Source Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/Opensource')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Mobile Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/mobile')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Other Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/others')">
            </div>
        </div>

    </div>
</section>


</div>
