
<div class="img_pic">
    <a href="#" title="Tridhya Tech Private Limited Career | Carrer Objective | Carrer"><img alt="Tridhya Tech Private Limited Career | Carrer Objective | Carrers" src="../images/career/career.jpg" alt="career"></a>
</div>




<section class="section1">
    <div class="container">
        <p> <strong>Tridhya Tech Private Limited</strong> has one of the best working environments that a lot of tech people desire to work in. Many of them want to work with us and many would support the above lines, who are already working here to make career. A peaceful place is a must for anybody to work well where they meet their targets, leave the clients satisfied and bring in more and more work due to the progress that they show on each and every tasks for career objective that they undertake. We at, <strong>Tridhya Tech Private Limited</strong> have it all! </p>

        <p>If you want to take your career to a high and progress in your field, then apply at <strong><a href="mailto:career@shaligraminfotech.com">career@shaligraminfotech.com</a></strong> now!</p>
    </div>
</section>

<section class="section2 pt pb">
    <div class="container">
        <div class="title">
            <h4>Current Job Openings:</h4>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th><strong>Position</strong></th>
                        <th><strong>Experience</strong></th>
                        <th style="text-align:center"><strong>Openings</strong></th>
                        <th style="text-align:center"><strong>Location</strong></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Fresher Asp.net </td>
                        <td>Fresher</td>
                        <td class="center">5</td>
                        <td class="center">Ahmedabad</td>
                        <td class="center"><a href="" ui-sref="fresher-asp-net" role="button" class="btn-sm btn-primary">Details</a></td>
                    </tr>
                   
                    <tr>
                        <td> Fresher Business Development Executive </td>
                        <td>Fresher</td>
                        <td class="center">2</td>
                        <td class="center">Ahmedabad</td>
                        <td class="center"><a href="" ui-sref="fresher-business-development-executive" role="button" class="btn-sm btn-primary">Details</a></td>
                    </tr>
                    <tr>
                        <td> Junior Business Development Executive </td>
                        <td>1+ Years</td>
                        <td class="center">1</td>
                        <td class="center">Ahmedabad</td>
                        <td class="center"><a href="" ui-sref="jr-business-development-executive" role="button" class="btn-sm btn-primary">Details</a></td>
                    </tr>
                    <tr>
                        <td> Senior Business Development Executive </td>
                        <td>3+ Years</td>
                        <td class="center">1</td>
                        <td class="center">Ahmedabad</td>
                        <td class="center"><a href="" ui-sref="sr-business-development-executive" role="button" class="btn-sm btn-primary">Details</a></td>
                    </tr>
                   
                    <tr>
                        <td> Senior Java Developer </td>
                        <td>2+ Years</td>
                        <td class="center">1</td>
                        <td class="center">Ahmedabad</td>
                        <td class="center"><a href="" ui-sref="sr-java-developer" role="button" class="btn-sm btn-primary">Details</a></td>
                    </tr>
                    
                    <tr>
                        <td> Senior SharePoint Developer </td>
                        <td>3+ Years</td>
                        <td class="center">1</td>
                        <td class="center">Ahmedabad</td>
                        <td class="center"><a href="" ui-sref="sr-sharepoint-developer" role="button" class="btn-sm btn-primary ">Details</a></td>
                    </tr>
                    <tr>
                        <td> Senior Android Developer</td>
                        <td>2 to 4 Years</td>
                        <td class="center">1</td>
                        <td class="center">Ahmedabad</td>
                        <td class="center">Send your CV on <a href="mailto:hr@myclasscampus.com" style="cursor:pointer;">hr@myclasscampus.com</a></td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
</section>
