@{
    PageData["keyword"] = "change registered office address, private limited company";
    PageData["description"] = "Change the registered address of your business. Process of changing business address starts at Rs. 1,800 + Govt Fees. ✓EMI available.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/changeCompanyAddress.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Change in Registered Office Address</h1>
                <p class="color-white">Depending on where you're moving to, you may need to simply pass a resolution or place an advertisement in a newspaper on the move.</p>
            </div>
         
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
@*<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>From Rs.4410 /-</b> all inclusive fees</h3>
            <p class="text-justify">EMI: Rs.393.67 for 12 months*</p>
        </div>
        <form>
            <div class="sidebar-form">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="text" value="" placeholder="Name" />
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="text" value="" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" value="" placeholder="Phone" />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>*@
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Change in Registered Office Address</h2>
                <p class="text-justify">The registered office of any company or LLP is the official place of business and all official communication is sent to the mentioned location by the Ministry of Corporate Affairs. Normally, a registered office can be changed by giving a simple notice to the concerned registrar within 30 days from the date of change in case the address falls within the local limits of the city, town or village.</p>
                <p class="text-justify">However, in case you wish to register an address which happens to be in a different state; a special resolution will need to be passed and an advertisement published in newspapers prior to any notice given to the government.</p>
                <h2 class="pageHeading">Procedure for Changing Office Address</h2>
                <div class="essential">
                    <h4>3 Working Days</h4>
                    <p class="text-justify">If you're moving to office to another state, we will draft the requisite resolution on your behalf and inform you of the procedure before you can inform the state government about the change.</p>
                </div>
                <div class="essential">
                    <h4>4 Working Days</h4>
                    <p class="text-justify">Within 30 days, you must inform the MCA by submitting the necessary forms that you have changed the address of the official place of business.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
