@{
    PageData["keyword"] = "change registered office address, private limited company";
    PageData["description"] = "Change the registered address of your business. Process of changing business address starts at Rs. 1,800 + Govt Fees. ✓EMI available.";
}

<section class="page-banner">
    <div class="banner">
        <img src="images/changeCompanyAddress.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Change in Registered Office Address</h1>
                <p class="color-white">Depending on where you're moving to, you may need to simply pass a resolution or place an advertisement in a newspaper on the move.</p>
            </div>
     
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
@*<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>From Rs.4410 /-</b> all inclusive fees</h3>
            <p class="text-justify">EMI: Rs.393.67 for 12 months*</p>
        </div>
        <form>
            <div class="sidebar-form">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="text" value="" placeholder="Name" />
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="text" value="" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" value="" placeholder="Phone" />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>*@
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Change in Registered Office Address</h2>
                <p class="text-justify">If the address of the registered office changes within the state, then as per Rule 25 of Companies (Incorporation) Rules, 2014 a verification needs to be done and filed with the Registrar in Form No. INC-22 along with the prescribed fees.</p>
                <p class="text-justify">The registered office of a company or LLP is the principle place of business and all official correspondence from the Ministry of Corporate Affairs is sent to the mentioned location. The registered office address can be changed within the local limits of the city, town or village by simply giving notice to the concerned registrar within 30 days from the date of change. If, however, you are moving the registered office to another state, a special resolution needs to be passed and an advertisement needs to be placed in a newspaper, before notice is given to government.</p>
                <h2 class="pageHeading">Procedure for Changing Office Address</h2>
                <div class="clearfix"></div>
                <div class="panel-group panel-accordian" id="faqAccordian">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqOne">
                            <a>1. What is the process of intimating Ministry of Corporate Affairs about any change in Managing Director, Directors, Manager, CEO, CFO or Secretary of a company?</a>
                        </div>
                        <div id="faqOne" class="panel-collapse collapse">
                            <p class="panel-body">A company can intimate changes among Managing Director, Directors, Manager and Secretary of a company by filing eForm DIR-12 with Registrar of Companies (ROC) within 30 days (Event date + 30 days) from the date when such change takes place.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqTwo">
                            <a>2. What is the process of changing Company Name?</a>
                        </div>
                        <div id="faqTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p class="text-justify">The following eforms need to be filed:</p>
                                <p class="text-justify">1.The existing company needs to file eForm INC-1 for name approval.</p>
                                <p class="text-justify">2.After the name is approved, MGT-14 (necessary resolution for alteration of Memorandum of Association and Articles of Association (MOA and AOA) needs to be filed.</p>
                                <p class="text-justify">3.eForm INC-24 (Application for approval of Central Government for change of name) needs to be filed to give effect to change in name.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqThree">
                            <a>3. How do I intimate Ministry of Corporate Affairs about change in Object Clause of MOA?</a>
                        </div>
                        <div id="faqThree" class="panel-collapse collapse">
                            <p class="panel-body">In case a company wants to change its object clause, it can do so by filling passing necessary resolution and file eForm MGT-14.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFour">
                            <a>4. How do I intimate Ministry of Corporate Affairs about change of registered office of the company?</a>
                        </div>
                        <div id="faqFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p class="text-justify">In case company has changed its registered office within local limits of the same city or place, intimation regarding the same has to be filed in Form INC-22.</p>
                                <p class="text-justify">Similarly, if company wishes to shift or change its registered office outside local limits of city, town or village, first eForm MGT-14 and then eForm INC-22 are required to be filed to Registrar of Companies (ROC) to give effect to such change.</p>
                                <p class="text-justify">In case, company wants to shift the registered office from one state to another state or from jurisdiction of one RoC to another, it needs to file following forms to give effect to such change:</p>
                                <p class="text-justify">1) Form MGT-14</p>
                                <p class="text-justify">2) Form INC-23 - File application with Central Government in Form No.</p>
                                <p class="text-justify">3) Form INC-28</p>
                                <p class="text-justify">4) Form INC-22</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFive">
                            <a>5. How can a company increase authorized capital?</a>
                        </div>
                        <div id="faqFive" class="panel-collapse collapse">
                            <p class="panel-body">A company can increase its authorized capital by filing eForm SH-7. Similarly, subscribed capital and paid up capital of the company can be increased on filing and approval of Form PAS-3 (Return of allotment of shares).</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqSix">
                            <a>6. How can a Public company convert into a Private company?</a>
                        </div>
                        <div id="faqSix" class="panel-collapse collapse">
                            <p class="panel-body">A public company can convert itself in to a private company by filing Form MGT-14 (Alteration of MOA and AOA) and then taking approval of Form INC-27.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqSeven">
                            <a>7. How can a Private company convert into a Public company?</a>
                        </div>
                        <div id="faqSeven" class="panel-collapse collapse">
                            <p class="panel-body">A private company can convert itself into a public company by filing Form MGT-14 for registration of such resolution passed by the company (Alteration of MOA and AOA) and filing of Form INC-27.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqEight">
                            <a>8. What is the process of registering a charge or making modification to a registered charges (other than those related to debentures)?</a>
                        </div>
                        <div id="faqEight" class="panel-collapse collapse">
                            <p class="panel-body">To register a charge or make modification in registered charges (other than those related to debentures), Form CHG-1 needs to be filed.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqNine">
                            <a>9. How can I report repayment or satisfaction of registered charges?</a>
                        </div>
                        <div id="faqNine" class="panel-collapse collapse">
                            <p class="panel-body">In case you want to report repayment or satisfaction of registered charges, you need to file Form CHG-4 (satisfaction of charge). This form is applicable for both the type of charges.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>

