@{
    PageData["keyword"] = "close your private limited company, winding up a company";
    PageData["description"] = "Winding up your private limited company . It can be done through online at Rs. 15,279. ✓EMI available.";
}

<section class="page-banner">
    <div class="banner">
        <img src="images/closePrivateLimitedCompany.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header color-orange">Winding Up a Private Limited Company</h1>
                <p class="color-white color-orange">A tedious, but very necessary, procedure that can even take over a year to complete.</p>
            </div>
           
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Winding Up a Private Limited Company</h2>
                <p class="text-justify">Winding up a Private Limited Company is a tedious, but necessary procedure. Without doing so, you would need to annually meet the requirements of the Registrar of Companies (which means spending money on audit and compliances). The bigger reason you would want to do this, of course, is because it releases the assets and investments made by you.</p>
                <h2 class="pageHeading">What it Involves</h2>
                <div class="essential">
                    <h4>Public Accountant</h4>
                    <p class="text-justify">A public accountant would be appointed by the court as a liquidator. The powers of the directors would devolve upon this person and he would be primarily responsible for accumulating all the assets of the company and paying off its debts. The surplus would then be distributed among the members.</p>
                </div>
                <div class="essential">
                    <h4>Documents Required</h4>
                    <p class="text-justify">A statement of account has to be prepared, stating that there are no assets and liabilities except share capital and profit and loss debit balance. An affidavit and indemnity needs to be executed by all directors. If there is any unsecured loan, a waiver letter should be submitted.</p>
                </div>
                <h2 class="pageHeading">Procedure for Winding Up</h2>
                <div class="essential">
                    <h4>30 Working Days</h4>
                    <p class="text-justify">The statement of accounts must be submitted no more than a month before submission of the application. This is a declaration to the RoC that only what is submitted is to be considered and that the company has no other assets or liabilities.</p>
                </div>
                <div class="essential">
                    <h4>25 Working Days</h4>
                    <p class="text-justify">Within a month of the submission of the statement of accounts, the application must be submitted along with the documents mentioned above. Our representatives will guide you through the entire procedure.</p>
                </div>
                <div class="essential">
                    <h4>3 Months</h4>
                    <p class="text-justify">It takes at least two to three months to complete the closure of your company, but it could take much longer, depending on the findings of the liquidator appointed.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
