<div class="">
    <div class="img_pic"><img class="img-responsive" src="../images/Services-banner/cloud-service.jpg" alt="Cloud Service Provider In India | Cloud Service Provider In USA" title="Cloud Service Provider In India | Cloud Service Provider In USA"> </div>
</div>

<div class="services">

<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 left">
                <h2>Cloud <span>Services</span></h2>
            </div>
            <div class="col-md-8 right">
                <p>In today's fast-paced global business scenario, organizations can easily access, scalable and cost-effective software solutions. This function is performed with the inherent characteristics of cloud technology, like on-demand, speed, agility, scalability, responsiveness and above all, cost-effectiveness.</p>

                <p>Organizations are willing to leverage these benefits of cloud computing but are not sure how to do so. At Tridhya Tech Private Limited, we offer our expertise and years of experience to deliver the best possible Cloud based solutions on clients' requirements and long-term business goals. We have successfully delivered SaaS based ERP and other products, using cloud platform. We provide solutions on Microsoft Azure, Amazon Web Services (AWS), Office365, and others. We also offer Salesforce Customization & Integration Services.</p>
            </div>
        </div>
    </div>
</section>


<section class="section2">
    <div class="container">
        <div class="title">
            <h4>Services:</h4>
        </div>

        <p>With our expertise and years of experience, we offer the below Cloud Services:</p>

        <p><span>Cloud Advisory Services</span><br>Our cloud technology experts carry out an in-depth analysis of your existing IT infrastructure and business requirements and advises on the cloud strategies, roadmap, and selection of the right platform.</p>
        <hr>
        <p><span>Cloud Application Development Services</span><br>We have expertise in developing and deploying cloud applications using industry standard tools and technologies, with other on-premise or cloud applications.</p>
        <hr>
        <p><span>Cloud Integration Services</span><br>We have expertise in integrating applications for scenarios like on-premise to cloud, cloud to on-premise, and cloud to cloud.</p>
        <br>
        <p><span>Cloud Migration and Implementation Services</span><br>Our cloud migration and implementation services include creating private clouds, migration to public clouds, SaaS Enablement, and implementation on PaaS / IaaS.</p>
        <hr>
        <p><span>Cloud Management Services</span><br>Utilizing our mission-critical applications on cloud ecosystem.</p>

    </div>
</section>

<section class="section3">
    <div class="container">
        <div class="title">
            <h4>Expertise:</h4>
        </div>
            <p>We hold expertise in:</p>
        <div class="tech-list">
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/cloud-services')">
            </div>
        </div>
        @*<div class="tech-list">
            <div class="tech-list">
                <?php
                $techname ="services/cloud-services/";
                $techurl = "../images/services/cloud-services/";
                tech_image($techname,$techurl,$dir_img_path);
                ?>
            </div>
        </div>*@
    </div>
</section>

<section class="section4">
    <div class="container">
    <div class="title">
        <h4>Experience</h4>
    </div>
        <p>We have successfully delivered cloud based solutions across multiple domains like:</p>

        <ul class="list1 column-count">
            <li itemscope itemtype="http://schema.org/Service">Oil & Gas, Mining</li>
            <li itemscope itemtype="http://schema.org/Service">Energy & Utilities</li>
            <li itemscope itemtype="http://schema.org/Service">Shipping, Transportation & Logistics</li>
            <li itemscope itemtype="http://schema.org/Service">Retail</li>
            <li itemscope itemtype="http://schema.org/Service">Healthcare</li>
            <li itemscope itemtype="http://schema.org/Service">Travel & Hospitality</li>
            <li itemscope itemtype="http://schema.org/Service">BFSI </li>
            <li itemscope itemtype="http://schema.org/Service">Media & Entertainment</li>
            <li itemscope itemtype="http://schema.org/Service">Sports</li>
            <li itemscope itemtype="http://schema.org/Service">Education</li>
        </ul>
    </div>
</section>
</div>