<img src="../images/Solutions/banner1.1.jpg" alt="crm solution" title="CRM Solutions Provider | CRM Solutions Provider UK">

<div class="solution">
    <section class="section1">
        <div class="container">
            <p>Modern business environment is more dependent on customer relationship management (CRM) whether being a part of their ERP or as a separate business software. For every small businesses or large enterprises, maximum amount of time, effort and resource utilization is done for retaining their existing customers as well as adding new customers in their business. Call of the day is for having a good CRM application with required - customized work flow. Our sales-force excel in providing Vtiger, Sugar CRM, Sales Force and many more so as to provide you CRM solution specific to your requirement and budget.</p>
        </div>
    </section>

    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Features</h4>
            </div>
            <ul class="list1 column-count">
                <li>Email Marketing</li>
                <li>Project Management</li>
                <li>Customer Portal</li>
                <li>Calendar and Task Management</li>
                <li>Reporting</li>
                <li>Document and File Management</li>
                <li>Teams & Access Control</li>
                <li>Inventory Management</li>
                <li>Integrations and Extensions</li>
            </ul>
        </div>
    </section>


    <section class="section3">
        <div class="container">
            <div class="title">
                <h4>Screenshots</h4>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/Build3.png">
                        <img src="../images/Solutions/Build3.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/Calendar.png">
                        <img src="../images/Solutions/Calendar.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/Documents.png">
                        <img src="../images/Solutions/Documents.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/PivotReport1.png">
                        <img src="../images/Solutions/PivotReport1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
