<img src="../images/Solutions/E-commerce-slide.jpg" alt="ecommerce solution" title="Ecommerce Solution Provider USA | Ecommerce Payment Solutions UK">

<div class="solution">
<section class="section1">
    <div class="container">
        <p>Creating e-commerce solutions using Magento, Woocommerce, Prestashop and many other platforms have become a core strength of Tridhya Tech Private Limited. We have achieved this by years of experience in developing and delivering solutions to many clients across more than 20 countries by our team. Simply ask for free POC and experience of Ecommerce Solution Providing services.</p>
    </div>
</section>

<section class="section2">
    <div class="container">
        <div class="title">
            <h4>Features</h4>
        </div>
        <ul class="list1 column-count">
            <li>Analytics and Reporting</li>
            <li>Product Browsing</li>
            <li>Catalog Browsing</li>
            <li>Catalog Management</li>
            <li>Customer Accounts</li>
            <li>Order Management</li>
            <li>Payment</li>
            <li>Shipping</li>
            <li>Checkout</li>
            <li>Search Engine Optimization</li>
            <li>International Support</li>
            <li>Marketing Promotions and Tools</li>
            <li>Site Management</li>
        </ul>
    </div>
</section>

<section class="section3">
    <div class="container">
        <div class="title">
            <h4>Screenshots</h4>
        </div>
        <div clss="row">
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_login.png">
                    <img src="../images/Solutions/ecommerce_login.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_cate.png">
                    <img src="../images/Solutions/ecommerce_cate.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_cate1.png">
                    <img src="../images/Solutions/ecommerce_cate1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_cart1.png">
                    <img src="../images/Solutions/ecommerce_cart1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_cart.png">
                    <img src="../images/Solutions/ecommerce_cart.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_home.png">
                    <img src="../images/Solutions/ecommerce_home.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_list.png">
                    <img src="../images/Solutions/ecommerce_list.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_list1.png">
                    <img src="../images/Solutions/ecommerce_list1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_listing.png">
                    <img src="../images/Solutions/ecommerce_listing.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_listing1.png">
                    <img src="../images/Solutions/ecommerce_listing1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
            <div class="col-lg-3 col-sm-4 col-xs-6">
                <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/ecommerce_product.png">
                    <img src="../images/Solutions/ecommerce_product.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                </a>
            </div>
        </div>
    </div>
</div>
</div>