@{
    PageData["keyword"] = "ESI Return";
    PageData["description"] = "File your ESI return online through Tridhya Tech Private Limited for just Rs.700. Tridhya Tech Private Limited also provides ESI return and ESI payment due date reminders for employers.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/esiReturn.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily File Employee's State Insurance (ESI) Return</h1>
                <p class="color-white">ESI return must be filed monthly by all persons and entities having a ESI registration.</p>
            </div>
        
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">ESI Return Filing and Due Date</h2>
                <p class="text-justify">Employee State Insurance (ESI) is a social security and insurance scheme for workers. ESI scheme protects worker's interest in case of contingencies like temporary or permanent disablement, employment injury, sickness, maternity, death by employment injury etc. ESI Registration is mandatory for every employer employing 10 or more workers. Every workers who earn less than Rs. 15000 monthly wages pays 1.75% of wages and employer contributes 4.75% of wages towards ESI payment. The collected fund is managed by ESI as per the Employee State Insurance Act. The ESI fund is managed by the ESI Corporation (ESI) according to rules and regulations stipulated therein the ESI Act 1948, which oversees the provision of medical and cash benefits to the employees and their family through its large network of branch offices, dispensaries and hospitals throughout India. ESI is an autonomous corporation under Ministry of Labour and Employment, Government of India. Tridhya Tech Private Limited can help you obtain ESI registration for your business.</p>
                <p class="text-justify">ESI registration is compulsory for all the employers who employs 10 or more workers, who are employed in insurable employment. Employer’s contribution towards ESI is 4.75% of wages and workers’ contribution is 1.75%. Total 6.5% is contributed every month. ESI provides range of benefits to the workers e.g. hospitals, ambulances, medical facilities for dependents etc. Employer has to file half yearly return of the contributions with the ESI department. Contribution towards ESI must be paid by 21st of every month following the month of decuction.</p>
                <h2 class="pageHeading">Reasons to Register a ESI</h2>
                <div class="essential">
                    <h4>ESI</h4>
                    <p class="text-justify">ESI scheme protects worker's interest in case of contingencies like temporary or permanent disablement, employment injury, sickness, maternity, death by employment injury etc.</p>
                </div>
                <div class="essential">
                    <h4>ESI Benefits</h4>
                    <p class="text-justify">The benefits received by Insured Person can be classified as Medical benefits and Cash benefits.</p>
                </div>
                <div class="essential">
                    <h4>ESI Registration</h4>
                    <p class="text-justify">ESI registration is compulsory for all the employers who employs 10 or more workers, who are employed in insurable employment.</p>
                </div>
                <div class="essential">
                    <h4>Continued Compliance</h4>
                    <p class="text-justify">Organizations under ESI coverage must file annual return showing the changes if any during the preceding year. Return of contributions enclosing copy of all ESI contributions paid must be submitted once every six months.</p>
                </div>
                <div class="essential">
                    <h4>ESI Contribution</h4>
                    <p class="text-justify">Employer’s contribution towards ESI is 4.75% of wages and worker's contribution is 1.75%. Total 6.5% is contributed every month.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
