<img class="img-responsive" src="../images/career/Hire-BDE.jpg" alt="">



<section class="section1">
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="title">
                    <h4>Job Opening Details</h1>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Job Title :</th>
                            <td>Fresher Business Development Executive</td>
                        </tr>
                        <tr>
                            <th>Job Code :</th>
                            <td>FREBDE</td>
                        </tr>
                        <tr>
                            <th>Location :</th>
                            <td>Ahmedabad</td>
                        </tr>
                        <tr>
                            <th>Openings :</th>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Salary Range :</th>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th>Experience :</th>
                            <td>Fresher</td>
                        </tr>
                        <tr>
                            <th>Qualification :</th>
                            <td>MBA / BE / MCA / M.Sc(IT) / PGDBM / Equivalent</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="title">
                    <h4>Required Skills</h4>
                </div>
                <ul class="list1">
                    <li>A good communication skill in English is must</li>
                    <li>Able to rewrite content &amp; Articles</li>
                    <li>Understanding of SEO factors</li>
                    <li>Knowledge of analytics and webmaster tools</li>
                    <li>Understanding of social media engagement and optimization</li>
                </ul>
            </div>
        </div>
        <hr>
        <p>To apply for this position please send your CV at <a href="mailto:career@shaligraminfotech.com">career@shaligraminfotech.com</a> with Job Code in subject line and also mention your current salary. </p>

    </div>
</section>
