<img class="img-responsive" src="../images/career/Hire-ASP.NET.jpg" alt="">

<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="title">
                    <h4>Job Opening Details</h1>
                </div>
                <table class="table">
                    <tr>
                        <th>Job Title :</th>
                        <td>Fresher ASP.NET Developer</td>
                    </tr>
                    <tr>
                        <th>Job Code :</th>
                        <td>FREASPNET</td>
                    </tr>
                    <tr>
                        <th>Location :</th>
                        <td>Ahmedabad</td>
                    </tr>
                    <tr>
                        <th>Openings :</th>
                        <td>5</td>
                    </tr>
                    <tr>
                        <th>Salary Range :</th>
                        <td>-</td>
                    </tr>
                    <tr>
                        <th>Experience :</th>
                        <td>Fresher</td>
                    </tr>
                    <tr>
                        <th>Qualification :</th>
                        <td>Graduate / Equivalent</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="title">
                    <h4>Required Skills</h4>
                </div>
                <ul class="list1">
                    <li>Passion for ASP.NET</li>
                    <li>Outstanding ability to think creatively, and identify and resolve problems</li>
                    <li>Ability to clearly and effectively articulate thoughts and points</li>
                    <li>High levels of integrity, autonomy, and self-motivation</li>
                </ul>
            </div>
        </div>
        <hr>
        <p>To apply for this position please send your CV at <a href="mailto:career@shaligraminfotech.com">career@shaligraminfotech.com</a> with Job Code in subject line. </p>
    </div>
</section>
