@{
    PageData["keyword"] = "FSSAI Registration, FSSAI License";
    PageData["description"] = "Get online FSSAI Registration or License from Tridhya Tech Private Limited for just Rs.10,710. FSSAI Registration is required for restaurants, food manufacturers and more.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/fassaiRegistration.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily Obtain Food Safety and Standards Authority of India (FSSAI) Registration</h1>
                <p class="color-white">FSSAI registration or license is required for all entities involved in the production, distribution and transportation of food products.</p>
            </div>
          
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Online FSSAI Registration and License</h2>
                <p class="text-justify">Food Safety and Standards Authority of India is established to exercise the powers granted to, and to perform the functions assigned to it under the Food Safety and Standards Act. It is called as the Food Authority. The Food Authority is a body corporate, having perpetual succession and a seal with power to acquire, hold and dispose of property, both movable and immovable. We can consult in your Responsibilities, Liability, Food recall procedures with our years of experience.</p>
                <p class="text-justify">FSSAI License is issued by the Food Safety and Standards Authority of India (FSSAI), Ministry of Family Health & Welfare, Government of India. Application to commence a food business must be made to the FSSAI in the prescribed format. Based on the application and supporting documents, FSSAI will accord approval. Tridhya Tech Private Limited can help your business obtain FSSAI Registration or License quickly and hassle-fee. Talk to our Business Advisors and we will help you get the necessary FSSAI approvals and registrations.</p>
                <h2 class="pageHeading">Reasons to Register a FSSAI Registration</h2>
                <div class="essential">
                    <h4>FSSAI Registration</h4>
                    <p class="text-justify">FSSAI Registration issued by FSSAI is required for carrying out activities related to any stage of manufacturing, processing, packaging, storage, transportation, distribution of food.</p>
                </div>
                <div class="essential">
                    <h4>Hawkers and Cottage Industries</h4>
                    <p class="text-justify">Petty retailer, hawker, itinerant vendor or a temporary stallholder or small scale or cottage or such other industries relating to food business or tiny food business operator are exempt from obtaining FSSAI Registration or License.</p>
                </div>
                <div class="essential">
                    <h4>License Categories</h4>
                    <p class="text-justify">FSSAI License can be divided into two categories. To provide scientific advice and technical support to Central Government and State Governments in the matters of framing the policy and rules in areas which have a direct or indirect bearing of food safety and nutrition.</p>
                </div>
                <div class="essential">
                    <h4>Validity</h4>
                    <p class="text-justify">Once a FSSAI License is issued, Validity of FSSAI License vary from one to five year depending on the fee paid by the person.</p>
                </div>
                <div class="essential">
                    <h4>Location Specific</h4>
                    <p class="text-justify">A separate FSSAI Registration or License required and issued for each location where food is handled. Therefore, an entity may have to obtain multiple FSSAI licenses if it operates at multiple locations.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
