<img src="../images/Solutions/hr-hinds-human-resources-keyboard.jpg" alt="app development" title="HR And Job Portal Solution | HR And Job Portal Solution USA">

<div class="solution">
    <section class="section1">
        <div class="container">
            <p>Human resources are the backbone of any endeavour. The team in the human resources management is not seen in the forefront, but by even sitting in the back-seat, they run the whole show and outshine a company. The ups and downs are managed and taken care of by this silent team, who provides solutions for all problems that erupt in an organization. The human resource at Tridhya Tech Private Limited is known for their fantastic work; ranging from the management of job portals to finding appropriate resources to the organized way by which an organization keeps on functioning and gain success speedily! </p>
        </div>
    </section>

    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Features</h4>
            </div>
            <ul class="list1 column-count">
                <li>Improve ability to appoint highly-skilled talent</li>
                <li>Search Candidate</li>
                <li>Email notification alerts</li>
                <li>Provides an administrative interface to handle candidate applications</li>
                <li>Candidate Management Module</li>
                <li>Streamline the selection process</li>
            </ul>
            </div>
        </div>
    </section>


    <section class="section3">
        <div class="container">
            <div class="title">
                <h4>Photos</h4>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-xs-6 sceeenshot">
                    <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/AddCandidate.png">
                        <img src="../images/Solutions/AddCandidate.png" class="thumbnail img-responsive">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 sceeenshot">
                    <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/CandidateList.png">
                        <img src="../images/Solutions/CandidateList.png" class="thumbnail img-responsive">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/Interview schedule.png">
                        <img src="../images/Solutions/Interview schedule.png" class="thumbnail img-responsive">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/PeopleAndGroup.png">
                        <img src="../images/Solutions/PeopleAndGroup.png" class="thumbnail img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>