@{
    PageData["keyword"] = "Import Export Code, IE Code, IEC Code Registration";
    PageData["description"] = "Tridhya Tech Private Limited is a leader in online tax registration services in India. Tridhya Tech Private Limited can help you obtain import export code or IE code in India from DGFT.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/importExportCode.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Import-Export Code</h1>
                <p class="color-white">All businesses engaged in importing and exporting goods must have an Importer Exporter Code</p>
                <ul>
                    <li>
                        <h4>Data Check</h4>
                    </li>
                    <li>
                        <h4>Vendor Connect</h4>
                    </li>
                    <li>
                        <h4>Receipt of License</h4>
                    </li>
                </ul>
            </div>
         
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is Import Export Code?</h2>
                <p class="text-justify">Import Export Code registration is required by a person for exporting or importing goods. It is a 10 digit code which is issued by the Directorate General of Foreign Trade. All businesses which are engaged in Import and Export of goods require registering Import Export Code. IE code has lifetime validity. Importers are not allowed to proceed without this code and exporters can’t take benefit of exports from DGFT, customs, Export Promotion Council, if they don’t have this code.</p>
                <p class="text-justify">The IE Code must be quoted by importers while clearing customs. Also, banks require the importers IE Code while sending money abroad. For exporters, IE Code must be quoted while sending shipments. And banks require the exporters IE Code while receiving money from abroad.</p>
                <h2 class="pageHeading">What You Need To Know</h2>
                <div class="essential">
                    <h4>No Filings Apply</h4>
                    <p class="text-justify">IE Code does not require filing of any return. Once, an IE Code is issued there are no further procedures required to maintain validity of the IE Code. Even if import or export transactions occur, there are no filings required to DGFT.</p>
                </div>
                <div class="essential">
                    <h4>National Validity</h4>
                    <p class="text-justify">IE Code is issued for the lifetime of the entity and requires no renewal. So once an IE Code is obtained, it can be used by that entity for all its import or export transactions without any further hassles.</p>
                </div>
                <h2 class="pageHeading">IEC Process</h2>
                <div class="essential">
                    <h4>1 Working Day</h4>
                    <p class="text-justify">You need to send in copies of PAN cards, identity, address proofs and four passport-sized photographs of the proprietor/partners/directors. Private limited companies must also submit the Memorandum and Articles of Association, and Certificate of Incorporation, while Partnerships must submit the Partnership Agreement. Details of the entity's current account and the type of exporter (in case of manufacturer, MSME registration details would need to be provided) need to be sent. A copy of the company's letterhead may also be required.</p>
                </div>
                <div class="essential">
                    <h4>5 Working Days</h4>
                    <p class="text-justify">We will file the application in the required Aayaat Niryaat Form 2A (ANF 2A) format to the Regional Authority of the Directorate General of Foreign Trade (DGFT) in the region where the registered office of the company is situated.</p>
                </div>
                <div class="essential">
                    <h4>7 Working Days</h4>
                    <p class="text-justify">Within two working days, the IEC should be ready. Unless the documents are not in order or the inspector asks for additional documents, the registration process will be completed as soon as you submit them. You will receive the IEC code at this time.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container">
    <div class="row">
        <h3 class="pageHeading text-center mt-30 mb-30">Types of Government Registrations</h3>
        <div class="col-sm-12 table-responsive compare-table">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Importer-Exporter Code</th>
                        <th>ESI Registration</th>
                        <th>MSME Registration</th>
                        <th>Professional Tax Registration</th>
                        <th>FSSAI Registration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Who It's For</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightTopTDBorder">Importers &amp; exporters</td>
                        <td class=greyBg>Sellers of goods</td>
                        <td class=greyBg>All businesses</td>
                        <td class=greyBg>All employers</td>
                        <td class=greyBg>Service providers</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>When You Need It</strong></h5>
                        </td>
                        <td class=tablehighlightTD>For any imports or exports</td>
                        <td class=greyBg>When sales cross Rs. 5 lakh</td>
                        <td class=greyBg>Within 30 days of operations</td>
                        <td class=greyBg>Within 30 days of operations</td>
                        <td class=greyBg>When sales cross Rs. 9 lakh</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Returns to be Filed</strong></h5>
                        </td>
                        <td class=tablehighlightTD>No</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Issuing Authority</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightBottomTDBorder">Directorate General of Foreign Trade</td>
                        <td class=greyBg>State Government</td>
                        <td class=greyBg>Municipal Corporation</td>
                        <td class=greyBg>State Government</td>
                        <td class=greyBg>Central Government</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary" href="./esi-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./msme-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./professional-tax"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./fssai-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
