<a href="#" title="Tridhya Tech Private Limited Java | Java Web Development"><img src="~/Images/java.jpg" alt=""></a>

<div class="services">
    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>Java</h2>
            </div>
            <ul class="list1">
                <li>Java is a set of many computer software and specifications developed by Sun Microsystems.</li>
                <li>It was later acquired by Oracle Corporation that provides a system for developing application software and also deploying it in a cross-platform computing environment.</li>
                <li>Java is one of the most-used technologies for a wide range of computing platforms ranging from embedded services to mobile phones to enterprise services and supercomputers. We provide services like Java Software Development,J2EE Application Development,Enterprise Java Development. </li>
                <li>Less common Java applets run in sandboxed environments and can also be embedded in HTML pages. </li>
                <li>Codes are produced mainly by writing in the Java programming language. The Java syntax borrows from C and C++ and its memory is managed via its integrated automatic garbage collection.</li>
            </ul>
        </div>
    </section>

    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Services</h4>
            </div>
            <p>We offer the following services:</p>
            <ul class="list1 column-count">
                <li>Java Web Development</li>
                <li>Java Application Development</li>
                <li>Java Software Development</li>
                <li>Enterprise Java Development</li>
                <li>Java Mobile Development</li>
                <li>Java Migration</li>
                <li>Custom Java Development</li>
                <li>Java Professional Services</li>
                <li>Android Java Application Development</li>
                <li>J2EE Application Development</li>
                <li>Java Struts Development</li>
            </ul>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="title">
                <h4>Portfolio :</h4>
            </div>
            <div class="port_content">
                <div id="isotope-container" class="isotope">
                    <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                    </div>
                    @*<div static-include="~/Views/SCPages/GetPortfolioListPartial.html" id="particularportList">
                        </div>*@
                </div>
            </div>
        </div>
    </section>
</div>
