<img src="../images/Solutions/chat2.png" alt="Live Chat and Support Ticket System | Live Chat Support Skype" title="Live Chat and Support Ticket System | Live Chat Support Skype">

<div class="solution">
    <section class="section1">
        <div class="container">
            <p style="text-align: justify;">Live chat is the fastest way to connect with your customers and reach potential clients in real time. Tridhya Tech Private Limited provides an online chat solution with the number of features that comfort people to communicate each other.</p>
        </div>
    </section>

    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Features</h4>
            </div>
            <ul class="list1 column-count">
                <li>Custom Widget</li>
                <li>Triggers</li>
                <li>Chat History Portal</li>
                <li>Shortcuts</li>
                <li>Multiple Agents</li>
                <li>Multi Lingual</li>
                <li>Desktop Notifications</li>
                <li>Aliases</li>
                <li>Departments</li>
                <li>Manage Sites</li>
                <li>Custom Pages</li>
                <li>Attention Bubble</li>
                <li>Ban Visitors</li>
                <li>Sound Settings</li>
            </ul>
        </div>
    </section>


    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Screenshots</h4>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat1.png">
                        <img src="../images/Solutions/livechat1.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class=" fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat2.png">
                        <img src="../images/Solutions/livechat2.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat3.png">
                        <img src="../images/Solutions/livechat3.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat4.png">
                        <img src="../images/Solutions/livechat4.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat5.png">
                        <img src="../images/Solutions/livechat5.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat6.png">
                        <img src="../images/Solutions/livechat6.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat7.png">
                        <img src="../images/Solutions/livechat7.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat8.png">
                        <img src="../images/Solutions/livechat8.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat9.png">
                        <img src="../images/Solutions/livechat9.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
                <div class="col-lg-3 col-sm-4 col-xs-6 col-xs-12 sceeenshot">
                    <a class="fancybox" rel="ligthbox" data-fancybox-group="gallery" href="/../images/Solutions/livechat10.png">
                        <img src="../images/Solutions/livechat10.png" class="thumbnail img-responsive" style="width:250px; height:200px">
                    </a>
                </div>
            </div>
        </div>
    </section>

</div>
