@{
    PageData["keyword"] = "LLP Annual Filing, MCA Annual Filing";
    PageData["description"] = "Tridhya Tech Private Limited is a leader in online compliance services in India. File annual return for your Limited Liability Partnership with MCA through Tridhya Tech Private Limited.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/limitedLiabilityPartnership.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily Maintain Limited Liability Partnership Compliance</h1>
                <p class="color-white">For a Limited Liability Partnership, LLP returns must be filed periodically to maintain compliance and avoid heavy penalty for non-compliance.</p>
            </div>
           
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">LLP Annual Filing</h2>
                <p class="text-justify">Limited liability partnerships (LLPs) have very few compliances to fulfil, in comparison to Private Limited Companies. LLPs need only file information related to statement of accounts and annual returns on an annual basis. LLPs in India must file its Annual Return within 60 days from the end of close of financial year and Statement of Account & Solvency within 30 days from end of six months of close of financial year. Unlike Companies, LLPs mandatorily have to maintain their financial year, as April 1st to March 31st. Therefore, LLP annual return is due on May 30th and the Statement of Account & Solvency is due on October 30th of each financial year.</p>
                <p class="text-justify">LLPs are separate legal entities; therefore, it is the responsibility of the Designated Partners to maintain proper book of accounts and file annual return with the MCA each financial year. It should be noted that LLPs whose annual turnover exceeds Rs. 40 lakh or whose contribution exceeds Rs. 25 lakh are required to get their accounts audited by a qualified Chartered Accountant mandatorily. Therefore, LLP who do not have to get the accounts audited if it satisfies the above condition, making the annual filing process a simple and easy one. Tridhya Tech Private Limited can help file the Annual return for your LLP.</p>
                <h2 class="pageHeading">Reasons to LLP Annual Return Filing</h2>
                <div class="essential">
                    <h4>Annual Return</h4>
                    <p class="text-justify">Annual return is a mandatory filing to be made by all LLPs in India. The annual return must be electronically filed in the prescribed format with the Ministry of Corporate Affairs.</p>
                </div>
                <div class="essential">
                    <h4>Statement of Accounts and Solvency Due Date</h4>
                    <p class="text-justify">Statement of Accounts and Solvency of a LLP is due within 30 days from the end of six months of close of financial year. Therefore the Statement of Accounts and Solvency of a LLP is due on or before October 30th of each financial year.</p>
                </div>
                <div class="essential">
                    <h4>Statement of Accounts and Solvency</h4>
                    <p class="text-justify">Statement of Accounts and Solvency is a mandatory filing that is required for all LLPs in India. Statement of Accounts and Solvency contains a declaration by the designated partners and related to financial position of the LLP.</p>
                </div>
                <div class="essential">
                    <h4>Newly Incorporated LLP</h4>
                    <p class="text-justify">If a LLP was incorporated on or after 1st October of a financial year, then the LLP can close its first financial year either on the coming or next 31st March.</p>
                </div>
                <div class="essential">
                    <h4>Annual Return Due Date</h4>
                    <p class="text-justify">Annual Return is a summary of an LLP’s Partners. It is also an indication of whether there is any change in the management. Every LLP is required to file Annual Return to the Registrar within 60 days from the closure of a financial year. That is, the Annual Return has to be filed on or before 30th May every year.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
