@{
    PageData["keyword"] = "Logo Designing, Design Logo, Create a Logo";
    PageData["description"] = "Tridhya Tech Private Limited is a leader in online logo designing and trademark filing. Tridhya Tech Private Limited can help you create a professional logo at just Rs.4,410.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/logoDesigning.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily Create a Logo</h1>
                <p class="color-white">Logos are distinct and memorable designs that are used to represent a business or enterprise. Logo designing is among the first tasks undertaken while starting a new venture.</p>
            </div>
         
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Logo Designing</h2>
                <p class="text-justify">Having a good logo is extremely important to your business and to the branding of your company’s name, it is also important to help attract new customers. When people see an eye-catching logo on advertisements or promotional products, it will stand out. Additionally, most of the times people remembers seeing a cool logo for a company that provides what they need, which is even better because you would probably be the one they contact first.</p>
                <p class="text-justify">Logos are the chief visual component of a company's overall brand identity. The logo appears on stationery, websites, business cards and advertisements. For that reason, a well-designed logo can contribute to business success, while a substandard logo can imply amateurishness and turn off potential customers. However, a logo should cohere well with other aspects of a company's visual presentation. No logo, however well designed, can look good when surrounded by contradictory graphical elements or inconsistent fonts. This is why a logo is the basic unit of a larger brand identity that includes company fonts, colors and document-design guidelines.</p>

                <h2 class="pageHeading">Important Aspects of Logo Designing</h2>
                <div class="essential">
                    <h4>Emblem</h4>
                    <p class="text-justify">Unlike combination marks, which position text and symbols side-by-side, emblems involve placing text inside of a symbol so that the two are practically inseparable. They tend to resemble the look of an official badge or seal, making them a common choice for government and political organizations, but they’re also used by well-known private companies like Starbucks Coffee and Harley Davidson.</p>
                </div>
                <div class="essential">
                    <h4>Lettermark</h4>
                    <p class="text-justify">Simplicity is key when creating a logo, and lettermarks are about as simple as it gets. They’re similar to wordmarks that comprises of text, but highlight the company’s initials rather than their full name.</p>
                    <p class="text-justify">This can be handy if your organization’s name is difficult to pronounce or especially long. After all, “IBM” makes for a much catchier and more concise logo than “International Business Machines.” When you know that you’ll have minimal space available for branding (like when working with a very small product), lettermarks are a good way to save on size and still provide an indication of your brand’s name.</p>
                </div>
                <div class="essential">
                    <h4>Combination Mark</h4>
                    <p class="text-justify">56% of the top brands’ logos incorporate both text and a symbol. Combination marks are the best of both worlds, so it makes sense that they’d be so popular. They spell out the name of a company while simultaneously associating it with a visual icon.</p>
                    <p class="text-justify">Because combination marks are more complex, they require more time and thought to design effectively. But that extra work gives you a logo design that’s more versatile than most. These logo types can often be split apart, giving you the ability to use the text or the symbol independently if the situation calls for it.</p>
                </div>
                <div class="essential">
                    <h4>Wordmark</h4>
                    <p class="text-justify">Wordmarks work best when the name of the company is very distinctive. Google has a simple, minimalist logo design, but it works for them in part because their name is so quirky and memorable (not to mention short). The same can be said for Yahoo, Pinterest, and other brands that use relatively simple text as their company logo. Text only logo styles are an excellent choice for smaller companies who are just getting their feet off the ground. When getting the word out about your business is crucial, it’s not a bad idea to have a logo that very clearly communicates the name of your company.</p>
                </div>
                <div class="essential">
                    <h4>Brandmark</h4>
                    <p class="text-justify">A symbol can express certain ideas much more effectively than text. Think of how well traffic signs are able to associate images with information (“merge left,” “school crossing,” and so forth) and, without a single word, compel you to take action. In the same way, brandmark logos (which consist only of a symbol or icon) can give your audience a clear representation of your company’s identity without the use of words or letters.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>

