<a href="#" title="Tridhya Tech Private Limited Microsoft Dot Net | ASP.NET Web Development"><img src="~/Images/dotnet.jpg" alt="Tridhya Tech Private Limited Microsoft Dot Net | ASP.NET Web Development"></a>


<div class="services">

    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>Microsoft .Net</h2>
            </div>
            <ul class="list1">
                <li>Our Microsoft engineers are highly skilled with experience ranging from 1 to 15 years and highly skilled for developing solutions using Microsoft .NET Framework 4.</li>
                <li>Their functional analysis, technical design and development skills ensure that you get the finest business solution as your e-commerce, retail, desktop, web based, or custom-built software applications.</li>
                <li>Our techno-functional capabilities, quality assurance and structured project management practices will ensure that you get your projects delivered on time with your expected outcome.</li>
            </ul>
        </div>
    </section>

    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Services</h4>
            </div>
            <ul class="list1 column-count">
                <li>ASP.NET Web Development</li>
                <li>Windows Application Development</li>
                <li>Silverlight Application Development</li>
                <li>Azure Application Development</li>
                <li>Software Product Development</li>
                <li>Custom Software Development</li>
                <li>Enterprise Application Development</li>
                <li>Mobile Application Development</li>
            </ul>
        </div>
    </section>

    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Portfolio</h4>
            </div>
            <div class="port_content">
                <div id="isotope-container" class="isotope">
                    <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                    </div>
                    @*<div static-include="~/Views/SCPages/GetPortfolioListPartial.html" id="particularportList">
                        </div>*@
                </div>
            </div>
        </div>
    </section>

</div>
