@{
    PageData["keyword"] = "Online MSME Registration, online SSI Registration";
    PageData["description"] = "Tridhya Tech Private Limited is a leader in online business registration services in India. Tridhya Tech Private Limited can help MSME registration or SSI registration for your business.";
}


<div class="loader img" style="display:none">
    <p><img src="./Images/Spinner.gif" style="height:100px; width:100px"></p>
</div>
<section class="page-banner">
    <div class="banner">
        <img src="images/msmeRegistration.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Small Scale Industries or Micro, Small and Medium Enterprises Registration</h1>
                <p class="color-white">As a small enterprise, you can have access to priority sector lending, tax exemptions &amp; capital investment and power tariff subsidies.</p>
                <ul>
                    <li>
                        <h4>Data Check</h4>
                    </li>
                    <li>
                        <h4>Vendor Connect</h4>
                    </li>
                    <li>
                        <h4>Receipt of License</h4>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</section>
@*<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>*@
<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>Free</b> all inclusive fees</h3>
        </div>
        <form name="MsmeForm">
            <div class="sidebar-form ">
                <div class="input-field required">
                    <i class="fa fa-user"></i>
                    <input class="form-input " type="text" placeholder="Name" ng-model="Name" maxlength="40" required />
                </div>
                <div class="input-field required">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="email" placeholder="Email" ng-model="Email" maxlength="50" required />
                </div>
                <div class="input-field required">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Phone" ng-model="Phone" maxlength="12" required />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" ng-click="Savedata(MsmeForm)" />
                </div>
            </div>
        </form>
</div>
</div>
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is SSI/MSME Registration?</h2>
                <p class="text-justify">Micro, Small and Medium sized enterprises (MSME) or Small Scale Industries (SSI) enterprises are the foundation of any economy and are an engine of economic growth, advancing impartial improvement for all. MSME registration or SSI registration helps businesses avail multiple government subsidies and benefits MSMED act.</p>
                <p class="text-justify">
                    MSME Registration or SSI registration under the MSMED Act, Micro, Small and Medium sized enterprises in both the manufacturing and service sector can be obtained. Although getting MSME registration is not mandatory but it is always suggested to small and medium enterprises to get it done as it provides a variety of benefits. Benefits such as rate of interest charged would be very less, tax subsidies, capital investment subsidies and much other support from the government sector.</h2>

                    <h4>What is an SSI/MSME Registration?</h4>
                    <div class="essential">
                <p class="text-justify">Being the backbone of an economy sector, MSME enterprises acts as an engine which helps in the growth of the economy and promoting equitable development. Therefore, to support and promote MSMEs, the Government of India through various subsidies, schemes and incentives promote MSMEs through the MSMED Act. To utilise all the benefits which are offered under MSME act, the enterprise should be registered as MSME with the concerned department.</p>
            </div>
            <div class="essential">
                <h4>Is SSI/MSME Registration voluntary or mandatory?</h4>
                <p class="text-justify">SSI/MSME registration is totally voluntary. Businessmen and entrepreneurs usually use to advantages offered under it. The registration process is quite easy. You can easily available it when many businesses opt for it over other registrations.</p>
            </div>
            <div class="essential">
                <h4>Why should I apply before commencing operations?</h4>
                <p class="text-justify">This is because you can avail of a Provisional SSI Registration Certificate (PRC). The PRC will enable the unit to obtain term loans and working capital under priority sector lending and make it easier to procure various NOCs and clearances from regulatory bodies, such as Pollution Control Board.</p>
            </div>
            <div class="essential">
                <h4>What documents are required for the application?</h4>
                <p class="text-justify">You may apply for the PRC without an industrial license in case your unit is listed in Schedule-III of the Industrial Licensing Exemption Notification. Other units must first acquire an industrial license. The unit should also have obtained all other clearances, whether statutory or administrative. For example, a drug license under the drug control order or an NoC from Pollution Control Board, if required. The unit should not violate any locational restrictions in force. The unit should not be owned, controlled or subsidiary of any other industrial undertaking. The PRC is issued based on the application form. No field enquiry is made.</p>
            </div>
            <div class="essential">
                <h4>What are the advantages of SSI registration?</h4>
                <p class="text-justify">The benefits range from cheaper bank loans, Credit prescription (Priority sector lending), differential rates of interest, easy access to credit, Direct Tax exemption, quicker approvals from state and central government bodies, Statutory support, tax rebates, cheaper infrastructure, including electricity and VAT exemptions.</p>
            </div>
            <div class="essential">
                <h4>Why is it essential to maintain records?</h4>
                <p class="text-justify">Any entity with an SSI Registration that fails to follow any regulations laid by the government will be deregistered. Also, in case you exceed the investment limits, as noted below, your firm’s registration will be cancelled.</p>
            </div>
            <h2 class="pageHeading">What You Need To Know</h2>
            <div class="essential">
                <h4>Small Enterprises</h4>
                <p class="text-justify">Small manufacturing enterprises may have upto Rs. 25 lakhs to Rs. 5 crores invested in plant and machinery, while small service enterprises may have upto Rs. 10 lakhs to Rs. 2 crores invested.</p>
            </div>
            <div class="essential">
                <h4>Medium Enterprises</h4>
                <p class="text-justify">Medium manufacturing enterprises may have upto Rs. 5 crores to Rs. 10 crores invested in plant and machinery, while small service enterprises may have upto Rs. 2 crores to Rs. 5 crores invested.</p>
            </div>
            <div class="essential">
                <h4>Micro Enterprises</h4>
                <p class="text-justify">Micro enterprises are the smallest entities, of course. Micro manufacturing enterprises have investment of less than Rs. 25 lakhs in plant and machinery, while micro service enterprises have less than Rs. 10 lakhs invested.</p>
            </div>

            <h2 class="pageHeading">FAQs on SSI/MSME Registration</h2>
            <div class="clearfix"></div>
            <div class="panel-group panel-accordian" id="faqAccordian">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqOne">
                        <a>1. For how long is a Provisional Registration Certificate (PRC) valid?</a>
                    </div>
                    <div id="faqOne" class="panel-collapse collapse">
                        <p class="panel-body">Provisional Registration Certificate (PRC) is valid for 5 years and if the unit is still not under operational then you may still re-apply for it. As soon as you start with your operations, you can easily apply for the Permanent License.</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqTwo">
                        <a>2. What factors are not counted as investment?</a>
                    </div>
                    <div id="faqTwo" class="panel-collapse collapse">
                        <p class="panel-body">For a registration, total plant and machinery cost should be up to Rs. 25 crores for manufacturing units and Rs. 10 crores for service units. While calculating this number, the value of land and building will not be counted toward the total investment. Also, the original cost of the equipment and plant and machinery is taken into account. Depreciation cannot be factored in.</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqThree">
                        <a>3. How does SSI/MSME help me get a loan from a bank?</a>
                    </div>
                    <div id="faqThree" class="panel-collapse collapse">
                        <p class="panel-body">MSMEs are recognised by all the institutions and banks. Special schemes are drafted to recognise them as well. Banks prefer MSMEs instead of normal enterprises to lend loans. The possibility of getting a sanctioned loan is much higher in case of MSME. Bank loan interest rates will also be lower. There may also be preferential treatment in case of delay in repayment.</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFour">
                        <a>4. What benefits are given by state and central government?</a>
                    </div>
                    <div id="faqFour" class="panel-collapse collapse">
                        <p class="panel-body">Many state government prefers enterprises which are registered under MSMED Act. Subsidy such as on power, taxes, and much more is offered by state governments. In most of the states, sales tax exemption is provided purchase preferences is given on goods produced. The enterprise may also relish excise exemption scheme and exemption from certain direct taxes in the initial years of your business.</p>
                    </div>
                </div>
            </div>
            <h2 class="pageHeading">SSI/MSME Registration Process</h2>
            <div class="essential">
                <h4>2 Working Days</h4>
                <p class="text-justify">You need to send in PAN cards, identity and address proofs of the proprietor/partners/directors. Private limited companies must also submit the Memorandum and Articles of Association, Form 32, Form 18 and Certificate of Incorporation, while Partnerships must submit the Partnership Agreement. Finally, the rental agreement for the office address, if it is rented, along with the electricity bill.</p>
            </div>
            <div class="essential">
                <h4>2 Working Days</h4>
                <p class="text-justify">We will file your application with the relevant state office. Some additional documents may need to be submitted at this stage, as the procedure differs with each state. Some states require MSMEs to produce sale bills of machinery and municipal clearance.</p>
            </div>
            <div class="essential">
                <h4>15 Working Days</h4>
                <p class="text-justify">You will be issued a provisional certificate (in case the unit has not commenced production) that is valid for five years. Once your plant is operational, a permanent certificate will be issued.</p>
            </div>
        </div>
    </div>
    
</section>

<section id="two" class="container">
    <div class="row">
        <h3 class="pageHeading text-center mt-30 mb-30">Types of Government Registrations</h3>
        <div class="col-sm-12 table-responsive compare-table">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Small Scale Industry</th>
                        <th>ESI Registration</th>
                        <th>Importer-Exporter Code</th>
                        <th>Professional Tax Registration</th>
                        <th>FSSAI Registration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Who It's For</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightTopTDBorder">Micro, small, medium enterprises</td>
                        <td class=greyBg>Sellers of goods</td>
                        <td class=greyBg>All businesses</td>
                        <td class=greyBg>All employers</td>
                        <td class=greyBg>Service providers</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>When You Need It</strong></h5>
                        </td>
                        <td class=tablehighlightTD>For subsidies and tax breaks</td>
                        <td class=greyBg>When sales cross Rs. 5 lakh</td>
                        <td class=greyBg>Within 30 days of operations</td>
                        <td class=greyBg>Within 30 days of operations</td>
                        <td class=greyBg>When sales cross Rs. 9 lakh</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Returns to be Filed</strong></h5>
                        </td>
                        <td class=tablehighlightTD>No</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Issuing Authority</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightBottomTDBorder">Ministry of Micro Small and Medium Enterprises</td>
                        <td class=greyBg>State Government</td>
                        <td class=greyBg>Municipal Corporation</td>
                        <td class=greyBg>State Government</td>
                        <td class=greyBg>Central Government</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary" href="./esi-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./import-export-code"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./professional-tax"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./fssai-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
