@{
    PageData["keyword"] = "Nidhi Company Registration";
    PageData["description"] = "Nidhi Company is a company registered solely for cultivating the habit of thrift amongst its members. Tridhya Tech Private Limited can help register a Nidhi Company.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/nidhiCompany.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Nidhi Company Registration</h1>
                <p class="color-white">Nidhi Company is an excellent option for persons who involved in any activity related to farming.</p>
                <ul>
                    <li>
                        <h4>One DSC &amp; three DINs</h4>
                    </li>
                    <li>
                        <h4>Company Name Reservation</h4>
                    </li>
                    <li>
                        <h4>RBI Approval</h4>
                    </li>
                </ul>
            </div>
      
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is a Nidhi Company?</h2>
                <p class="text-justify">“Nidhi” is a Hindi word, which means finance or fund. Nidhi means a company which has been incorporated with the object of developing the habit of thrift and reserve funds amongst its members and also receiving deposits and lending to its members only for their mutual benefit.</p>
                <p class="text-justify">A Nidhi company belongs to the category of non-banking finance firms.Recognized under Section 406 of the Companies Act, 2013, it is governed by the central government. The basic business of such a company is to facilitate lending money between the core members of the company. The core idea behind creating a Nidhi Company is to receive funds from members or lend to them, for the mutual benefit of both parties. All lending and borrowing must comply with rules laid down in Chapter XXIV of Company Rules, 2014.</p>
                <h2 class="pageHeading">Basics of a Nidhi Company</h2>
                <div class="essential">
                    <h4>Regulated by MCA &amp; RBI</h4>
                    <p class="text-justify">The financial dealings and all the registration processes of a Nidhi company are regulated by the Ministry of Corporate Affairs. The deposit acceptance activities conducted by the Nidhi Company also come under the scanner of Reserve Bank of India and the latter has the rights to look into the financial dealings. Nidhi companies are only allowed deposits which are over six months and less than five years old.</p>
                </div>
                <div class="essential">
                    <h4>Number of Members</h4>
                    <p class="text-justify">A Nidhi Company must accumulate 200 members within a year of its formation.If it fails to do so, it needs to apply for permission to extend the time limit to acquire more members. Three of its members will be appointed as directors and there must be seven stockholders on inception.</p>
                </div>
                <div class="essential">
                    <h4>Equity Capital</h4>
                    <p class="text-justify">A Nidhi Company must have an equity share capital of Rs. 5 lakh on inception. This entire amount must be paid-up. Moreover, 10% of the total deposit collected from members must be in a fixed deposit in a nationalised bank.</p>
                </div>
                <h2 class="pageHeading">FAQs on Nidhi Company</h2>
                <div class="clearfix"></div>
                <div class="panel-group panel-accordian" id="faqAccordian">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqOne">
                            <a>1. I would like to start a Nidhi Company. How can I begin with and how long will it take to register?</a>
                        </div>
                        <div id="faqOne" class="panel-collapse collapse">
                            <p class="panel-body">You need to appoint a minimum of three directors and have seven shareholders. So, a total of 10 individuals are needed to form a Nidhi. You need to register the company as a limited company under Companies Act, 2013. Nidhi Companies take almost a month or even longer to register.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqTwo">
                            <a>2. My Nidhi Company is doing well. Can I expand its operations to other places?</a>
                        </div>
                        <div id="faqTwo" class="panel-collapse collapse">
                            <p class="panel-body">Yes, you can expand operations. A minimum of three branches can be opened in a particular district. In case you want to expand outside the district or want to open more than three branches, intimation needs to be issued 30 days prior to opening to the Registrar of Companies.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqThree">
                            <a>3. My Nidhi Company has finished its one year tenure, but could not acquire the required number of members. Will I have to dissolve it?</a>
                        </div>
                        <div id="faqThree" class="panel-collapse collapse">
                            <p class="panel-body">The conditions laid down by the Act says that a Nidhi company should acquire a minimum of 200 members within one year. However, in case you have not been able to acquire the required numbers, you can apply for an extension with the authorities.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFour">
                            <a>4. Can any person other than the members deposit funds or transfer it to the general fund of the Nidhi Company?</a>
                        </div>
                        <div id="faqFour" class="panel-collapse collapse">
                            <p class="panel-body">No, only the members are allowed to deposit, borrow or lend funds.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFive">
                            <a>5. Who can become a member of a Nidhi Company?</a>
                        </div>
                        <div id="faqFive" class="panel-collapse collapse">
                            <p class="panel-body">Any person can deposit, lend or borrow money through the provisions provided by Companies Act, 2013. They can all become members of the Nidhi provided they are not a corporation or a company.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqSix">
                            <a>6. How much deposit can a Nidhi accept from its members?</a>
                        </div>
                        <div id="faqSix" class="panel-collapse collapse">
                            <p class="panel-body">A Nidhi can accept deposits not exceeding 20 times of its net owned assets as mentioned in the last audited statements.</p>
                        </div>
                    </div>
                </div>
                <h2 class="pageHeading">Procedure for Nidhi Company Registration</h2>
                <div class="essential">
                    <h4>8 Working Days</h4>
                    <p class="text-justify">A minimum of three directors must apply for a DSC, which is necessary to file the Nidhi company registration documents. For this, you will only need to provide a few scanned documents and details; our representatives will fill the form and submit it online.</p>
                </div>
                <div class="essential">
                    <h4>14 Working Days</h4>
                    <p class="text-justify">As soon as we apply for the DSC, we will apply for the company name. and submit the rest of the incorporation documents. Altogether, this will take up to a week, depending on whether you have all the documents in order.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container">
    <div class="row">
        <h3 class="pageHeading text-center mt-30 mb-30">Compare Your Options</h3>
        <div class="col-sm-12 table-responsive compare-table">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Private Limited Company</th>
                        <th>Limited Liability Partnership</th>
                        <th>One Person Company</th>
                        <th>Partnership <br /> Firm</th>
                        <th>Sole <br /> Proprietorship</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Recommended For</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightTopTDBorder">Start-ups and growing companies</td>
                        <td class=greyBg>Professional services firms</td>
                        <td class=greyBg>Sole promoters</td>
                        <td class=greyBg>Home businesses</td>
                        <td class=greyBg>Small traders and manufacturers</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Ease of Accommodating Investment</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Very easy to accommodate</td>
                        <td class=greyBg>Possible, but unlikely</td>
                        <td class=greyBg>Possible, but severely unlikely</td>
                        <td class=greyBg>Almost impossible</td>
                        <td class=greyBg>Impossible</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Limited Liability Protection</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Tax Advantages</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Few benefits</td>
                        <td class=greyBg>Most efficient</td>
                        <td class=greyBg>Few benefits</td>
                        <td class=greyBg>Minimal</td>
                        <td class=greyBg>Minimal</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Perpetual Existence</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Statutory Compliances</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightBottomTDBorder">High</td>
                        <td class=greyBg>Low</td>
                        <td class=greyBg>High</td>
                        <td class=greyBg>Minimal</td>
                        <td class=greyBg>Minimal</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary" href="./llp"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./one-person-company"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./partnership"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./proprietorship"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
