@{
    PageData["keyword"] = "NDA India, NDA, Non Disclosure agreement";
    PageData["description"] = "Draft your non disclosure agreement nda with help of a legal expert. non disclosure agreement nda can be drafted online within 1 day at Rs. 1,800 onwards. ✓EMI available.";
}

<section class="page-banner">
    <div class="banner">
        <img src="images/nonDisclosureAgreement.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Non-disclosure Agreement</h1>
                <p class="color-white">An NDA is a legal contract stating that certain information is confidential, and the extent to which its disclosure is restricted to third parties.</p>
                <ul>
                    <li>
                        <h4>Advice on Requirements</h4>
                    </li>
                    <li>
                        <h4>Document Drafting</h4>
                    </li>
                    <li>
                        <h4>Iterations</h4>
                    </li>
                </ul>
            </div>
      
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is an non-disclosure agreement (NDA)?</h2>
                <p class="text-justify">A non-disclosure agreement (NDA) is a legal contract between at least two parties that outlines confidential material, knowledge, or information that the parties wish to share with one another for certain purposes, but wish to restrict access to or by third parties.</p>
                <p class="text-justify">A non-disclosure agreement (NDA) creates a confidential relationship between the parties to protect any type of confidential and proprietary information or trade secrets. As such, an NDA protects non-public business information.</p>
                <h2 class="pageHeading">Advantages of a Non-disclosure Agreement</h2>
                <div class="essential">
                    <h4>Protects Business Secrets</h4>
                    <p class="text-justify">An NDA is one of the most common way to protect your trade secrets and other confidential information. Consultants and agencies work with multiple organisations from the same industry, are usually asked to sign one to protect trade secrets.</p>
                </div>
                <div class="essential">
                    <h4>Enhances Client Relationships</h4>
                    <p class="text-justify">It's a good way to assure clients that their data is safe in your hands  when Businesses that work on third-party projects require their employees to sign restrictions on the use and disclosure of confidential information. </p>
                </div>
                <h2 class="pageHeading">NDA Procedure</h2>
                <div class="essential">
                    <h4>2 Working Days</h4>
                    <p class="text-justify">Our representative will get in touch with you to understand your requirements, when you send in a request. If further details are required, we will contact you for the same. Once these are in, we will work on the request and send it to you for review within 3 to 4 working days. Feel free to get back to us if you would like any changes.</p>
                </div>
                <div class="essential">
                    <h4>2 Working Days</h4>
                    <p class="text-justify">Our lawyers will work on them, in case you would like any changes to the agreement. Two rounds of iterations are included in the original price.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
