<div class="">
    <div class="img_pic"><img class="img-responsive" src="../images/Services-banner/dedicated-development.jpg" alt="Offshore Development Center India | Offshore Development Center USA" title="Offshore Development Center India | Offshore Development Center USA"> </div>
</div>


<div class="services">

<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 left">
                <h2>Offshore & <span>Development</span></h2>
            </div>
            <div class="col-md-8 right">
                <p>Offshore Development Center (ODC) offers a complete control on projects, while reducing operating expenses. Moreover, it provides a large pool of multi-disciplinary IT professionals, at low cost.</p>
                <p>Tridhya Tech Private Limited's Offshore Development Center (ODC) is exclusively designed to help organizations with the perfect infrastructure to deploy large IT projects. Our years of experience, stringent processes, and a large pool of English speaking IT professionals ensure a smoother engagement between Onshore and Offshore teams.</p>
            </div>
        </div>
    </div>
</section>


<section class="section2">
    <div class="container">
        <div class="title">
            <h4>Services:</h4>
        </div>
        <p>Tridhya Tech Private Limited has been helping many forbes and Fortune listed companies with setting up and operating their Offshore Development Center for more than a decade. Our Software Outsourcing engineering teams have helped customers with the high-end IT solutions.</p>
        <div class="row">
            <div class="col-md-6">
                <p><b>Here are some of the compelling reasons to select Tridhya Tech Private Limited as a Offshore Development Center:</b></p>

                <ul class="list1">
                    <li itemscope itemtype="http://schema.org/Service">Ready to use IT infrastructure</li>
                    <li itemscope itemtype="http://schema.org/Service">Access to a large pool of IT resources with various skills at an affordable rate</li>
                    <li itemscope itemtype="http://schema.org/Service">(Requirements / schedules / deliverables / priorities)</li>
                    <li itemscope itemtype="http://schema.org/Service">Add / Remove resources as per project requirements</li>
                    <li itemscope itemtype="http://schema.org/Service">Faster development and commitment to meet deadline</li>
                    <li itemscope itemtype="http://schema.org/Service">Flexible working hours as per client's time zone</li>
                    <li itemscope itemtype="http://schema.org/Service">HR and organizational support</li>
                    <li itemscope itemtype="http://schema.org/Service">Physical and network security, Centralized backup</li>
                </ul>
            </div>

            <div class="col-md-6">
                <p><b>We assure a complete control, confidentiality, and protection of the projects, like:</b></p>

                <ul class="list1">
                    <li itemscope itemtype="http://schema.org/Service">Data Confidentiality and IP protection</li>
                    <li itemscope itemtype="http://schema.org/Service">Security for data loss</li>
                    <li itemscope itemtype="http://schema.org/Service">Constant Communications with a dedicated development team through email, messenger, and VoIP</li>
                    <li itemscope itemtype="http://schema.org/Service">Daily work logs</li>
                    <li itemscope itemtype="http://schema.org/Service">Implementation of different work related policies</li>
                </ul>
            </div>
        </div>

        <p>Our ODC staff have worked with multinational clients and they understand that the success of a project depends on 3 virtues: mutual understanding, trust, and commitment.</p>
    </div>
</section>


<section class="section3">
    <div class="container">
        <div class="title">
            <h4>Expertise:</h4>
        </div>
            <p>We hold expertise in:</p>
        <div class="tech-list">
            <h3>Microsoft Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/microsoft-technologies')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Open Source Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/Opensource')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Java Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/java-technology')">
            </div>
        </div>
        <div class="tech-list">
            <h3>Mobile Technologies:</h3>
            <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/mobile')">
            </div>
        </div>
       
        @*<div class="tech-list">
            <div class="tech-list">
                <h3>Microsoft Technologies:</h3>
                <?php

                $techname ="services/microsoft-technologies/";
                $techurl = "../images/services/microsoft-technologies/";
                tech_image($techname,$techurl,$dir_img_path);
                ?>
            </div>

            <div class="tech-list">
                <h3>Open Source Technologies:</h3>
                <?php

                $techname ="services/Opensource/";
                $techurl = "../images/services/Opensource/";
                tech_image($techname,$techurl,$dir_img_path);
                ?>
            </div>

            <div class="tech-list">
                <h3>Java Technologies:</h3>
                <?php

                $techname ="services/java-technology/";
                $techurl = "../images/services/java-technology/";
                tech_image($techname,$techurl,$dir_img_path);
                ?>
            </div>

            <div class="tech-list">
                <h3>Mobile Technologies:</h3>
                <?php

                $techname ="services/mobile/";
                $techurl = "../images/services/mobile/";
                tech_image($techname,$techurl,$dir_img_path);
                ?>
            </div>
        </div>*@
    </div>
</section>




<section class="section4">
    <div class="container">
    <div class="title">
        <h4>Experience</h4>
    </div>
        <p>Tridhya Tech Private Limited has provided ODC services across multiple industry domains like:</p>
        <ul class="list1 column-count">
            <li itemscope itemtype="http://schema.org/Service">Oil & Gas, Mining</li>
            <li itemscope itemtype="http://schema.org/Service">Energy & Utilities</li>
            <li itemscope itemtype="http://schema.org/Service">Shipping, Transportation & Logistics</li>
            <li itemscope itemtype="http://schema.org/Service">Retail</li>
            <li itemscope itemtype="http://schema.org/Service">Healthcare</li>
            <li itemscope itemtype="http://schema.org/Service">Travel & Hospitality</li>
            <li itemscope itemtype="http://schema.org/Service">BFSI </li>
            <li itemscope itemtype="http://schema.org/Service">Media & Entertainment</li>
            <li itemscope itemtype="http://schema.org/Service">Sports</li>
            <li itemscope itemtype="http://schema.org/Service">Education</li>
        </ul>
    </div>
</section>

</div>
