<a href="#" title="PHP Open Source Project Development | PHP Open Source Project Development Company"><img src="../images/Technology/php.jpg" alt="PHP Open Source Project Development | PHP Open Source Project Development Company"></a>


<div class="services">

    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>PHP/Open Sources</h2>
            </div>
            <ul class="list1">
                <li>PHP is a server-side scripting language designed primarily for web development.It is also used as a general-purpose programming language.</li>
                <li>PHP frameworks are used to build websites and web applications of all sizes and complexity, ranging from small static websites to large scale complex enterprise content management systems.</li>
                <li>CMS is a computer application used to create, edit, manage, and publish content in a consistently organized fashion.</li>
                <li>E-commerce is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet. </li>
            </ul>
        </div>
    </section>

    <section class="section1">
        <div class="container">
            <div class="title">
                <h4>Services</h4>
            </div>
            <ul class="list1 column-count">
                <li>PHP Web Development</li>
                <li>PHP Web Application Development</li>
                <li>Custom PHP Development</li>
                <li>PHP/MYSQL Development</li>
                <li>Corporate Web Development</li>
                <li>ECommerce Web Development</li>
                <li>Wordpress Web Development</li>
                <li>Joomla Web Development</li>
                <li>Magento Web Development</li>
                <li>PHP based CMS Development</li>
                <li>Shopping Cart</li>
                <li>Web Portal Solutions</li>
            </ul>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="title">
                <h4>Portfolio</h4>
            </div>
            <div class="port_content">
                <div id="isotope-container" class="isotope">
                    <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
