@{
    PageData["keyword"] = "Proprietorship Registration, Sole Proprietorship, Proprietorship Firm Registration, Register a Proprietorship, Start a Proprietorship";
    PageData["description"] = "Tridhya Tech Private Limited is the leader in online Proprietorship Registration. Easily register a proprietorship through Tridhya Tech Private Limited for just Rs.2,610 in less than 5 days.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/trademarkRenewal.jpg" alt="image" />
    </div>
    <div class="banner">
        <img src="images/proprietorship.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Sole Proprietorship</h1>
                <p class="color-white">Small manufacturers and traders, who typically have just a service tax or VAT registration, are known as sole proprietors.</p>
                <ul>
                    <li>
                        <h4>Service Pick</h4>
                    </li>
                    <li>
                        <h4>Vendor Connect</h4>
                    </li>
                    <li>
                        <h4>Receipt of Registration</h4>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is Sole Proprietorship?</h2>
                <p class="text-justify">If you want to start a new online or offline business, sole proprietorship firm is the best option for you. It is a very simple business formation for small entrepreneurs who want to test their ideas or start with small capital with low cost of formation.</p>
                <p class="text-justify">The sole proprietorship is the simplest business form under which one can operate a business. It simply refers to a person who owns the business and is personally responsible for its debts.</p>
                <h2 class="pageHeading">FAQs on Proprietorship</h2>
                <div class="clearfix"></div>
                <div class="panel-group panel-accordian" id="faqAccordian">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqOne">
                            <a>1. Who can start a sole proprietorship?</a>
                        </div>
                        <div id="faqOne" class="panel-collapse collapse">
                            <p class="panel-body">Any Indian citizen with a current account in the name of their business can start a sole proprietorship. Registration is optional, depending on the business which you are planning to establish. However, to open a current account, banks require a Shops & Establishments Registration.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqTwo">
                            <a>2. What documents are needed for opening a current account in the name of my sole proprietorship?</a>
                        </div>
                        <div id="faqTwo" class="panel-collapse collapse">
                            <p class="panel-body">To open a current account, all you need is the proof indicating the existence of your business. Most banks will ask for a Shops & Establishments Act Registration. In addition, PAN card, Address and Identity proofs are needed.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqThree">
                            <a>3. How long does it take to establish a business with Sole Proprietorship?</a>
                        </div>
                        <div id="faqThree" class="panel-collapse collapse">
                            <p class="panel-body">A sole proprietorship business takes maximum upto 15 days to open-up and get running. This simplicity makes it popular among the small traders and merchants. It's also much cheaper that is why it is the most widely used business structure.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFour">
                            <a>4. What businesses are commonly run as sole proprietorships?</a>
                        </div>
                        <div id="faqFour" class="panel-collapse collapse">
                            <p class="panel-body">Most local businesses from a grocery store to a fast food vendor, small traders and manufacturers run as sole proprietorships. This does not mean that larger businesses do not operate as sole proprietors. Even some jewellery shops are sole proprietors, but this is not recommended.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFive">
                            <a>5. What documents are required for starting a sole proprietorship?</a>
                        </div>
                        <div id="faqFive" class="panel-collapse collapse">
                            <p class="panel-body">To start a sole proprietorship, all you need is Address and Identity proofs, PAN Card, all KYC documents and rental agreement or sale deed (in case of Shops & Establishments Act Registration).</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqSix">
                            <a>6. Aside from a current account, is there no need for any other registration?</a>
                        </div>
                        <div id="faqSix" class="panel-collapse collapse">
                            <p class="panel-body">This depends on your business. If you're running a departmental store, then you will need a VAT Registration once your turnover is over Rs. 5 lakhs per annum. If you're running an air-conditioned restaurant, then you will need both VAT Registration and Service Tax Registration.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqSeven">
                            <a>7. Can I apply for any of these registrations online?</a>
                        </div>
                        <div id="faqSeven" class="panel-collapse collapse">
                            <p class="panel-body">The registrations controlled by the central government -- service tax, for example can be availed of online, whereas the state-government-controlled ones may or may not be. In some technologically advanced states, such as Karnata, they are, whereas in others they may not be.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqEight">
                            <a>8. What if I wish to convert from sole proprietorship to private limited company or partnership?</a>
                        </div>
                        <div id="faqEight" class="panel-collapse collapse">
                            <p class="panel-body">You can always choose to do so, though the procedure is a little tedious. It is very common for sole proprietors to convert into partnerships and private limited companies at a later stage.</p>
                        </div>
                    </div>
                </div>
                <h2 class="pageHeading">Key Features of Proprietorship Firm</h2>
                <div class="essential">
                    <p class="text-justify">One Person Required as Single Entrepreneur.</p>
                    <p class="text-justify">Owners can establish a sole proprietorship instantly, easily and inexpensively.</p>
                    <p class="text-justify">Sole proprietorships carry little, if any, ongoing formalities.</p>
                    <p class="text-justify">Easy to Start and Easy to Close.</p>
                    <p class="text-justify">Complete Control.</p>
                    <p class="text-justify">Lower Cost of Formation and Compliance.</p>

                </div>
                <h2 class="pageHeading">Disadvantages of Proprietorship Firm</h2>
                <div class="essential">
                    <p class="text-justify">Lack of Resources.</p>
                    <p class="text-justify">Unlimited Liability.</p>
                    <p class="text-justify">Lack of Credibility.</p>
                    <p class="text-justify">Can not raise funds easily.</p>
                    <p class="text-justify">Can not add Partners.</p>
                </div>
                <h2 class="pageHeading">Sole Proprietorship Registration Process</h2>
                <div class="essential">
                    <h4>1 Working Day</h4>
                    <p class="text-justify">We will help you decide what registration you need, whether service tax, sales tax, import/export code, professional tax or Shops and Establishments Act registration. We will also inform you of the documents you need to get started.</p>
                </div>
                <div class="essential">
                    <h4>5 Working Days</h4>
                    <p class="text-justify">We will connect you to a verified vendor who will file your application and keep you up-to-date on its status. Our vendors are well-experienced in handling local registrations.</p>
                </div>
                <div class="essential">
                    <h4>15 Working Days</h4>
                    <p class="text-justify">We will offer our complete support until you receive the registration you've selected. This could take up to 15 days in some cases, but as few as 5 days in others. This depends on the workload of authorities and other externalities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container">
    <div class="row">
        <h3 class="pageHeading text-center mt-30 mb-30">Compare Your Options</h3>
        <div class="col-sm-12 table-responsive compare-table">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Sole <br> Proprietorship</th>
                        <th>Limited Liability Partnership</th>
                        <th>One Person Company</th>
                        <th>Private Limited Company</th>
                        <th>Partnership <br /> Firm</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Recommended For</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightTopTDBorder">Small manufacturers & traders</td>
                        <td class=greyBg>Professional services firms</td>
                        <td class=greyBg>Sole promoters</td>
                        <td class=greyBg>Start-ups and growing companies</td>
                        <td class=greyBg>Home businesses</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Ease of Accommodating Investment</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Impossible</td>
                        <td class=greyBg>Possible, but unlikely</td>
                        <td class=greyBg>Possible, but severely unlikely</td>
                        <td class=greyBg>Very easy to accommodate</td>
                        <td class=greyBg>Almost impossible</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Limited Liability Protection</strong></h5>
                        </td>
                        <td class=tablehighlightTD>No</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Tax Advantages</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Minimal</td>
                        <td class=greyBg>Most efficient</td>
                        <td class=greyBg>Few benefits</td>
                        <td class=greyBg>Few benefits</td>
                        <td class=greyBg>Minimal</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Perpetual Existence</strong></h5>
                        </td>
                        <td class=tablehighlightTD>No</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Statutory Compliances</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightBottomTDBorder">Minimal</td>
                        <td class=greyBg>Low</td>
                        <td class=greyBg>High</td>
                        <td class=greyBg>High</td>
                        <td class=greyBg>Minimal</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary" href="./llp"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./one-person-company"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./private-limited-company"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./partnership"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
