@{
    PageData["keyword"] = "Public Limited Company Registration, Limited Company";
    PageData["description"] = "Tridhya Tech Private Limited is a leader in online Public Limited Company Registration. Register a Public Limited Company in India for as low as Rs.41,310 all inclusive.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/publicLimitedCompany.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily Register a Company</h1>
                <p class="color-white">Limited company is the ideal choice of corporate entity that raise equity capital from the public.</p>
                <ul>
                    <li>
                        <h4>One DSC &amp; up to two DINs</h4>
                    </li>
                    <li>
                        <h4>Company Name Reservation</h4>
                    </li>
                    <li>
                        <h4>MoA &amp; AoA</h4>
                    </li>
                    <li>
                        <h4>SPICe i.e. INC-32 Approval</h4>
                    </li>
                    <li>
                        <h4>Company PAN &amp; TAN</h4>
                    </li>
                </ul>
            </div>
         
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Public Limited Company</h2>
                <p class="text-justify">Public Limited Companies are companies whose shares are traded in stock market or issues fixed deposits. A public limited company has most of the characteristics of a private limited company. A Public limited company have all the advantages of Private Limited Company and the ability to have any number of members, ease in transfer of shareholding and more transparency.</p>
                <p class="text-justify">For Public Limited Company Registration, the company must have minimum 3 Directors, 7 Shareholders and Maximum 50 Directors and need Rs 5 Lakhs of Paid up Capital. Identifying marks of a public limited company are name, number of members, shares, formation, management, directors and meetings, etc.</p>
                <h2 class="pageHeading">Reasons to Register a Limited Company</h2>
                <div class="essential">
                    <h4>Separate Legal Entity</h4>
                    <p class="text-justify">A company is a legal entity and a juristic person established under the Act. Therefore a company form of organization has wide legal capacity and can own property and also incure debts. The Shareholders or Directors of a company have no liability to the creditors of a company for such debts.</p>
                </div>
                <div class="essential">
                    <h4>Easy Transferability</h4>
                    <p class="text-justify">Shares of a company limited by shares are transferable by a shareholder to any other person. Filing and signing a share transfer form and handing over the buyer of the shares along with share certificate can easily transfer shares.</p>
                </div>
                <div class="essential">
                    <h4>Uninterrupted Existence</h4>
                    <p class="text-justify">A company has 'perpetual succession', that is continued or uninterrupted existence until it is legally dissolved. A company, being a separate legal person, is unaffected by the death or other departure of any member but continues to be in existence irrespective of the changes in membership.</p>
                </div>
                <div class="essential">
                    <h4>Owning Property</h4>
                    <p class="text-justify">A company being a juristic person, can acquire, own, enjoy and alienate, property in its own name. No shareholder can make any claim upon the property of the company as long as the company is a going concern.</p>
                </div>
                <div class="essential">
                    <h4>Borrowing Capacity</h4>
                    <p class="text-justify">A company enjoys better avenues for borrowing of funds. It can issue debentures, secured as well as unsecured and can also accept deposits from the public, etc. Even banking and financial institutions prefer to render large financial assistance to a company rather than partnership firms or proprietary concerns.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container">
    <div class="row">
        <h3 class="pageHeading text-center mt-30 mb-30">Compare Your Options</h3>
        <div class="col-sm-12 table-responsive compare-table">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Private Limited Company</th>
                        <th>Limited Liability Partnership</th>
                        <th>One Person Company</th>
                        <th>Partnership <br /> Firm</th>
                        <th>Sole <br /> Proprietorship</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Recommended For</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightTopTDBorder">Start-ups and growing companies</td>
                        <td class=greyBg>Professional services firms</td>
                        <td class=greyBg>Sole promoters</td>
                        <td class=greyBg>Home businesses</td>
                        <td class=greyBg>Small traders and manufacturers</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Ease of Accommodating Investment</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Very easy to accommodate</td>
                        <td class=greyBg>Possible, but unlikely</td>
                        <td class=greyBg>Possible, but severely unlikely</td>
                        <td class=greyBg>Almost impossible</td>
                        <td class=greyBg>Impossible</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Limited Liability Protection</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Tax Advantages</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Few benefits</td>
                        <td class=greyBg>Most efficient</td>
                        <td class=greyBg>Few benefits</td>
                        <td class=greyBg>Minimal</td>
                        <td class=greyBg>Minimal</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Perpetual Existence</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Statutory Compliances</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightBottomTDBorder">High</td>
                        <td class=greyBg>Low</td>
                        <td class=greyBg>High</td>
                        <td class=greyBg>Minimal</td>
                        <td class=greyBg>Minimal</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary" href="./llp"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./one-person-company"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./partnership"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./proprietorship"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
