@{
    PageData["keyword"] = "plc to opc, private limited company to one person company";
    PageData["description"] = "Convert private limited company into one person company at Rs. 9,000 + Govt Fees. ✓EMI available.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/pvtLtdToOnePersonCompany.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header color-orange">Convert a Private Limited Company to One Person Company</h1>
                <p class="color-white color-orange">A private limited company can convert itself into an One Person Company if it has a paid-up capital ofless than Rs. 50 lakh and an annual turnover of less than Rs. 2 crore.</p>
            </div>
        
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
@*<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>From Rs.2610 /-</b> all inclusive fees</h3>
            <p>EMI: Rs.256.84 for 12 months*</p>
        </div>
        <form>
            <div class="sidebar-form">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="text" value="" placeholder="Name" />
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="text" value="" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" value="" placeholder="Phone" />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>*@
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Private Limited to One Person Company</h2>
                <p class="text-justify">A Private Limited Company can be converted into One Person Company, as per the Companies Act, 2013. A Private Company, other than a company registered under section 8 of the Act, having paid up share capital of Rs. 50 Lakhs or less or average annual turnover during the relevant period is two crore rupees or less may convert itself into One Person Company. In other words a Private Company with paid up capital of more than 50 Lacs or average annual turnover of more than Rs.2 Crores, cannot convert itself into One person Company. A Special Resolution in the General Meeting has to be passed to approve such conversion, before passing such resolution, the company shall obtain a No Objection in writing from existing members and creditors. It is important to note that No objection in writing from existing members and creditors is required and it shall be collected before passing Special Resolution.</p>
                <h2 class="pageHeading">Advantages of One Person Company</h2>
                <div class="essential">
                    <h4>Limits Director's Liability</h4>
                    <p class="text-justify">In a Sole Proprietorship firm,  the personal assets of the proprietor can be at risk in the event of failure, but this is not the case for a One Person Private Limited Company, as the shareholder's liability is limited to his shareholding.</p>
                </div>
                <div class="essential">
                    <h4>Continuous Existence</h4>
                    <p class="text-justify">The structure of OPC is similar to that of Private Limited Company. Hence OPC also enjoys the corporate status which helps the entrepreneur to attract quality workforce and helps to retain them by giving corporate designations, like directorship.</p>
                </div>
                <div class="essential">
                    <h4>Fewer Compliances</h4>
                    <p class="text-justify">OPC form of company is very easy to manage. Only few filings are to be made with ROC and they are exempted from conducted Annual General Meeting. The Board Meetings can be conducted for every six months.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
