@{
    PageData["keyword"] = "private limited company to public company, conversion private limited company";
    PageData["description"] = "Convert private limited company into public limited company at Rs. 9,000 + Govt Fees. ✓EMI available.";
}

<section class="page-banner">
    <div class="banner">
        <img src="images/pvtLtdToPublicLtdCompany.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header color-orange">Convert a Private to Public Limited Company</h1>
                <p class="color-white color-orange">A fairly straightforward process, but do remember that you need three directors, seven shareholders and a paid-up capital of at least Rs. 5 lakh.</p>
            </div>
          
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
@*<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>From Rs.2610 /-</b> all inclusive fees</h3>
            <p>EMI: Rs.256.84 for 12 months*</p>
        </div>
        <form>
            <div class="sidebar-form">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="text" value="" placeholder="Name" />
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="text" value="" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" value="" placeholder="Phone" />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>*@
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Private to Public Limited Company</h2>
                <p class="text-justify">The process to convert from private to public limited company is simple, but will take 30 to 35 days to complete, as there are many steps involved. A Public Company has seven or more members and can invite public to subscribe to its shares. A Private Company is an organization which limits its number of members to 200 and cannot invite public to subscribe to its shares. The Companies Act, 2013 provides for converting a Public Company to a Private Company by altering the MOA and AOA of the company. The main advantage of Public Company is that it can raise reserves at a large scale without approaching banking system and reducing debt whereas Private Companies which are privately owned, all the reserves are raised by existing members, shareholders and promoters. First you need to alter the articles of association, then delete the word private from your name, commence the registration process and finally wait for the certificate of commencement of business.</p>
                <h2 class="pageHeading">Advantages of Public Limited Company</h2>

                <div class="essential">
                    <h4>Raise Capital</h4>
                    <p class="text-justify">The most obvious advantage of being a Public Limited Company is the ability to raise share capital, particularly where the company is listed on a recognised exchange. Since it can sell its shares to the public and anyone is able to invest their money, the capital that can be raised is typically much larger than a Private Limited Company. It is also possible that having stock listed on an exchange could attract investment from hedge funds, mutual funds and other institutional traders.</p>
                </div>
                <div class="essential">
                    <h4>Greater Credibility</h4>
                    <p class="text-justify">Public Limited Companies need to disclose their audited statement of accounts, inform the regulatory bodies of any structural change and hold annual general body meetings for all shareholders. It's tedious but these compliances bring a Public Limited Company a great deal of credibility to the organisation.</p>
                </div>
                <div class="essential">
                    <h4>Quick Share Transfer</h4>
                    <p class="text-justify">The shares of a Public Limited Company are more easily transferable than those in the private equivalent, meaning shareholders benefit from liquidity. If shares are quoted on a stock exchange, shareholders and potential shareholders will generally find it easier to transfer shares in the company – although the market still relies on willing purchasers and sellers being available.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
