@{
    PageData["keyword"] = "Removal of director, private limited company";
    PageData["description"] = "Remove an existing director from your company. Process of director removal starts at Rs. 3,150 + Govt Fees. ✓EMI available.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/removeDirector.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Remove a Director</h1>
                <p class="color-white">A company can only remove a director if he incurs any of the disqualifications specified under the Companies Act, 2013.</p>
            </div>
         
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Removing a Director</h2>
                <p class="text-justify">Power to remove directors has always been bestowed on shareholders, as we all know that at the end of the day, directors are answerable to shareholders. Nothing has changed in the procedural aspect under Companies Act, 2013 as well. Shareholders can remove any director before the expiry of his tenure, except any director appointed by Tribunal for prevention of oppression and mismanagement u/s 242 and a director appointed under principle of proportional representation u/s 163.</p>
                <p class="text-justify">Section 169 and Chapter 7 of Companies Act, 2013 : Right of Shareholders to remove a director in the General Meeting through Ordinary Resolution is a Legal Right. This legal right cannot be damaged or taken away by MOA, AOA or any other documents or Agreement.</p>
                <h2 class="pageHeading">Procedure for Removal of Director</h2>
                <div class="essential">
                    <h4>3 Working Days</h4>
                    <p class="text-justify">By ordinary resolution, the director can be removed before the expiry of his period of office, provided he does not hold office for life. Special notice of any resolution to remove a director must be sent by the company to the director concerned. The director (whether or not he is a member of the company) shall be entitled to be heard on the resolution at the meeting.</p>
                </div>
                <div class="essential">
                    <h4>10 Working Days</h4>
                    <p class="text-justify">The company should wait for an explanation from him. If no reply is received, special notice must be given and, through members' approval, director can be removed. File the DIR-12 with the Registrar of Companies. Within 10 to 15 days, the director will be removed.</p>
                </div>
                <h2 class="pageHeading">Why Tridhya Tech Private Limited</h2>
                <div class="essential">
                    <h4>1k Businesses Monthly</h4>
                    <p class="text-justify">We complete the secretarial jobworks for over 1000 companies and LLPs every month with a small team, by leveraging our tech capabilities. Come on board and experience convenience.</p>
                </div>
                <div class="essential">
                    <h4>9.1 Customer Score</h4>
                    <p class="text-justify">We make your interaction with government as smooth as possible by doing all the paperwork for you. We will also give you absolute clarity on the process to set realistic expectations.</p>
                </div>
                <div class="essential">
                    <h4>160 Strong Team</h4>
                    <p class="text-justify">Our team of experienced business advisors are a phone call away, if you have any queries about the process. But we'll try to ensure that your doubts are cleared before they even arise.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
