@{
    PageData["keyword"] = "Removal of Designated Partner, LLP partner";
    PageData["description"] = "Remove an existing Designated Partner from your company. Process of Designated Partner removal starts at Rs. 3,150 + Govt Fees. ✓EMI available.";
}

<section class="page-banner">
    <div class="banner">
        <img src="images/removeDesignatedPartner.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Remove a Designated Partner</h1>
                <p class="color-white">Appointment or removal of a designated partner maybe required due to various reasons. There can be certain instances in a business when a partner wishes to remove or expel a partner due to any unlawful or unreasonable behavior of that partner.</p>
                <ul>
                    <li>
                        <h4>Modify Partnership as Required</h4>
                    </li>
                    <li>
                        <h4>Upload relevant documents with MCA (for LLPs)</h4>
                    </li>
                    <li>
                        <h4>Give new Partnership Ratio amongst new partners</h4>
                    </li>
                    <li>
                        <h4>Get your partnerships resolution accordingly</h4>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
@*<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>From Rs.2610 /-</b> all inclusive fees</h3>
            <p class="text-justify">EMI: Rs.256.84 for 12 months*</p>
        </div>
        <form>
            <div class="sidebar-form">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="text" value="" placeholder="Name" />
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="text" value="" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" value="" placeholder="Phone" />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>*@
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Remove a designated partner</h2>
                <p class="text-justify">A Partner in a Limited Liability Partnership (LLP) in India may have to be removed or would like to resign for various reasons. The removal or resignation of a Partner must be properly recorded and the relevant filings must be filed with the Ministry of Corporate Affairs to effect the Partner removal or resignation. In this article, we look at the procedure for effecting a removal or resignation of Partner from LLP.</p>
                <p class="text-justify">Section 24 of the Limited Liability Partnership Act, 2008 talks about the cessation of partnership. Sub-section (1) says that a person may cease to be a partner of a Limited Liability Partnership in accordance with an agreement with the other partners or, in the absence of agreement with the other partners as to cessation of being a partner, by giving a notice in writing of not less than 30 days to the other partners of his intention to resign as partner.So, stepping down of a designated partner will either be in accordance with the LLP agreement signed during the incorporation of the company or by giving a notice, whose specimen is given in Form 13of LLP Rules, 2009, to other partners.</p>
                <p class="text-justify">According to Limited Liability Partnership Rules, 2009 every Limited Liability Partnership shall file information with regarding any change made in the Limited Liability Partnership agreement shall be filed in Form 3 within 30 days of such change along with the fee as provided in Annexure ‘A’.</p>
                <h2 class="pageHeading">Rights and Liabilities of Partner on Removal or Resignation</h2>
                <div class="essential">
                    <h4>Removal of LLP Partner by Majority</h4>
                    <p class="text-justify">A Partner in a LLP cannot be removed by a majority of the other Partner unless the LLP agreement expressly provides such powers. If the LLP Agreement provides such power, a Partner can be removed and Form 4 must be filed to effect the removal.</p>
                </div>
                <div class="essential">
                    <h4>Filing of LLP Form 4</h4>
                    <p class="text-justify">To effect a resignation or removal or cessation of Partner from LLP, LLP Form 4 must be filed within 30 days of removal or resignation or cessation of Partner. Form 4 must be signed by a Designated Partner of the LLP and must be filed along with a Certificate from a Chartered Accountant or Company Secretary or Cost Accountant in practice. The Chartered Accountant or Company Secretary or Cost Accountant must certify that the books and records of the LLP have been found to be true and correct.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
<script>
        $(document).ready(function() {
            var stickyOffset = $('.navbar').offset().top;
            $(window).scroll(function() {
                var sticky = $('.navbar'),
                    scroll = $(window).scrollTop();
                if (scroll >= stickyOffset) sticky.addClass('navbar-fixed-top');
                else sticky.removeClass('navbar-fixed-top');
            });

			if($(window).width() < 767)
			{
				$("#navbar .nav li").click(function() {
					$(this).children(".subMenu").slideToggle();
					//$("#navbar .nav li .fa").toggleClass("fa-angle-down fa-angle-up");
				});
			}

            $(".navbar-toggle").click(function() {
                $(this).toggleClass("open");
            });

            $('#mediaSlider').carousel({
                interval: false
            });

            var clickEvent = false;
            $('#mediaSlider').on('click', '.nav a', function() {
                clickEvent = true;
                $('.nav li').removeClass('active');
                $(this).parent().addClass('active');
            }).on('slid.bs.carousel', function(e) {
                if (!clickEvent) {
                    var count = $('.nav').children().length - 1;
                    var current = $('.nav li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if (count == id) {
                        $('.nav li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });

			//right side fixed form will move -->
			var windw = this;
			$.fn.followTo = function(elem) {
				var $this = this,
					$window = $(windw),
					$bumper = $(elem),
					bumperPos = $bumper.offset().top,
					thisHeight = $this.outerHeight(),
					setPosition = function() {
						if ($window.scrollTop() > (bumperPos - thisHeight)) {
							$this.css({
								position: 'absolute',
								top: (bumperPos - thisHeight)
							});
						} else {
							$this.css({
								position: 'fixed',
								top: 0
							});
						}
					};
				$window.resize(function() {
					bumperPos = pos.offset().top;
					thisHeight = $this.outerHeight();
					setPosition();
				});
				$window.scroll(setPosition);
				setPosition();
			};
			$('#one').followTo('#two');
        });
</script>