<div ng-controller="RequestQuoteController">
    <div class="form-section">
        <div class="container-fluid">
            <div class="row">
                <section class="cover-background section2 col-md-6" style="background-image:url('../Images/cont.jpg');">
                    <div class="opacity-full"></div>
                    <div class="title text-center">
                        <h4>Request Quote</h4>
                    </div>
                    <form name="RequestQuoteForm" novalidate>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input placeholder="Full Name" type="text" ng-model="RequestQuote.FullName" name="FullName" class="form-control"
                                       ng-class="{'required-error' : (RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid) && RequestQuoteForm.FullName.$error.required)}" required />

                                <input placeholder="Phone Number" type="number" ng-model="RequestQuote.PhoneNumber" ng-maxlength="10" name="PhoneNumber" class="form-control"
                                       ng-class="{'required-error' : (RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid) && !RequestQuoteForm.PhoneNumber.$valid)}" />

                                <input placeholder="Email Address" type="email" ng-model="RequestQuote.EmailAddress" name="EmailAddress"
                                       class="form-control" ng-class="{'required-error' : (RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid) && (RequestQuoteForm.EmailAddress.$error.required || RequestQuoteForm.EmailAddress.$error.email))}" required />

                                <input placeholder="City" type="text" ng-model="RequestQuote.City" name="City" class="form-control"
                                       ng-class="{'required-error' : (RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid) && RequestQuoteForm.City.$error.required)}" required />

                                <input placeholder="Company" type="text" ng-model="RequestQuote.Company" name="Company" class="form-control" />

                                <select class="form-control" id="ProjectTypeId" ng-model="RequestQuote.ProjectTypeId" name="ProjectTypeId"
                                        ng-class="{'required-error' : (RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid) && RequestQuoteForm.ProjectTypeId.$error.required)}" required>
                                    <option value="">Select Project Type</option>
                                    <option value="1">Mobile App Development</option>
                                    <option value="2">Web Development</option>
                                    <option value="3">SaaS</option>
                                    <option value="4">Cloud App</option>
                                    <option value="5">CRM</option>
                                    <option value="6">ERP</option>
                                    <option value="7">eCommerce</option>
                                    <option value="8">Social Networking</option>
                                    <option value="9">Other</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <select class="form-control" id="BudgetId" ng-model="RequestQuote.BudgetId" name="BudgetId"
                                        ng-class="{'required-error' : (RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid) && RequestQuoteForm.BudgetId.$error.required)}" required>
                                    <option value="">Select your budget</option>
                                    <option value="1">Less than 10K USD</option>
                                    <option value="2">10K USD - 20K USD</option>
                                    <option value="3">20K - 50K USD</option>
                                    <option value="4">50K - 100K USD</option>
                                    <option value="5">100K and more</option>
                                </select>

                                <textarea placeholder="Message" ng-model="RequestQuote.ProjectDescription" class="form-control" id="ProjectDescription" name="ProjectDescription"
                                          ng-class="{'required-error' : (RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid) && RequestQuoteForm.ProjectDescription.$error.required)}" required></textarea>
                                <p>
                                    <span>Attach File:</span>
                                    <input class="form-control" type="file" upload-files />
                                </p>
                                <p>
                                    <span ng-class="{'span-error' : (RequestQuoteForm.$submitted && (!RequestQuoteForm.$valid) && googleRecaptchaValidationMessage)}">Please fill Captcha</span>
                                    <div vc-recaptcha key="'6Ld6REYUAAAAAIK11VtasE3g-BL89ZX68JrdSPi-'" on-create="onWidgetCreate(widgetId)"></div>
                                    @*<div vc-recaptcha key="'6LdSvz8UAAAAAKygptbKgD3R3Y4UmDupZtn-nzk6'" on-create="onWidgetCreate(widgetId)"></div>*@
                                </p>

                            </div>

                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn1" name='submit' id='submit' ng-click="SaveRequestQuoteDetails(RequestQuoteForm)">Send Message</button>
                                <button type="button" class="btn btn2" ng-click="resetForm()">Reset</button>
                            </div>
                            <div style="clear:both;"></div>
                            <br />
                        </div>
                    </form>
                </section>

                <section class="section1 col-md-6">
                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="box">
                                <img alt="flag india" src="/images/flags/india1.png" title="India">
                                <h4>India</h4>
                                <p>Shaligram House, Behind Rajpath Club,<br>Off. S.G. Road, Bodakdev,<br>Ahmedabad-380059, India</p>
                                <p><strong><i class="fa fa-phone"></i> :</strong> <a href="tel:+91-9727212899">+91-9727212899</a><br><strong><i class="fa fa-skype"></i></strong> : <a href="skype:shaligraminfotech?chat">shaligraminfotech</a><br><strong><i class="fa fa-envelope-o"></i> :</strong> <a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="box">
                                <img alt="flag uk" src="/images/flags/uk.png" title="UK">
                                <h4>UK</h4>
                                <p>100, College Road, Harrow,<br>London, HA1 1BQ,<br>United Kingdom</p>
                                <p><strong><i class="fa fa-phone"></i> :</strong> <a href="tel:+44 20 3581 6366">+44 20 3581 6366</a><br><strong><i class="fa fa-skype"></i></strong> : <a href="skype:shaligraminfotech?chat">shaligraminfotech</a><br><strong><i class="fa fa-envelope-o"></i> :</strong> <a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div><br />
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="box">
                                <img alt="flag USA" src="/images/flags/us.png" title="USA">
                                <h4>USA</h4>
                                <p>14793 Pensham Drive,<br>Frisco TX 75035, USA</p>
                                <p><strong><i class="fa fa-phone"></i> :</strong> <a href="tel:+1-210-888-8402">+1-210-888-8402</a><br><strong><i class="fa fa-fax"></i> :</strong> 844-255-9976<br><strong><i class="fa fa-skype"></i></strong> : <a href="skype:shaligraminfotech?chat">shaligraminfotech</a><br><strong><i class="fa fa-envelope-o"></i> :</strong> <a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                            <div class="box">
                                <img alt="flag australia" src="/images/flags/australia.png" title="Australia">
                                <h4>Australia</h4>
                                <p>Level 36, 71 Eagle Street,<br>Brisbane, QLD 4000</p>
                                <p><strong><i class="fa fa-phone"></i> :</strong> <a href="tel:+61 07 3121 3147">+61 07 3121 3147</a><br><strong><i class="fa fa-phone"></i> :</strong> +61 0422 019 223<br><strong><i class="fa fa-skype"></i></strong> : <a href="skype:shaligraminfotech?chat">shaligraminfotech</a><br><strong><i class="fa fa-envelope-o"></i> :</strong> <a href="mailto:info@shaligraminfotech.com">info@shaligraminfotech.com</a></p>
                            </div>
                        </div>

                    </div>
                    <div style="clear:both"></div><br />
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <img src="/images/shaligrammap.PNG" alt="shaligram-map" title="Tridhya Tech Private Limited" class="img-responsive">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>