@{
    PageData["keyword"] = "Company incorporation, llp registration, registration of company, company registration in india , private limited company registration.";
    PageData["description"] = "India's largest online platform of lawyers, chartered accountants and company secretaries, specialising in company registration and trademark registration";
}

<div id="MainBanner" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide" src="images/slider/home-banner.jpg" alt="First slide">
        </div>
        <div class="item">
            <img class="second-slide" src="images/slider/home-banner2.jpg" alt="Second slide">
        </div>
        <div class="item">
            <img class="third-slide" src="images/slider/home-banner3.jpg" alt="Third slide">
        </div>
        <div class="item">
            <img class="third-slide" ng-src="images/slider/home-banner4.jpg" alt="Third slide">
        </div>
    </div>
    <a class="left carousel-control" data-target="#MainBanner" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" data-target="#MainBanner" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="section3 text-center">
    <div class="container">

    <div class="title text-center">
        <h2>Welcome to Tridhya Tech</h2>
    </div>

        <div class="row">
            <div class="col-md-4">
                <img src="images/services.jpg" alt="Services" title="Services">
                <h5>Services</h5>
            </div>
            <div class="col-md-4">
                <img src="images/webdevelopmentbanner.png" alt="Technologies" title="Technologies">
                <h5>Technologies</h5>
            </div>
            <div class="col-md-4">
                <img src="images/web-design.jpg" alt="Solutions" title="Solutions">
                <h5>Solutions</h5>
            </div>
        </div>
    </div>
</section>

    
<section class="section2 pt">
    <div class="container">

    <div class="title">
        <h2>why Tridhya Tech Private Limited ?</h2>
    </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="list1">
                    <li>Tridhya tech is built by highly skilled and dynamic expert team of visionaries with the profound business insight and clear vision of becoming the most eminent IT company in global marketplace.</li>
                    <li>The company is equipped with fine infrastructure and ideal technology support together with the broader distribution network so that the business requirements of the partners can be satisfied.</li>
                    <li>With exceptional experience, comprehensive intelligence system across diverse industries and domains, we work with customers to turn them into some of the most successful and high-performance Organizations.</li>
                    <li>We provide web development and IT outsourcing services on diverse technology platforms. We have proven expertise in application development, product development & maintenance, enterprise solutions, mobile apps development.</li>
                    <li>From the most demanding to the most distant customers, we help global leaders grow and transform their business and bring greater flexibility with faster time to market through technical excellence, all at lower costs, right at their doorsteps.</li>
                    <li>We have always shared every bit of success with both clients and employees for successfully achieving every single milestone, and accomplishing project deliverables. We want to see businesses grow, no matter whether newly born ventures, businesses striving to outperform, or established organizations looking to sustain their position.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="main-heading section4" id="query">
    <div class="container">
        <span class="as">Choose Tridhya Tech Private Limited as your development partner</span>
        <a href="/contact-us" ui-sref="contact-us" class="btn"><i class="fa fa-envelope"></i>Contact Us</a>
        <!--<a href="#myModal" data-toggle="modal" class="btn"><span class="glyphicon glyphicon-envelope"></span> Contact Us</a>-->
    </div>
    <div class="container">
        <div>
            <div class="row">
                <!-- Modal -->
                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h2 class="modal-title">Contact Us</h2>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" name="commentform" method="post" action="contact/send_form_email.php">
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="full_name">Full Name</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="name" name="name" required="" data-validation-required-message="Please enter your name.">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="ph_no">Phone Number</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="phone" name="phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="email">Email Address</label>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" id="email" name="email" required="" data-validation-required-message="Please enter your email address.">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="company">Company</label>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" id="company" name="company">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4" for="message">Message</label>
                                        <div class="col-md-6">
                                            <textarea rows="6" class="form-control" id="message" name="message" required="" data-validation-required-message="Please enter your message."></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <button type="submit" value="Submit" name="submit" class="btn btn-primary" id="submit" style="background-color: #f58634; margin-left: 200px">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End of Modal body -->
                        </div>
                        <!-- End of Modal content -->
                    </div>
                    <!-- End of Modal dialog -->
                </div>
                <!-- End of Modal -->
            </div>
            <!-- End of row -->
        </div>
    </div>
    <!-- End of well -->
</section>



@*<section class="white-bg mt-25">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 separater pt-25 pb-30">
                    <h3 class="pageHeading text-left">5 Reasons Why<br />Customers Like Us</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Tridhya Tech Private Limited is using the internet to simplify time-consuming paperwork. Over the past five years, we've helped tens of thousands of start-ups register themselves, protect their intellectual property, secure funding from Venture Capitalists & comply with the many regulations of the MCA.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pt-25 pb-30 text-right like-reason">
                    <p>Startup-friendly</p>
                    <span>3% of all business registrations and climbing</span>
                    <p>Cost-efficient</p>
                    <span><i class="fa fa-inr"></i>9 crore in professional fees saved every year</span>
                    <p>Time-saving</p>
                    <span>42,000 hours freed up for Indian business owners</span>
                    <p>Continuous support</p>
                    <span>160-strong team available for assistance</span>
                    <p>Satisfaction guaranteed</p>
                    <span>140,000+ happy customers since inception</span>
                </div>
            </div>
        </div>
    </section>*@

@*<section class="container mediaSlider hidden-xs">
        <div id="mediaSlider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators indicators-fix">
                <li data-target="#mediaSlider" data-slide-to="0" class="active"></li>
                <li data-target="#mediaSlider" data-slide-to="1"></li>
                <li data-target="#mediaSlider" data-slide-to="2"></li>
                <li data-target="#mediaSlider" data-slide-to="3"></li>
                <li data-target="#mediaSlider" data-slide-to="4"></li>
                <li data-target="#mediaSlider" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <p>The law is a sector of the economy ripe for innovation, as people are desperate for affordable and reliable legal services.</p>
                </div>
                <div class="item">
                    <p>For now, these startups play the role of facilitators, reducing the time and effort spent on getting a dependable lawyer.</p>
                </div>
                <div class="item">
                    <p>The problem of finding reliable and affordable legal help has become a thing of the past as an increasing number of people is choosing to find lawyers through online legal advice portals.</p>
                </div>
                <div class="item">
                    <p>You can now finish simple legal tasks without leaving your desk. Fill an interactive and easy-to-use questionnaire and your rental agreement, will or even legal notice comes sailing to you in a nice, sealed envelope.</p>
                </div>
                <div class="item">
                    <p>With over 4,000 lawyers on ShaligranConsultancy.com and rapidly growing, we believe we have solved the problem.</p>
                </div>
                <div class="item">
                    <p>Tridhya Tech Private Limited, with offices in all major Indian cities, is handling a large chunk of business owners who are open to getting professional support online.</p>
                </div>
            </div>
            <a class="left carousel-control" href="#mediaSlider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#mediaSlider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <ul class="nav nav-pills nav-justified">
                <li data-target="#mediaSlider" data-slide-to="0" class="active">
                    <a href="#"><img src="images/ndtv.png" alt="image" /></a>
                </li>
                <li data-target="#mediaSlider" data-slide-to="1">
                    <a href="#"><img src="images/forbes.png" alt="image" /></a>
                </li>
                <li data-target="#mediaSlider" data-slide-to="2">
                    <a href="#"><img src="images/chronicle.png" alt="image" /></a>
                </li>
                <li data-target="#mediaSlider" data-slide-to="3">
                    <a href="#"><img src="images/thehindu.png" alt="image" /></a>
                </li>
                <li data-target="#mediaSlider" data-slide-to="4">
                    <a href="#"><img src="images/toi.png" alt="image" /></a>
                </li>
                <li data-target="#mediaSlider" data-slide-to="5">
                    <a href="#"><img src="images/yourstory.png" alt="image" /></a>
                </li>
            </ul>
        </div>
    </section>*@

@*<section class="latest-news">
        <div class="container">
            <h3 class="pageHeading">Latest News</h3>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-sm-3">
                    <span>June 21, 2017</span>
                    <h5>Trademark Class 3: Cosmetics and Cleaning Substances</h5>
                    <img src="images/latest-news1.jpg" alt="image" />
                    <p>Trademark Class 3 is for registering perfumery, soaps, dentifrices, essential oils, cosmetics, and hair lotions. Class 3 mainly includes cleaning and cosmetics preparations, substances ...</p>
                    <p class="text-right"><a href="#">READ MORE</a></p>
                </div>
                <div class="col-sm-3">
                    <span>June 16, 2017</span>
                    <h5>Converting an OPC to a Private Limited Company home image</h5>
                    <img src="images/latest-news2.jpg" alt="image" />
                    <p>There are two ways of converting a One Person Company into a Private Limited Company as per the act. The conversion can be a voluntarily one or by compulsion but cases a proper procedure is to be ...</p>
                    <p class="text-right"><a href="#">READ MORE</a></p>
                </div>
                <div class="col-sm-3">
                    <span>June 14, 2017</span>
                    <h5>How to Register a Producer Company in India</h5>
                    <img src="images/latest-news3.jpg" alt="image" />
                    <p>A Producer Company consists of a group of people who are involved in the production of primary produce or having one or more objectives related to the primary produce. Part IXA of Companies (Amendment) Act, 2002 ...</p>
                    <p class="text-right"><a href="#">READ MORE</a></p>
                </div>
                <div class="col-sm-3">
                    <span>June 14, 2017</span>
                    <h5>Document Maintenance Under GST</h5>
                    <img src="images/latest-news4.jpg" alt="image" />
                    <p>The Goods and Services Tax (GST) is a tax reform that aims to eliminate India’s major indirect taxes – VAT, Excise and Service Tax. The GST laws mandate that all registered persons who are under GST, must ...</p>
                    <p class="text-right"><a href="#">READ MORE</a></p>
                </div>
            </div>
        </div>
    </section>*@

