@{
    PageData["keyword"] = "Term Sheet, investment, Term Sheet India";
    PageData["description"] = "Draft your term sheet with help of a legal expert. term sheet can be drafted online within 1 day at Rs. 4,500 onwards. ✓EMI available.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/termSheet.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Term Sheet</h1>
                <p class="color-white">A term sheet reflects the broad consensus of two parties on material terms and conditions of a deal.</p>
                <ul>
                    <li>
                        <h4>Advice on Requirements</h4>
                    </li>
                    <li>
                        <h4>Document Drafting</h4>
                    </li>
                    <li>
                        <h4>Iterations</h4>
                    </li>
                </ul>
            </div>
          
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
@*<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>From Rs.2610 /-</b> all inclusive fees</h3>
            <p class="text-justify">EMI: Rs.256.84 for 12 months*</p>
        </div>
        <form>
            <div class="sidebar-form">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="text" value="" placeholder="Name" />
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="text" value="" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" value="" placeholder="Phone" />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>*@
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is a Term Sheet?</h2>
                <p class="text-justify">A term sheet is a non-binding agreement setting forth the basic terms and conditions under which an investment will be made. Months into contract drafting and negotiation, you may find out that there is no agreement on the basics of the contract. A term sheet solves this problem by putting into place a framework for the final contract. Term sheets are not generally considered legally binding and are therefore seen as unenforceable in a legal sense. The term sheet, therefore, reflects the broad consensus of the parties on the material terms and conditions, such as price, quantity, valuation, due diligence and pre-emption.</p>
                <h2 class="pageHeading">Advantages of a Term Sheet</h2>
                <div class="essential">
                    <h4>Avoid Unnecessary Expenses</h4>
                    <p class="text-justify">A term sheet can be used by differences on the vital parts of any major business agreement prior to the drafting of the actual agreement, thereby preventing an unnecessary expenditure on a company's resources.</p>
                </div>
                <div class="essential">
                    <h4>Save Time</h4>
                    <p class="text-justify">Re-drafting a contract that neither party is in agreement with, simply put in place a plan through a term sheet. While specifics of any clause would not be in this contract, it would contain of how they would be arrived the basics.</p>
                </div>
                <h2 class="pageHeading">Term Sheet Procedure</h2>
                <div class="essential">
                    <h4>2 Working Days</h4>
                    <p class="text-justify">Our representative will get in touch with you to understand your requirements, when you send in a request. If further details are required, we will contact you for the same. Once these are in, we will work on the request and send it to you for review within 3 to 4 working days. Feel free to get back to us if you would like any changes.</p>
                </div>
                <div class="essential">
                    <h4>2 Working Days</h4>
                    <p class="text-justify">Our lawyers will work on them, in case you would like any changes to the agreement. Two rounds of iterations are included in the original price.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
