@{
    PageData["keyword"] = "Trademark Objection Reply, Trademark Objected, Objected Trademark";
    PageData["description"] = "Tridhya Tech Private Limited is a leader in online trademark objection handling and registration. Tridhya Tech Private Limited can help file a reply for trademark objection for just Rs.2,610.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/trademarkObjection.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Trademark Objection</h1>
                <p class="color-white">Clear all the doubts raised against your trademark in the government objection. Work with a Tridhya Tech Private Limited-verified lawyer.</p>
                <ul>
                    <li>
                        <h4>Objection Notice</h4>
                    </li>
                    <li>
                        <h4>Affidavit Preparation</h4>
                    </li>
                    <li>
                        <h4>First Interview</h4>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is a Trademark Objection?</h2>
                <p class="text-justify">Trademark objection refers to the queries raised by the trademark examiner on some grounds in the examination report like deceptive trademark, descriptive trademark, identical trademark. Objection is the expression of disapproval by the authorities. After scrutinising the trademark application, the examiner may raise the objection in the examination report due to various valid reasons which do not meet the legal norms of the Trademark Act. Generally, trademark applications are objected on the absolute or relative grounds. But a trademark application can be objected under the more than one ground for refusal.</p>
                <h2 class="pageHeading">Why Respond to a Trademark Objection</h2>

                <div class="essential">
                    <h4>Brand Protection</h4>
                    <p class="text-justify">You would have been using the ™ symbol for a few months during the time of the objection. By the time your customers are likely to be addicted to the brand name. Filing a new application would not make any business sense. Hence it is better to simply identify the list of reasons your logo, slogan or brand name are different.</p>
                </div>
                <div class="essential">
                    <h4>Likely Clearance</h4>
                    <p class="text-justify">The chance that your application will be cleared is high when you respond with clear evidence regarding the distinctiveness of your trademark. So there's no reason for your application to be abandoned just because of the objection. The Registrar may only need a clarification.</p>
                </div>
                <h2 class="pageHeading">Trademark Objection Process</h2>
                <div class="essential">
                    <h4>1 Working Day</h4>
                    <p class="text-justify">If you have filed your trademark with us, we will be informing you that your trademark has been objected by the Registrar within a month from the publication of the Examination Report containing the objection. If you are not a customer, it will be best if you contact us within a month from the publication of the report.</p>
                </div>
                <div class="essential">
                    <h4>6 Working Days</h4>
                    <p class="text-justify">We will put you in touch with our lawyers, who will understand your case and frame the correct response and affidavit (if required). The response will be submitted.</p>
                </div>
                <div class="essential">
                    <h4>30 Working Days</h4>
                    <p class="text-justify">If your initial response has not been accepted by the Registrar, an interview will be scheduled, where the arguments would need to be presented in person. The objection will be lifted within 18 months if the government is satisfied with the response.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container">
    <div class="row">
        <h3 class="pageHeading text-center mt-30 mb-30">Types of Intellectual Property</h3>
        <div class="col-sm-12 table-responsive compare-table">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Trademark</th>
                        <th>Copyright</th>
                        <th>Patent</th>
                        <th>Provisional Patent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Applies To</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightTopTDBorder">Words, logos, slogans</td>
                        <td class=greyBg>Photographs, movies, music, software code</td>
                        <td class=greyBg>Inventions &amp; ideas</td>
                        <td class=greyBg>Start-ups and growing companies</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Applicants</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Business owners</td>
                        <td class=greyBg>Artists &amp; creative professionals</td>
                        <td class=greyBg>Inventors &amp; designers</td>
                        <td class=greyBg>Inventors &amp; designers</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Ownership Without Registration</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Yes, but rights are limited</td>
                        <td class=greyBg>Yes, but rights are limited</td>
                        <td class=greyBg>No</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Validity</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightBottomTDBorder">Indefinite, but to be renewed every 10 years</td>
                        <td class=greyBg>Lifetime of the author, plus 60 years</td>
                        <td class=greyBg>20 years</td>
                        <td class=greyBg>1 year</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary" href="./copyright-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./patent-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./provisional-patent"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
