@{
    PageData["keyword"] = "File Trademark Opposition, Oppose a Trademark";
    PageData["description"] = "Tridhya Tech Private Limited is a leader in online filing of trademark opposition and trademark registration. Tridhya Tech Private Limited can file a trademark opposition for just Rs.5,310.";
}

<section class="page-banner">
    <div class="banner">
        <img src="images/trademarkOpposition.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily File Trademark Opposition</h1>
                <p class="color-white">During the trademark registration process, an opposition can be raised by an person for registration of the trademark.</p>
            </div>
         
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">File Trademark Opposition</h2>
                <p class="text-justify">Trademark Opposition proceeding in India, though very extensive, is very interesting and fun. Before diving into the procedure of opposition proceeding, a quick run through the general procedure of trademark filing until registration would be helpful. Once a trademark application is filed, the Registry examines the application to determine the distinctiveness of the mark. If the Examiner is satisfied that the mark is distinctive and that there are no similar marks already existing in the Trade Register, then the mark is published in the Trademarks Journal. Post such publication, the mark is open for opposition by third parties for a period of 4 months. Accordingly, if any third party opposes the mark, the opposition proceedings shall initiate and upon completion, the mark will then be registered depending on the outcome of the same. </p>
                <p class="text-justify">In cases wherein the Trade Mark Registrar approves an application for advertisement in the Trademark Journal before registration, any person in the Public is allowed an opportunity to oppose the registration of the mark - if a person or business entity feels that registration of the mark would not be fair. A trademark can be opposed in such cases. The trademark applicant is required to file a counter with the Trademark Registrar within 2 months of filing a trademark opposition.</p>

                <h2 class="pageHeading">Important Aspects of Filing Trademark Opposition</h2>
                <div class="essential">
                    <h4>Trademark Opposition</h4>
                    <p class="text-justify">After the examiner reviews your trademark and finds that it qualifies for registration, your trademark will be published in the Trademarks Journal. The purpose behind publishing a Trademark in the Journal is to enable any third party to view the trademark and file a trademark opposition against it. Simply, a trademark opposition is filed by a third-party against the registration of your trademark.</p>
                </div>

                <div class="essential">
                    <h4>Trademark Journal</h4>
                    <p class="text-justify">Trademark journal publication is an important step in the registration of a trademark. If a trademark application has not been objected by the Trademark Examiner in the examination report or if there was an objection, and it was overcome, then the mark is published in the trademark journal.</p>
                </div>
                <div class="essential">
                    <h4>Respond Professionally</h4>
                    <p class="text-justify">It's important to discuss the reason for raising a trademark opposition with a Professional and deciding on a course of action that can be taken. An experienced professional can significantly improve chances of successful protection of a registered trademark.</p>
                </div>
                <div class="essential">
                    <h4>No Guarantee</h4>
                    <p class="text-justify">Filing an opposition for a trademark application does not guarantee that the mark will be prevented from registration. Trademark registration is a process and based on the facts and premises of each case, the verdict on registration is provided only by the Trademark Registrar. Hence, our professionals can only make best efforts based on expertise.</p>
                </div>
                <div class="essential">
                    <h4>Timeline</h4>
                    <p class="text-justify">Before filing a trademark opposition, it is important to periodically check the status of the trademark application until its processing on the Government side. Trademark opposition requires various time-bound response or action from the applicant and opposing party. Hence, it's important to continually check the status of the application and take required action until completion of the process.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
