<section class="section1 cover-background" style="background-image: url(../../images/office.jpg);">
    <div class="container-fluid">
        <div class="row">
            <div class="right col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                <div class="title">
                    <h3>WHO WE ARE?</h3>
                </div>
                <ul class="list1">
                    <li>Tridhya tech is built by highly skilled and dynamic expert team of visionaries with the profound business insight and clear vision of becoming the most eminent IT company in global marketplace.</li>
                    <li>The company is equipped with fine infrastructure and ideal technology support together with the broader distribution network so that the business requirements of the partners can be satisfied.</li>
                    <li>With exceptional experience, comprehensive intelligence system across diverse industries and domains, we work with customers to turn them into some of the most successful and high-performance Organizations.</li>
                    <li>We provide web development and IT outsourcing services on diverse technology platforms. We have proven expertise in application development, product development & maintenance, enterprise solutions, mobile apps development.</li>
                    <li>From the most demanding to the most distant customers, we help global leaders grow and transform their business and bring greater flexibility with faster time to market through technical excellence, all at lower costs, right at their doorsteps.</li>
                    <li>We have always shared every bit of success with both clients and employees for successfully achieving every single milestone, and accomplishing project deliverables. We want to see businesses grow, no matter whether newly born ventures, businesses striving to outperform, or established organizations looking to sustain their position.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section2 pb">
    <div class="container">
        <div class="row">
			<div class="col-md-9">
				<div class="row">
					<div class="col-md-6">
						<div class="box">
							<div class="box-in text-center">
								<div class="icon"><img src="../Images/eye.svg" alt=""></div>
								<div class="title text-center">
									<h4>Vision</h4>
								</div>
								<p>Our mission is to be the industry's premier service provider company focused to deliver the maximum to our clients. We believe in the simple not the complex. We are also giving equal important of innovations. We believe in saying no to thousands of projects, so that we can really focus on the few that are truly important and meaningful to us.</p>
								<p>We believe in deep collaboration and cross-pollination of our groups, which allow us to innovate in a way that others cannot. And frankly, we don't settle for anything less than excellence in every group in the company, and we have the self-honesty to admit when we're wrong and the courage to change.</p>
							</div>                    
						</div>
					</div>

					<div class="col-md-6">
						<div class="box">
							<div class="box-in text-center">
								<div class="icon"><img src="../Images/mission.svg" alt=""></div>
								<div class="title text-center">
									<h4>Mission</h4>
								</div>
								<p>To provide a package of attractive IT services for business purposes through a competent and motivated team of employees using the state of the art technology to maintain stability and growth of the organization whilst contributing to the IT Sector by providing most advantageous IT solution to all.</p>                       
							</div>
						</div>                    
					</div>
				</div>
			</div>

			<div class="col-md-3">
                <div class="box">
                    <div class="box-in text-center">
                        <div class="icon"><img src="../Images/growth.svg" alt=""></div>
                        <div class="title text-center">
                            <h4>Benefits</h4>
                        </div>
                        <p>Highly qualified team</p>
                        <p>Certified developers</p>
                        <p>Customer centric approach</p>
                        <p>Domain knowledge expertise</p>
                        <p>On-time delivery</p>
                        <p>Privacy and reliability</p>
                        <p>Cost effective pricing</p>
                        <p>Immediate response</p>
                        <p>Clear communication</p>
                        <p>Innovative solutions</p>
                        <p>Technology awareness</p>
                        <p>Flexible working hours</p>
                    </div>
                </div>                    
            </div>
        </div>       
    </div>
</section>