<a href="#" title="Shaligram Infotech AJAX | Custom Software Development Company"><img src="../images/Technology/ajax.jpg" alt="Shaligram Infotech AJAX | Custom Software Development Company"></a>

<div class="services">

    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>Ajax</h2>
            </div>
            <ul class="list1">
                <li>AJAX stands for asynchronous JavaScript and XML.</li>
                <li>It is a group of interrelated Web development techniques used on the client-side to create asynchronous Web applications.</li>
                <li>Web applications can send data to and retrieve from a server asynchronously (in the background) without interfering with the display and behavior of the existing page with Ajax.</li>
                <li>The XMLHttpRequest object is used to retrieve data.</li>
                <li>Ajax is a mixture of a group of technologies and is not a single technology.</li>
                <li>To mark up and style information, the combination of HTML and CSS can be used.</li>
                <li>JavaScript and the XMLHttpRequest object provide a way for exchanging data asynchronously between the browser and the server to avoid full page reloads.</li>
            </ul>
        </div>
    </section>

    <section class="section1">
        <div class="container">
            <div class="title">
                <h4>Services</h4>
            </div>
            <ul class="list1 column-count">
                <li>HTML (or XHTML) and CSS for presentation</li>
                <li>The Document Object Model (DOM) for dynamic display of and interaction with data</li>
                <li>Interchange and manipulation data</li>
                <li>The XMLHttpRequest object</li>
                <li>ASP.NET Web Development</li>
                <li>Web applications</li>
                <li>Enterprise Content Management</li>
                <li>Silverlight Application Development</li>
                <li>Azure Application Development</li>
                <li>Software Product Development</li>
                <li>Custom Software Development</li>
                <li>Enterprise Application Development</li>
            </ul>
        </div>
    </section>

</div>
