<a href="#" title="Shaligram Infotech Biztalk | Biztalk Server 2013 R2"><img src="~/Images/biztalk.jpg" alt="Shaligram Infotech Biztalk | Biztalk Server 2013 R2"></a>


<div class="services">
    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>BizTalk</h2>
            </div>
            <ul class="list1">
                <li>Microsoft BizTalk Server enables companies to automate business processes by the use of adapters that are tailored to communicate with different software systems used in an enterprise. </li>
                <li>This Microsoft created server provides enterprise application integration, business process automation, business-to-business communication, message broker and business activity monitoring.</li>
                <li>Initially the Biztalk Server 2013 R2 was positioned as an application server as well as an application integration server. Microsoft continues to support BizTalk for it to be an updated product especially with the cloud software becoming extremely common. </li>
                <li>BizTalk is an amazing source via which companies integrate and manage automated businesses by exchanging business documents like purchase orders and invoices between different applications, within and even across organizational boundaries.</li>
            </ul>
        </div>
    </section>

    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Services</h4>
            </div>
            <ul class="list1 column-count">
                <li>Corporate solutions for financial industry to process ISO15022 file formats (MT 564, MT 568 and others).</li>
                <li>Online web integration of Microsoft BRE (Microsoft BizTalk Business Rule Engine).</li>
                <li>Custom port and adapter development.</li>
                <li>Tailor made pipeline component for error handling.</li>
                <li>Dynamic Message Mapping using XSLT or Map.</li>
                <li>Message based Re-Routing.</li>
                <li>SWIFT Accelerator :- Assembler and Dissembler.</li>
                <li>BizTalk orchestration and MAP</li>
                <li>XML, multi part and flat file schemas</li>
                <li>Creating and publishing policies</li>
            </ul>
        </div>
    </section>
    
</div>
