
<div class="loader img" style="display:none">
    <p><img src="./Images/Spinner.gif" style="height:100px; width:100px" ></p>
</div>

<div class="service-form">
    <div class="form-heading">
        <h3><b>{{FromRsText}} /-</b> all inclusive fees</h3>
        <p class="text-justify">{{EMIText}} for 12 months*</p>
    </div>
    <form name="enquiryForm">
        <div class="sidebar-form ">
            <div class="input-field required">
                <i class="fa fa-user"></i>
                    <input class="form-input " type="text"  placeholder="Name" ng-model="Name"  maxlength="40" required/>
            </div>
            <div class="input-field required">
                <i class="fa fa-envelope"></i>
                <input class="form-input" type="email"  placeholder="Email" ng-model="Email" maxlength="50" required/>
            </div>
            <div class="input-field required">
                <i class="fa fa-phone"></i>
                <input class="form-input" type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57'  placeholder="Phone" ng-model="Phone"  maxlength="12" required />
            </div>
            <div class="input-field">
                <input type="submit" value="Get Started" class="btn" ng-click="Savedata(enquiryForm)" />
            </div>
        </div>
    </form>
</div>



<script>
   

    $(document).ready(function () {
        var stickyOffset = $('.navbar').offset().top;
        $(window).scroll(function () {
            var sticky = $('.navbar'),
                scroll = $(window).scrollTop();
            if (scroll >= stickyOffset) sticky.addClass('navbar-fixed-top');
            else sticky.removeClass('navbar-fixed-top');
        });

        if ($(window).width() < 767) {
            $("#navbar .nav li").click(function () {
                $(this).children(".subMenu").slideToggle();
                //$("#navbar .nav li .fa").toggleClass("fa-angle-down fa-angle-up");
            });
        }

        $(".navbar-toggle").click(function () {
            $(this).toggleClass("open");
        });

        $('#mediaSlider').carousel({
            interval: false
        });

        var clickEvent = false;
        $('#mediaSlider').on('click', '.nav a', function () {
            clickEvent = true;
            $('.nav li').removeClass('active');
            $(this).parent().addClass('active');
        }).on('slid.bs.carousel', function (e) {
            if (!clickEvent) {
                var count = $('.nav').children().length - 1;
                var current = $('.nav li.active');
                current.removeClass('active').next().addClass('active');
                var id = parseInt(current.data('slide-to'));
                if (count == id) {
                    $('.nav li').first().addClass('active');
                }
            }
            clickEvent = false;
        });

        //right side fixed form will move -->
        var windw = this;
        $.fn.followTo = function (elem) {
            var $this = this,
                $window = $(windw),
                $bumper = $(elem),
                bumperPos = $bumper.offset().top,
                thisHeight = $this.outerHeight(),
                setPosition = function () {
                    if ($window.scrollTop() > (bumperPos - thisHeight)) {
                        $this.css({
                            position: 'absolute',
                            top: (bumperPos - thisHeight)
                        });
                    } else {
                        $this.css({
                            position: 'fixed',
                            top: 0
                        });
                    }
                };
            $window.resize(function () {
                bumperPos = pos.offset().top;
                thisHeight = $this.outerHeight();
                setPosition();
            });
            $window.scroll(setPosition);
            setPosition();
        };
        $('#one').followTo('#two');
    });
</script>