@{
    PageData["keyword"] = "Design Registration, Design Filing";
    PageData["description"] = "Shaligram Infotech is a leader in online design registration and trademark filing. Shaligram Infotech can help register a design registration for just Rs.7,110.";
}

<section class="page-banner">
    <div class="banner">
        <img src="images/designRegistration.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily Register a Design</h1>
                <p class="color-white">Design registration can be used to protect original shapes, patterns, ornaments, and composition of colours and lines applied to any article by an industrial process.</p>
            </div>
        
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Design Registration</h2>
                <p class="text-justify">Design rights are intellectual property rights that protect the visual design of objects; i.e. the visual perception of an object by a viewer. Design registration is a type of intellectual property protection, under which newly created designs applying to a articles created under an industrial process can be protected from counterfeiting. Under the Design Act, 2000, a shape, configuration, pattern or ornament or composition of lines or colour or combination applied to any article can be registered. To register a design, it is necessary to satisfy the following conditions: it must be new and original, the design should relate to features of shape, configuration, pattern or ornament applied to an article, the design must be applied to any article by an industrial process and the design must be visible and should appear on an article.</p>
                <p class="text-justify">Design registration provides the creator, exclusive rights over use of the design for a period of ten years, that can be further extended for a period of five years. Under the Design Act, the owner of a registered design can seek legal remedies in case of infringement.</p>
                <h2 class="pageHeading">Important Aspects of Design Registration</h2>
                <div class="essential">
                    <h4>Timeline</h4>
                    <p class="text-justify">Post filing of a design registration application, it is important to periodically check the status of the application until its processing on the Government side. Design registration application process sometimes requires various time-bound response or action from the applicant. Hence, it's important to continually check the status of the application and take required action until registration.</p>
                </div>
                <div class="essential">
                    <h4>File Professionally</h4>
                    <p class="text-justify">A product’s design is an important distinguishing aspect in the minds of consumers. Unfortunately, well-known designs are often copied. In order to protect your distinctive design it is recommended to register your design as a design registration. The appearance of the design will then be protected and when competitors introduce their products they have to take distance of your design.</p>
                </div>
                <div class="essential">
                    <h4>10 Year Protection</h4>
                    <p class="text-justify">Designs registered under the Designs Act are protected for a period of ten years, renewable by another 5 years. However, design registration mainly applies only to designs applied by an industrial process on any article. Hence, items that are covered under the Trademark Act or Copyright Act cannot be registered as a design.</p>
                </div>
                <div class="essential">
                    <h4>Protection</h4>
                    <p class="text-justify">There are two kinds of designs that you may register: (1) A new design for an object, such as a household appliance. (2) A new design that is going to be used on a product, such as a pattern for curtain material. The most important thing to realize is that you need to register the design before introducing it publicly. Otherwise, your design might be copied before even having registered.</p>
                </div>
                <div class="essential">
                    <h4>Government Process</h4>
                    <p class="text-justify">Filing a design registration application does not guarantee registration of the design. Design registration is a process and registration is provided only by the Registrar - based on the facts and premises of each case. Hence, our professionals can only make best efforts for filing of design registration application based on experience and expertise.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
