<a href="#" title="Embedded Software Development Company UK"><img src="../images/Process/banner-process.jpg" alt="Embedded Software Development Company UK"></a>

<section class="section1">
    <div class="container">
        <div class="title">
            <h4>Development process and practices by us</h4>
        </div>
        <ul class="list1">
            <li>Our focus is always on achieving the best in class UX and we firmly believe that satisfactory client / user experience can improve the levels of engagement.</li>
            <li>According to us, this is the key performance indicator for a software company.</li>
            <li>Our agile project management practices will ensure early recognition of the project purpose and value.</li>
            <li>Our project team will ensure that each iteration is taken care of. Our business analyst and techno - functional consultants will act as bridge between you and the development team and pay attention to all your considerations and changes during development phase. Regular - structured meetings between your small - empowered team and our development team during SDLC and focus on outcome will ensure the project success.</li>
        </ul>
    </div>
</section>

<section class="section2 pt pb">
    <div class="container">
        <div class="col-md-6">
            <img alt="Agile Development Model" title="Agile Development Model | Embedded Software Development" src="../images/Process/final_agile_development.png">
        </div>
        <div class="col-md-6" style="margin-top:40px;">
            <img alt="Agile and Waterfall development" title="Agile and Waterfall development | Embedded Software Development company USA" src="../images/Process/final-waterfall.png">
        </div>
    </div>
</section>

<section class="section3">
    <div class="container">
        <div class="col-md-6">
            <img alt="Agile and Waterfall development" title="Agile and Waterfall development | Embedded Software Development company UK" src="../images/Process/final_waterfall_model1.png">
        </div>
        <div class="col-md-6">
            <img alt="Agile and Waterfall development" title="Agile and Waterfall development" src="../images/Process/Waterfall.png">
        </div>
    </div>
</section>

<section class="section4 pt pb">
    <div class="container">
        <div class="title">
            <h4>Scrum - Agile approach</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>The Scrum - Agile development process is usually suggested for the kind of projects (mostly product development) with rapidly changing requirements during SDLC. Rather than providing complete, detailed descriptions of how everything needs to be done on a project, considerable parts are left up to the Scrum software development team. Scrum software development moves forward with the series of iterations that we call as sprints. Scrum Master will have the key role to play as a coach to the Scrum Development Team.</p>
            </div>
            <div class="col-sm-6">
                <img alt="Embedded Software Development Company UK" src="../images/Process/scrum.png">
            </div>
        </div>
    </div>
</section>