<img src="../images/Solutions/bg-2.jpg" alt="app development" title="Enterprise Content Management Development Company | Enterprise Content Management Development Company USA">

<div class="solution">
    <section class="section1">
        <div class="container">
            <div class="title">
                <h4>Features</h4>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list1">
                        <li>Email Marketing</li>
                        <li>Project Management</li>
                        <li>Customer Portal</li>
                        <li>Calendar and Task Management</li>
                        <li>Reporting</li>
                        <li>Document and File Management</li>
                        <li>Teams &amp; Access Control</li>
                        <li>Inventory Management</li>
                        <li>Integrations and Extensions</li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <img class="img-responsive img" width="300" src="../images/Solutions/ECM.png" alt="ecm" title="Enterprise Content Management Development Company">
                </div>
            </div>
        </div>
    </section>
</div>
