@{
    PageData["keyword"] = "Founders' Agreement, Founders' Agreement India,Founders Agreement template";
    PageData["description"] = "Draft your founders agreement with help of a legal expert. founders agreement can be drafted online within 1 day at Rs. 4,500 onwards. ✓EMI available.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/foundersAgreement.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Founders' Agreement</h1>
                <p class="color-white">An agreement to outline all the important aspects of the relationship between the founders.</p>
                <ul>
                    <li>
                        <h4>Advice on Requirements</h4>
                    </li>
                    <li>
                        <h4>Document Drafting</h4>
                    </li>
                    <li>
                        <h4>Iterations</h4>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is a Founders' Agreement?</h2>
                <p class="text-justify">A founders' agreement outlines the responsibilities and different roles of the founding members of a company, the equity vested in them, the ownership of intellectual property created by them and their roles and responsibilities. It is a broad agreement covering different aspects of the endeavour that the founders are about to undertake, including the consequences of their departure or death.</p>
                <h2 class="pageHeading">Advantages of a Founders' Agreement</h2>
                <div class="essential">
                    <h4>Clears the Air</h4>
                    <p class="text-justify">Between co-founders many matters tend to go undiscussed. This agreement gives the early team members the opportunity to discuss these matters, clearing any doubts and allowing for a better relationship.</p>
                </div>
                <div class="essential">
                    <h4>Defines Roles</h4>
                    <p class="text-justify">This gives members the opportunity to clarify their role in the company and also gives every founding member a good understanding of what the other founding members do.</p>
                </div>
                <h2 class="pageHeading">Freelancer Agreement Procedure</h2>
                <div class="essential">
                    <h4>2 Working Days</h4>
                    <p class="text-justify">Our representative will get in touch with you to understand your requirements, when you send in a request. If further details are required, we will contact you for the same. Once these are in, we will work on the request and send it to you for review within 3 to 4 working days. Feel free to get back to us if you would like any changes.</p>
                </div>
                <div class="essential">
                    <h4>2 Working Days</h4>
                    <p class="text-justify">Our lawyers will work on them, in case you would like any changes to the agreement. Two rounds of iterations are included in the original price.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
