@{
    PageData["keyword"] = "GST migration";
    PageData["description"] = "Complete your GST migration online at Shaligram Infotech. Shaligram Infotech offers online GST migration from Rs.2,610 for entities having VAT or Service Tax registration.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/gstMigration.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily Complete Goods &amp; Service Tax Migration</h1>
                <p class="color-white">GST migration is mandatory for all entities having VAT or Central Excise or Service Tax Registration.</p>
            </div>
         
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">GST Migration</h2>
                <p class="text-justify">Goods and Services Tax or GST has been implemented in India from 1st July, 2017 and GST migration started from 2016. The time-limit for GST migration has been extended by another three months until end of September, 2017 since all entities registered under VAT or Central Excise or Service Tax did not migrate to GST. Further, all entities having VAT or Central Excise or Service Tax registration are mandatorily required to obtain GST registration by migrating their data to the new system without fail.</p>
                <p class="text-justify">To complete GST migration, entities registered under VAT or Central Excise or Service Tax would have received a provisional userid and password. GST migration can be completed by providing additional information required under GST and using the provisional userid and password. Provisional GSTIN is provided to the businesses once the GST migration application is completed. Provisional GSTIN can be used by the taxpayer to transact business and the provisional ID would be confirmed and made final GSTIN by the Government automatically.</p>
                <h2 class="pageHeading">Advantages of Goods &amp; Services Tax (GST)</h2>

                <div class="essential">
                    <h4>Subsuming of Taxes</h4>
                    <p class="text-justify">Subsumes various taxes like Central Sales Tax, Additional Customs Duty, Purchase Tax, Luxury Tax, etc. Hence, under GST, many of the taxes in existence today would be subsumed and made into one tax. This would make tax collection and compliance easy for businesses across the country.</p>
                </div>
                <div class="essential">
                    <h4>Larger Tax Base</h4>
                    <p class="text-justify">GST is expected to increase the tax base in India significantly. As more and more businesses become compliant, the overall tax liability for businesses is expected to reduce overtime. Further, GST will use the latest in technology, including data from Aadhaar database, PAN database, etc., to make GST registration and GST return filing process, as smooth as possible.</p>
                </div>
                <div class="essential">
                    <h4>Lower Taxes</h4>
                    <p class="text-justify">Currently in some states under the VAT regime, businesses are required to adhere to VAT regulations once they cross an annual turnover of Rs.5 lakhs. For northeast or hill states, GST liability accrues only if an entity crosses an annual turnover of Rs.10 lakhs, whereas for rest of India, the threshold is set at Rs.20 lakhs under the GST regime.</p>
                </div>
                <div class="essential">
                    <h4>Unified Platform</h4>
                    <p class="text-justify">With the implementation of GST in India, the indirect taxes would be streamlined and standardized. Businesses would no longer have to obtain multiple VAT registration in different States or obtain a separate VAT and Service Tax registration under GST regime. For selling or purchasing goods or providing services across India a single GST registration would be sufficient.</p>
                </div>
                <div class="essential">
                    <h4>Ease of Doing Business</h4>
                    <p class="text-justify">Currently, many businesses like restaurants, computer sales and services businesses are adhere to both VAT and Service Tax regulations. This creates a compliance burden on the business, as they have to calculate taxes for the transaction based on different rates for different items. Under GST, the distinction between goods and services will be gone – making doing business easy.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
