<a href="#" title="Big Data Application Development"><img src="../images/Technology/hadoop.jpg" alt="Big Data Application Development"></a>

<div class="services">

    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>Big Data</h2>
            </div>
            <ul class="list1">
                <li>Big Data is not just about velocity, volume, veracity and variety. It is about how you identify the right information from data that is growing exponentially, and use it to add business value.</li>
            </ul>
            <hr>
            <div class="title">
                <h2>Hadoop</h2>
            </div>
            <ul class="list1">
                <li>Apache Hadoop is an open source project that offers a new way to store and process big data. Hadoop is a framework for storing, analysing and accessing large amount of data, quickly and cost effectively through clusters of commodity hardware. Web 2.0 companies such as Google and Facebook use Hadoop to store and manage their huge data sets.</li>
                <li>Hadoop is capable of computing on single server to thousands of machines and provides a low cost, but then dependable solution to tackle data management problems.</li>
                <li>Hadoop ecosystem includes: Hadoop, MapReduce, HDFS, HBase, Zookeeper, Hive, Pig, Sqoop, Cassandra, Oozie, Flume, Spark.</li>
            </ul>
        </div>
    </section>


    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Application</h4>
            </div>
            <ul class="list1 column-count">
                <li>Load large sets of structured, semi-structured and unstructured data coming from UNIX, NoSQL and a variety of portfolios</li>
                <li>Reports for the BI </li>
                <li>MapReduce jobs for data cleaning and pre-processing.</li>
                <li>Data visualization</li>
                <li>Big Data Management</li>
                <li>Big Data Analytics</li>
                <li>Data architecture including data ingestion pipeline design</li>
                <li>Data modelling and data mining</li>
                <li>Machine learning and advanced data processing,</li>
                <li>Optimizing ETL workflows</li>
                <li>Real time queries over Big Data</li>
                <li>Data Stream Processing</li>
                <li>Data Serialization</li>
                <li>Data Analytics</li>
            </ul>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="title">
                <h4>Areas of Expertise</h4>
            </div>
            <ul class="list1 column-count">
                <li>Real-time analytic: Spark</li>
                <li>Processing: MapReduce </li>
                <li>Query-Engine : Hive, Impala</li>
                <li>ETL: Pig</li>
                <li>Resource Manager: YARN, Mesos</li>
                <li>Big Data Analytics</li>
                <li>Distribution: CLoudera, HortonWorks, Apache</li>
                <li>Data Integration: Flume, Sqoop</li>
                <li>NO-SQL: Hbase, MongoDB</li>
                <li>Security: Ranger, Sentry, Kerberos</li>
                <li>WorkFlow: OOZIE</li>
            </ul>
        </div>
    </section>

    <section class="section4">
        <div class="container">
            <div class="title">
                <h4>Portfolio</h4>
            </div>
            <div class="port_content">
                <div id="isotope-container" class="isotope">
                    @*<?php  include("../portfolio/php/hadoop-t.php"); ?>*@
                    <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
