<div class="">
    <div class="img_pic">
        <img class="img-responsive" src="../images/Services-banner/hire-resources.jpg" alt="Hire Resources" title="Hire ASP.Net resource | Hire WPF resource">
    </div>
</div>

<div class="services">
    <section class="section1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 left">
                    <h2>Because Working Together <br><span>is Success</span></h2>
                </div>
                <div class="col-md-8 right">
                    <p>If you are a software company and wish to hire a team or a dedicated developer on full time basis, Shaligram can offer you a choice of senior and junior developers as per your required technical skills and experience. They will work directly under your project manager/s on offshore basis and will report to you as per your reporting criteria. Apart from cost benefit of offshore resource hiring, you also get highly skilled techno functional resources to ensure your project success. Our resource hiring model is flexible and you can scale up or scale down your offshore resources as per your project requirement.</p>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list1">
                                <li>Hire SharePoint resource</li>
                                <li>Hire asp.net resource</li>
                                <li>Hire iOS resource</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="con">
                                <li>
                                    <img src="../images/uk-flag.jpg" alt="uk-flag" height="20">
                                    <a href="/pricing-comparison-uk" ui-sref="pricing-comparison-uk">Price Comparison UK </a>
                                </li>

                                <li>
                                    <img src="../images/aus-flag.jpg" alt="aus-flag" height="20">
                                    <a href="/pricing-comparison-aus" ui-sref="pricing-comparison-aus">Price Comparison AU </a>
                                </li>

                                <li>
                                    <img src="../images/us-flag.jpg" alt="us-flag" height="20">
                                    <a href="/pricing-comparison-us" ui-sref="pricing-comparison-us">Price Comparison USA </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section2">
<div class="container">
<div class="title">
            <h4>Services:</h4>
        </div>
            <p>We offer the following services:</p>
            <ul class="list1 column-count">
                <li itemscope itemtype="http://schema.org/Service">ASP.Net resource</li>
                <li itemscope itemtype="http://schema.org/Service">PHP resource</li>
                <li itemscope itemtype="http://schema.org/Service">iOS resource</li>
                <li itemscope itemtype="http://schema.org/Service">Android resource</li>
                <li itemscope itemtype="http://schema.org/Service">JAVA resource</li>
                <li itemscope itemtype="http://schema.org/Service">SharePoint resource</li>
                <li itemscope itemtype="http://schema.org/Service">BizTalk resource</li>
                <li itemscope itemtype="http://schema.org/Service">WCF resource</li>
                <li itemscope itemtype="http://schema.org/Service">Alfresco resource</li>
                <li itemscope itemtype="http://schema.org/Service">Liferay resource</li>
                <li itemscope itemtype="http://schema.org/Service">HTML5 resource</li>
                <li itemscope itemtype="http://schema.org/Service">jQeury/AJAX resource</li>
                <li itemscope itemtype="http://schema.org/Service">VB.Net resource</li>
                <li itemscope itemtype="http://schema.org/Service">C#.Net resource</li>
                <li itemscope itemtype="http://schema.org/Service">WPF resource</li>
            </ul>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="title">
            <h4>Expertise:</h4>
        </div>
            <p>We hold expertise in:</p>

            <div class="tech-list">
                <h3>Microsoft Technologies:</h3>
                <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/microsoft-technologies')">
                </div>
            </div>
            <div class="tech-list">
                <h3>Open Source Technologies:</h3>
                <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/Opensource')">
                </div>
            </div>
            <div class="tech-list">
                <h3>Mobile Technologies:</h3>
                <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/mobile')">
                </div>
            </div>
            <div class="tech-list">
                <h3>Other Technologies:</h3>
                <div static-include="Views/SCPages/GetImages.html" ng-controller="CommonImagesController" ng-init="GetFilesList('/Images/services/others')">
                </div>
            </div>
        </div>
    </section>
</div>