@{
    PageData["keyword"] = "Legal Notice, Legal Notice India";
    PageData["description"] = "Draft your legal notice with help of a legal expert. legal notice can be drafted online within 1 day at Rs. 1,800 onwards. ✓EMI available.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/legalNotice.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Legal Notice</h1>
                <p class="color-white">A formal communication to a person or entity informing him that you intend to undertake legal proceedings against him.</p>
            </div>
          
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is a Legal Notice?</h2>
                <p class="text-justify">A Legal Notice is the legal concept describing a requirement that a party be aware of legal process affecting their rights, obligations or duties. It is a step taken before filing a suit, and is meant to warn the other party that legal action may be taken against him/her, if he/she fails to comply with some specified condition. For example, a legal notice by a company for other company's same name that if the company will not  change the company name, the company owner will take legal action against him.</p>
                <h2 class="pageHeading">Advantages of a Disclaimer</h2>
                <div class="essential">
                    <h4>Limits Liability</h4>
                    <p class="text-justify">A disclaimer is generally used in situations involving a certain element of risk or uncertainty. For such cases, a well-drafted disclaimer clearly outlines the rights and liabilities of both parties.</p>
                </div>
                <div class="essential">
                    <h4>Reduces Risk</h4>
                    <p class="text-justify">Protect the rights of both parties in any legally recognised relationship between a manufacturer and consumer. A well-drafted disclaimer can go a long way in avoiding ambiguity and minimising legal risks.</p>
                </div>
                <h2 class="pageHeading">Legal Notice Procedure</h2>
                <div class="essential">
                    <h4>2 Working Days</h4>
                    <p class="text-justify">Once you send in a request, our representative will get in touch with you to understand your requirements. If further details are required, we will contact you for the same. Once these are in, we will work on the request and send it to you for review within 3 to 4 working days. Feel free to get back to us if you would like any changes.</p>

                    <p class="text-justify">In case you would like any changes to the agreement, our lawyers will work on them. Two rounds of iterations are included in the original price.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>

