<a href="#" title="Shaligram Infotech Node Js | Enterprise Application Development"><img src="~/Images/nodejs.jpg" alt="Shaligram Infotech Node Js | Enterprise Application Development"></a>


<div class="services">

    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>Nodejs</h2>
            </div>
            <ul class="list1">
                <li>Node.js is an open source, cross-platform runtime environment for server-side and networking applications.</li>
                <li>Node.js applications are written in JavaScript and can be run within the Node.js runtime on OS X, Microsoft Windows, Linux, FreeBSD, NonStop, IBM AIX, IBM System z and IBM i.</li>
                <li>The Node.js foundation hosts and supports its work as it is a 'Collaborative Project' at Linux Foundation.</li>
                <li>An application's through put and scalability is optimized as Node.js provides an event-driven architecture and a non-blocking I/O API.</li>
                <li>Real-time web applications, mostly use these technologies.</li>
                <li>Node.js consists of a built-in library that allows applications that act as a Web server without the use of any software.</li>
                <li>It is one of the best platforms that is working as a server-side platform by many known companies, nowadays.</li>
            </ul>
        </div>
    </section>

    <section class="section1">
        <div class="container">
            <div class="title">
                <h4>Services</h4>
            </div>
            <ul class="list1 column-count">
                <li>Enterprise Application Development</li>
                <li>Scalable network applications</li>
                <li>The Internet of Things</li>
                <li>E-Commerce</li>
                <li>Payment Processing</li>
                <li>Social Media</li>
                <li> Realtime Services</li>
                <li> Media</li>
                <li>Enterprise Web Service</li>
                <li>Network applications</li>
            </ul>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="title">
                <h4>Portfolio</h4>
            </div>
            <div class="port_content">
                <div id="isotope-container" class="isotope">
                    <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                    </div>
                    @*<?php  include("../portfolio/php/nodejst.php"); ?>*@
                </div>
            </div>
        </div>
    </section>

</div>
