@{
    PageData["keyword"] = "Partnership Firm Registration, Partnership Formation";
    PageData["description"] = "Shaligram Infotech is a leader in online Partnership Firm Registration in India. Register a Partnership through Shaligram Infotech for as low as Rs.5,310 all inclusive.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/partnership.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">General Partnership </h1>
                <p class="color-white">Low costs, ease of setting up and minimal compliance requirements make it a sensible option for home businesses.</p>
                <ul>
                    <li>
                        <h4>Gather Details</h4>
                    </li>
                    <li>
                        <h4>Document Drafting</h4>
                    </li>
                    <li>
                        <h4>Iterations</h4>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
@*<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>From Rs.5310 /-</b> all inclusive fees</h3>
            <p class="text-justify">EMI: Rs.474.03 for 12 months*</p>
        </div>
        <form>
            <div class="sidebar-form">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="text" value="" placeholder="Name" />
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="text" value="" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" value="" placeholder="Phone" />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>*@
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is a General Partnership?</h2>
                <p class="text-justify">Partnership firms is a very popular form of business in India. It is when two or more persons come together with a common objective to earn a profit. It cannot be formed by a single person. To form a partnership two or more persons are required to come together. All the persons who come together agree to share profit as well as losses in the equal ratio or predetermined ratio. All types of partnerships are governed under Indian Partnership Act of 1932.</p>
                <p class="text-justify">Persons who have entered into partnership with one another to carry on a business are individually called “<strong>Partners</strong>“; collectively called as a “<strong>Partnership Firm</strong>”; and the name under which their business is carried on is called the “<strong>Firm Name</strong>”.</p>
                <p class="text-justify">A partnership firm is not a separate legal entity distinct from its members. It is merely a collective name given to the individuals composing it. Hence, unlike a company which has a separate legal entity distinct from its members, a firm cannot possess property or employ servants, neither it can be a debtor or a creditor. It can not sue or be sued by others.</p>
                <h2 class="pageHeading">Facts on Partnership</h2>
                <div class="essential">
                    <h4>Why should I set up a partnership firm?</h4>
                    <p class="text-justify">A partnership firm is best suited for small businesses that plan to remain small. Low costs, ease of setting up and minimal compliance requirements make it a sensible option for such businesses. Registration is optional for General Partnerships. It is governed by Section 4 of the Partnership Act, 1932.</p>
                </div>
                <div class="essential">
                    <h4>Is a partnership firm a separate entity?</h4>
                    <p class="text-justify">In partnership firm the partners are the owners, and thus, are not separate entity from the firm. Any legal issues or debt incurred by the firm is the responsibility of its owners, the partners.</p>
                </div>
                <div class="essential">
                    <h4>How many partners can there be?</h4>
                    <p class="text-justify">A partnership firm must have mimimum two partners. The banking business can have up to 10 partners, while those engaged in any other business can have upto 20 partners in a partnership firm. Profits and losses are divided equally or unequally among the partners.</p>
                </div>
                <div class="essential">
                    <h4>Is partnership firm registration necessary?</h4>
                    <p class="text-justify">Registration of a partnership is not necessary. However, for a partner to sue another partner or the firm itself, the partnership should be registered. Moreover, for the partnership to bring any suit to court, the firm should be registered. For this reason, it is recommended that larger businesses register the partnership deed.</p>
                </div>
                <div class="essential">
                    <h4>What are the main aspects of a partnership deed?</h4>
                    <p class="text-justify">The deed should contain the names of the partners and their addresses, the partnership name, the date of commencement of operation of the firm, any capital that is invested by each partner in the firm, the type of partnership and profit-sharing matrix, rules and regulations to be followed for intake or removal of partners.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container">
    <div class="row">
        <h3 class="pageHeading text-center mt-30 mb-30">Compare Your Options</h3>
        <div class="col-sm-12 table-responsive compare-table">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Partnership <br /> Firm</th>
                        <th>Limited Liability Partnership</th>
                        <th>One Person Company</th>
                        <th>Private Limited Company</th>
                        <th>Sole <br /> Proprietorship</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Recommended For</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightTopTDBorder">Home businesses</td>
                        <td class=greyBg>Professional services firms</td>
                        <td class=greyBg>Sole promoters</td>
                        <td class=greyBg>Start-ups and growing companies</td>
                        <td class=greyBg>Small traders and manufacturers</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Ease of Accommodating Investment</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Almost impossible</td>
                        <td class=greyBg>Possible, but unlikely</td>
                        <td class=greyBg>Possible, but severely unlikely</td>
                        <td class=greyBg>Very easy to accommodate</td>
                        <td class=greyBg>Impossible</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Limited Liability Protection</strong></h5>
                        </td>
                        <td class=tablehighlightTD>No</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Tax Advantages</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Minimal</td>
                        <td class=greyBg>Most efficient</td>
                        <td class=greyBg>Few benefits</td>
                        <td class=greyBg>Few benefits</td>
                        <td class=greyBg>Minimal</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Perpetual Existence</strong></h5>
                        </td>
                        <td class=tablehighlightTD>No</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>Yes</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Statutory Compliances</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightBottomTDBorder">Minimal</td>
                        <td class=greyBg>Low</td>
                        <td class=greyBg>High</td>
                        <td class=greyBg>High</td>
                        <td class=greyBg>Minimal</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary" href="./llp"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./one-person-company"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./private-limited-company"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./proprietorship"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
