@{
    PageData["keyword"] = "patent registration";
    PageData["description"] = "Patent registration is obtained for inventions that are new and inventive, having industrial use. Shaligram Infotech offers patent registration service from Rs.62,910.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/patentRegistration.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily Obtain Patent Registration</h1>
                <p class="color-white">Patent registration helps protect inventions that are novel, involves an inventive step and shows industrial application.</p>
            </div>
          
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Patent Registration</h2>
                <p class="text-justify">A patent registration helps in getting an intellectual property right to an invention carried out by an individual or firm. By patenting an invention, the patentee is able to control the making, use, selling or importing of the patented product or process for producing that product without his/her consent. The invention can be anything such as process, art or method to manufacture, particular apparatus, machine, computer software, technical application, chemicals or drugs. Patent registrations have a validity of 20 years from the date of filing of patent application, irrespective of whether it is filed with provisional or complete specification.</p>
                <p class="text-justify">Patent registration applications are handled by the The Patent Office, Controller General of Patents, Designs &amp; Trade Marks. Patent applications can be filed electronically with provisional or complete specification, at the appropriate Patent Office.</p>
                <h2 class="pageHeading">Reasons to Register a Patent Firm</h2>
                <div class="essential">
                    <h4>Strong market position</h4>
                    <p class="text-justify">Through these exclusive rights, you are able to prevent others from commercially using your patented invention, thereby reducing competition and establishing yourself in the market as the pre-eminent player.</p>
                </div>
                <div class="essential">
                    <h4>20 Year Validity</h4>
                    <p class="text-justify">Patent registrations in India are valid for 20 years from the date of filing of patent application, irrespective of whether it is filed with provisional or complete specification.</p>
                </div>
                <div class="essential">
                    <h4>Global Patent Protection</h4>
                    <p class="text-justify">A patent registration in India can be used as the basis for patent registration in other countries, if required. Foreigners and Foreign entities can also register a patent in India, if required.</p>
                </div>
                <div class="essential">
                    <h4>Competitive Edge</h4>
                    <p class="text-justify">Patent registration creates an intellectual property which protects your invention and prevents other to use it without your prior permission..</p>
                </div>
                <div class="essential">
                    <h4>Creation of Asset</h4>
                    <p class="text-justify">Patent registration creates an intellectual property, which is an intangible asset for an organization. Registered patent is an intangible asset that can be sold, franchised or commercially contracted.</p>
                </div>
                <div class="essential">
                    <h4>Legal Protection</h4>
                    <p class="text-justify"> In case of patent infringement, only owners of registered patents are allowed to take action or sue for damages. Patent protection is not enforceable for inventions that are not registered.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
