<div class="banner_pricing_comp">
    <img src="~/Images/banner-australia.jpg" />
</div>


<div class="pricing">
    <section class="section1">
        <div class="container">
            <div class="title">
                <h4>Price Per Hour Comparison</h4>
            </div>
            <hr>
            <p>Please note that pricing is a "guide" and is negotiated "per developer" on their unique skills, years of experience and individual salary requirements</p>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="table-responsive text-center">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th colspan="2" class="text-center">Per Hour Rates</th>
                                    <th rowspan="2" class="vam text-center">Monthly Cost Saving</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th class="bg-blue text-white text-center">Cloud Employee</th>
                                    <th class="bg-orange text-white text-center">Australia Contract Job Rates</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Junior Developer</th>
                                    <td>AA$ 16</td>
                                    <td>AA$ 50</td>
                                    <td>AA$ 5712</td>
                                </tr>
                                <tr>
                                    <th>Mid level Developer</th>
                                    <td>AA$ 24</td>
                                    <td>AA$ 80</td>
                                    <td>AA$ 9408</td>
                                </tr>
                                <tr>
                                    <th>Senior Developer</th>
                                    <td>AA$ 32</td>
                                    <td>AA$ 110</td>
                                    <td>AA$ 13,104</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <img src="~/Images/australia.jpg" />
                    <h5 class="text-center">Offshore Freelancers vs. Shaligram Employee</h5>
                </div>
            </div>
        </div>
    </section>



    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Full-Time Payroll Staff Comparison</h4>
            </div>
            <hr>
            <p>Please note that pricing is a "guide" and is negotiated "per developer" on their unique skills, years of experience and individual salary requirements</p>
            <hr>

            <div class="table-responsive text-center">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="3"></th>
                            <th class="text-center bg-blue text-white vam">Junior Developer</th>
                            <th class="text-center bg-blue text-white vam">Mid level Developer</th>
                            <th class="text-center bg-blue text-white vam">Senior Developer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center">
                            <th rowspan="7" class="vam text-center">
                                Annual Cost
                            </th>
                            <th rowspan="6" class="vam text-center">
                                Australia Developer (Employee) Cost / Annum AUD
                            </th>
                            <th class="text-left">Salary / Annum</th>
                            <td>A$ 49,000</td>
                            <td>A$ 80,000</td>
                            <td>A$ 120,000</td>
                        </tr>
                        <tr>
                            <th class="text-left">Annual Paid Holidays (4 weeks)</th>
                            <td>A$ 3,769</td>
                            <td>A$ 6,154</td>
                            <td>A$ 9,231</td>
                        </tr>
                        <tr>
                            <th class="text-left">Annual Sick Leave (1 week)</th>
                            <td>A$ 942</td>
                            <td>A$ 1,538</td>
                            <td>A$ 2,308</td>
                        </tr>
                        <tr>
                            <th class="text-left">Superannuation (9.5%)</th>
                            <td>A$ 4,655</td>
                            <td>A$ 7,600</td>
                            <td>A$ 11,400</td>
                        </tr>
                        <tr>
                            <th class="text-left">Recruitment Cost (15% of basic salary+ superannuation)</th>
                            <td>A$ 8,048</td>
                            <td>A$ 13,140</td>
                            <td>A$ 19,710</td>
                        </tr>
                        <tr>
                            <th class="text-left">Total Cost (Australia based developers)</th>
                            <td>A$ 66,415</td>
                            <td>A$ 108,432</td>
                            <td>A$ 162,648</td>
                        </tr>
                        <tr>
                            <td class="bg-blue text-white">Shaligram Employee Cost / Annum</td>
                            <td class="bg-blue text-white">Salary / Annum (Only cost)</td>
                            <td class="bg-blue text-white">A$ 32,256</td>
                            <td class="bg-blue text-white">A$ 48,384</td>
                            <td class="bg-blue text-white">A$ 64,512</td>
                        </tr>
                        <tr class="colored-border-cell">
                            <td colspan="3" class="bg-orange text-white">Total Cost Saving</td>
                            <td class="bg-orange text-white">A$ 34,159</td>
                            <td class="bg-orange text-white">A$ 60,048</td>
                            <td class="bg-orange text-white">A$ 98,136</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <section class="section3">
        <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="bg-blue text-white">Offshore Freelancers</th>
                    <th class="bg-orange text-white">Shaligram Employee</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>Offshore&nbsp;Freelancers will typically work from home in a non-professional environment. This atmosphere is often full of distractions and does not deliver the most productive output.</td>
                    <td>Shaligram Infotech head office and development center are based in the IT hub of Ahmedabad. Our office is fully managed operations with HR, communication hubs and a vibrant community of highly skilled people working next to each other.</td>
                </tr>
                <tr>
                        <td>It can be difficult to ensure that a Foreign Freelancer is working the hours they claim to be.</td>
                        <td>Shaligram Infotech office has a biometric ‘clock-in’ system for tracking and monitoring activities. We also offer tools we can install on PCs such as Harvest and Hub staff to help track and monitor day-to-day activity.</td>
                    </tr>
                    <tr>
                        <td>Many Freelancers take on work from multiple clients so you never really know how much time they are spending on your project.</td>
                        <td>Shaligram Infotech will work dedicatedly for your company for the offshore hiring duration. You can flexibly expand or reduce your offshore developers as per your project requirement.</td>
                    </tr>
                    <tr>
                        <td>Freelancers are not always available to work for you which means constantly having to find and build trust with new developers.</td>
                        <td>Shaligram Infotech development center is open 24/7 and your dedicated developers will work according to your suggested office hours. They will be available all day via Skype video and messenger to ensure smooth communication with you and your team during SDLC.</td>
                    </tr>
                    <tr>
                        <td>Cultural and language barriers.</td>
                        <td>Shaligram Infotech will provide you with an on-site manager supervising your offshore operations at all times. Our managers are techno functional project managers with experience and will step in at any moment to help you manage any complex situation, if needed.</td>
                    </tr>
                    <tr>
                        <td>Insufficient and unreliable home Internet speed that can often be down.</td>
                        <td>Shaligram Infotech has multiple high-speed Fibre Optic Internet Providers.</td>
                    </tr>
                    <tr>
                        <td>Electricity blackouts.</td>
                        <td>Shaligram Infotech office is supported by backup power generators, meaning you never have to worry about your developer being offline.</td>
                    </tr>
                    <tr>
                        <td>Data Security is always a concern with home-based Offshore&nbsp;freelancers.</td>
                        <td>Shaligram Infotech is an Indian company and is liable for any work carried out by its staff.</td>
                    </tr>
                    <tr>
                        <td>Freelancers are known to occasionally disappear without warning with no update with regards to where they are in the project or access to their work. They also often claim their computer has broken and they have lost files.</td>
                        <td>Shaligram Infotech is equipped with brand new IT hardware, software, tools and also provided with the external hard drive for backup.</td>
                    </tr>
                    <tr>
                        <td>Finding a Freelancer with the necessary skills and experience can be difficult, especially when looking in a foreign country. It is also difficult to tell if they really have the skill they claim to have.</td>
                        <td>Shaligram Infotech will perform pre-screen and background check while selecting candidates for you. We can also arrange technical tests at our office to ensure selection of right candidates required for your project. In case if you are not satisfied or you feel the need to change the developer, we will manage it and ensure a smooth handover with no extra cost.</td>
                    </tr>
                    <tr>
                        <td>Handing over a project to a stranger and trusting them to complete a project for you is a big risk.</td>
                        <td>Shaligram Infotech will provide all the enablers and create the required comfort level for you to manage your offshore employee and their work on day-to-day basis. The environment will make you feel as if they are working in the office next to you.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

