@{
    PageData["keyword"] = "Provisional Patent, Application for Provisional Patent";
    PageData["description"] = "Apply for provisional patent filing in India within 7 - 9 days. Provisional patent filing can be completed online at Rs. 12,842 all-inclusive. ✓ EMI available.Apply for provisional patent filing in India within 7 - 9 days. Provisional patent filing can be completed online at Rs. 12,842 all-inclusive. ✓ EMI available.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/provisionalPatent.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Provisional Patent</h1>
                <p class="color-white">Many inventors/businesses wish to patent their inventions even before they are finalised.</p>
                <ul>
                    <li>
                        <h4>Examine Details</h4>
                    </li>
                    <li>
                        <h4>Drafting of Application</h4>
                    </li>
                    <li>
                        <h4>Filing of Application</h4>
                    </li>
                </ul>
            </div>
         
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">What is a Provisional Patent?</h2>
                <p class="text-justify">A provisional patent application allows you to file without a formal patent claim, oath or declaration, or any information disclosure statement. As a patent can be so crucial in maintaining a business advantage, many inventors/businesses wish to patent their inventions even before they are finalised. Provisional Patent helps the inventor establish earliest ownership over the invention on submission of the provisional specifications of the product or process. As India follows the first-to-file system, this would ensure that the holder of the provisional patent would also be granted the permanent patent. The documents for the permanent patent would, however, have to be filed within 12 months or else the application would be abandoned entirely.</p>
                <h2 class="pageHeading">FAQs on Provisional Patent</h2>
                <div class="clearfix"></div>
                <div class="panel-group panel-accordian" id="faqAccordian">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqOne">
                            <a>1. What can be patented?</a>
                        </div>
                        <div id="faqOne" class="panel-collapse collapse">
                            <p class="panel-body">A patentable invention can be any (1) Art, process, method or manner of manufacture, (2) Machine, apparatus or other articles, (3) Substances produced by manufacturing, (4) Computer software with technical application to industry or used with Hardware, and (5) Product patent for food, chemicals, medicines and drugs.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqTwo">
                            <a>2. When does a patent expire?</a>
                        </div>
                        <div id="faqTwo" class="panel-collapse collapse">
                            <p class="panel-body">20 years from the date of filing for a provisional or permanent patent, the patent falls into the public domain.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqThree">
                            <a>3. What information do I need to provide?</a>
                        </div>
                        <div id="faqThree" class="panel-collapse collapse">
                            <p class="panel-body">The details of the invention on a CD or pen drive, along with its name, comparison with existing products, uses and date of publication (if any). Applicant information is also required.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFour">
                            <a>4. What is expected from the patentee as an obligation?</a>
                        </div>
                        <div id="faqFour" class="panel-collapse collapse">
                            <p class="panel-body">A patentee must disclose the invension in the patent document, for anyone to practice it after the expiry of the patent or practice it with the consent of the patent holder during the life of the patent.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqFive">
                            <a>5. Is there a worldwide patent?</a>
                        </div>
                        <div id="faqFive" class="panel-collapse collapse">
                            <p class="panel-body">It is, therefore, effective only in India. However, filing an application in India enables the applicant to file a corresponding application for same invention in convention countries, within or before expiry of twelve months from the filing date in India. Therefore, separate patents should be obtained in each country where the applicant requires protection of his invention in those countries. There is no patent valid worldwide.</p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqSix">
                            <a>6. How do I conduct a patent assignment search?</a>
                        </div>
                        <div id="faqSix" class="panel-collapse collapse">
                            <p class="panel-body">
                                Fees vary depending on the type of patent application you submit. Fees may also vary according to the way you "claim" your invention. More information on filing fees and the number and type of claims.
                                There are three basic fees for utility patents: (1) he filing fee, which is non-refundable whether or not a patent is granted. (2) The issue fee. (3) Maintenance fees.
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#faqAccordian" href="#faqSeven">
                            <a>7. How long should the THIRD-LEVEL SECURITY REVIEW take?</a>
                        </div>
                        <div id="faqSeven" class="panel-collapse collapse">
                            <p class="panel-body">Although publication of the application will not occur until this determination has been completed, 35 USC 184 grants an implicit foreign filing license at 6 months from the filing of the application in the U.S. Therefore, the defense agencies strive to complete this processing within 6 months. However, given the large number of cases forwarded to them, this process often takes longer. </p>
                        </div>
                    </div>
                </div>
                <h2 class="pageHeading">Advantages of Provisional Patent</h2>
                <div class="essential">
                    <h4>Established Right Early</h4>
                    <p class="text-justify">Corresponding Non-Provisional Patent Applications filed within twelve months of the Provisional Application date have the benefit of "relating back" to the Provisional Application. This means that, if a dispute arise over invention ownership, the USPTO will accept the earlier provisional application filing date as the official filing date.</p>
                </div>
                <div class="essential">
                    <h4>Assess Market Potential</h4>
                    <p class="text-justify">You can take advantage of the Provisional Application's one-year period of coverage to evaluate the commercial potential of your invention before committing to a Non-Provisional Patent Application.</p>
                </div>
                <div class="essential">
                    <h4>Minimal Information Needed</h4>
                    <p class="text-justify">Even if your invention is at a conceptual stage, all you need is to specify the title, indicate the field of your invention, its nature and potential uses to file a provisional specification.</p>
                </div>



                <h2 class="pageHeading">Provisional Patent Process</h2>
                <div class="essential">
                    <h4>1 Working Day</h4>
                    <p class="text-justify">You would need to send in all the possible details, including potential uses of the invention across industries and likely benefits over existing products.</p>
                </div>
                <div class="essential">
                    <h4>2 Working Days</h4>
                    <p class="text-justify">The drafted document will be filed with the Registrar and, on acceptance, you would be able to use 'Patent Pending' on your product any time over the next year.</p>
                </div>
                <div class="essential">
                    <h4>7 Working Days</h4>
                    <p class="text-justify">A patent attorney affiliated with us will take up your request and draft the application based on the details you send in.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container">
    <div class="row">
        <h3 class="pageHeading text-center mt-30 mb-30">Types of Intellectual Property</h3>
        <div class="col-sm-12 table-responsive compare-table">
            <table class="table table-condensed text-center">
                <thead>
                    <tr>
                        <th></th>
                        <th>Provisional Patent</th>
                        <th>Copyright</th>
                        <th>Trademark</th>
                        <th>Patent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Applies To</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightTopTDBorder">Inventions &amp; ideas</td>
                        <td class=greyBg>Photographs, movies, music, software code</td>
                        <td class=greyBg>Words, logos, slogans</td>
                        <td class=greyBg>Inventions &amp; ideas</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Applicants</strong></h5>
                        </td>
                        <td class=tablehighlightTD>Inventors &amp; designers</td>
                        <td class=greyBg>Artists &amp; creative professionals</td>
                        <td class=greyBg>Business owners</td>
                        <td class=greyBg>Inventors &amp; designers</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Ownership Without Registration</strong></h5>
                        </td>
                        <td class=tablehighlightTD>No</td>
                        <td class=greyBg>Yes, but rights are limited</td>
                        <td class=greyBg>Yes, but rights are limited</td>
                        <td class=greyBg>No</td>
                    </tr>
                    <tr>
                        <td class=noBorder>
                            <h5 class=text-left><strong>Validity</strong></h5>
                        </td>
                        <td class="tablehighlightTD tablehighlightBottomTDBorder">1 year</td>
                        <td class=greyBg>Lifetime of the author, plus 60 years</td>
                        <td class=greyBg>Indefinite, but to be renewed every 10 years</td>
                        <td class=greyBg>20 years</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a class="btn btn-primary" href="./copyright-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./trademark-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>
                        <td><a class="btn btn-primary" href="./patent-registration"><i class="icon-shopping-cart icon-white"></i> Know More »</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
