<div ng-controller="SharepointCtrl">
    <a href="#" title="Sharepoint Application Development Company UK | SharePoint Application"><img src="~/Images/sharepoint.jpg" alt="Sharepoint Application Development Company UK | SharePoint Application"></a>
</div>

<div class="services">
    <section class="section1">
        <div class="container">
            <div class="title">
                <h2>SharePoint</h2>
            </div>
            <ul class="list1">
                <li>Sharepoint is a web application platform in the Microsoft Office server suite.</li>
                <li>Many functions that are otherwise separate applications are combined with Sharepoint like intranet, extranet, content management, document management, personal cloud, enterprise social networking, enterprise search, business intelligence, workflow management, web content management and an enterprise application store. We provide services like sharePoint customization, Line-of-Business Integration,sharePoint assessments. </li>
                <li>The Sharepoint servers have been deployed for internal use in mid-size as well as large businesses. </li>
                <li>This Sharepoint software is based on an n-tier service oriented architecture. </li>
                <li>Most enterprise application software like email servers require or have to integrate with some or the other elements of Sharepoint. </li>
                <li>It is one of the best applications that provide central management, governance and security controls.</li>
            </ul>
        </div>
    </section>

    <section class="section2">
        <div class="container">
            <div class="title">
                <h4>Services:</h4>
            </div>
            <p>We offer the following services:</p>
            <ul class="list1 column-count">
                <li>SharePoint Web Farm Infrastructure Architecture and Design</li>
                <li>SharePoint Assessments</li>
                <li>SharePoint Extranets</li>
                <li>SharePoint Intranets</li>
                <li>SharePoint Public Sites</li>
                <li>Custom SharePoint Development</li>
                <li>Enterprise Content Management</li>
                <li>Workflow & Collaboration</li>
                <li>SharePoint Reporting Services and Dashboards</li>
                <li>SharePoint Customization</li>
                <li>SharePoint Managed Services</li>
                <li>SharePoint Migration Services</li>
                <li>Line-of-Business Integration</li>
                <li>SharePoint User Experience and Branding</li>
                <li>SharePoint Enterprise Search</li>
                <li>SharePoint Business Process Forms and Workflows</li>
                <li>SharePoint Corporate Social Computing</li>
            </ul>
        </div>
    </section>

    <section class="section3">
        <div class="container">
            <div class="title">
                <h4>Portfolio</h4>
            </div>
            <div class="port_content">
                <div id="isotope-container" class="isotope">
                    <div static-include="~/Views/SCPages/GetPortfolioListPartial.html">
                    </div>

                    @*<div static-include="~/Views/SCPages/GetPortfolioListPartial.html" id="particularportList">
                        </div>*@

                    @*<div html-include="~/PortfolioPages/sharepoint-portfolio.html">
                        </div>*@
                </div>
            </div>
        </div>
    </section>

</div>