<img class="img-responsive" src="../images/career/Hire-JAVA.jpg" alt="">


<section class="section1">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="title">
                    <h4>Job Opening Details</h1>
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Job Title :</th>
                            <td>Senior Java Developer</td>
                        </tr>
                        <tr>
                            <th>Job Code :</th>
                            <td>SRJAVA</td>
                        </tr>
                        <tr>
                            <th>Location :</th>
                            <td>Ahmedabad</td>
                        </tr>
                        <tr>
                            <th>Openings :</th>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th>Salary Range :</th>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th>Experience :</th>
                            <td>3+ Years</td>
                        </tr>
                        <tr>
                            <th>Qualification :</th>
                            <td>BE / MCA / Equivalent</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6">
                <div class="title">
                    <h4>Required Skills</h4>
                </div>
                <ul class="list1">
                    <li>Candidate Should be having Excellent Customer facing English communication Skills</li>
                    <li>Must have Java, J2EE, Spring, Hibernate Experience</li>
                    <li>Spring Batch Experience will be added advantage</li>
                    <li>Proficient with SQL database</li>
                    <li>Nosql database experience will be plus</li>
                    <li>Oracle/Sun certified developer will be plus</li>
                </ul>
            </div>
        </div>
         <hr>
        <p>To apply for this position please send your CV at <a href="mailto:career@shaligraminfotech.com">career@shaligraminfotech.com</a> with Job Code in subject line and also mention your current salary. </p>
    </div>
</section>
