@{
    PageData["keyword"] = "Online Tan registration, online TDS registration, tds filing";
    PageData["description"] = "Shaligram Infotech is a leader in online tax registration services in India. Shaligram Infotech can help you obtain TAN Registration or TDS Registration and Filing.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/tanRegistration.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily Obtain Tax Deduction and Collection Number Registration</h1>
                <p class="color-white">TAN (Tax Deduction and Collection Number) registration is required for making tax deduction or tax collection at source, remittance of TDS payments and issuance of TDS certificates.</p>
            </div>
            
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">TAN Registration</h2>
                <p class="text-justify">TAN Number is a 10 Digit Alphanumeric Number abbreviation used for Tax Deduction and Collection Account Number. Tax deducted at source (TDS) ensures that the Government's collection of tax is proponed and the responsibility for paying tax is diversified. The person deducting the tax at source is required to deposit the tax deducted to the credit of Central Government - quoting the TAN number. Individuals who are salaried are not required to obtain TAN or deduct tax at source. Every Assessee liable to deduct TDS is required to apply for TAN and shall quote this number in all TDS Returns,TDS payments and any other communications regarding TDS with Income Tax Department. On deducting tax at source, the entity registered for TAN will issue a TDS Certificate as proof of collection of tax.</p>
                <p class="text-justify">To obtain TAN, application must be made for allotment of TAN in Form 49B along with the required supporting documents. The TAN will be allotted to the entity  based on the application and the entity must quote the TAN in all TDS/TCS returns, TDS/TCS payment challans and all TDS/TCS Certificates. Shaligram Infotech can help you obtain your TAN registration quickly and hassle-fee. Shaligram Infotech is an authorized TAN Facilitation Center.</p>
                <h2 class="pageHeading">Reasons to Register a TAN</h2>
                <div class="essential">
                    <h4>TAN - Tax deduction Account Number</h4>
                    <p class="text-justify">TAN is a 10 character alpha-numeric code issued by the Income Tax Department for persons responsible for deducting or collecting tax at source.</p>
                </div>
                <div class="essential">
                    <h4>TAN Facilitation Center</h4>
                    <p class="text-justify">Shaligram Infotech is a authorized TAN facilitation center. Therefore, Shaligram Infotech can help you obtain TAN hassle-free and quickly. You just need to send the TAN application along with the supporting documents and we will help you get your TAN quickly.</p>
                </div>
                <div class="essential">
                    <h4>Proprietorship Require TAN</h4>
                    <p class="text-justify">Salaried Individuals are not required to deduct tax at source. However, individuals who run a proprietorship business are required to deduct tax at source. All other entities like LLP, Private Limited Company, Limited Company, Trust, Society, etc., are required to obtain TAN and deduct tax at source.</p>
                </div>
                <div class="essential">
                    <h4>Validity</h4>
                    <p class="text-justify">Once a TAN is issued, it is valid for lifetime. However, 15th of every July, October, January, and May are the due dates for filing quarterly TDS return. Any delay in furnishing your return will result in a penalty of Rs 200 per day not exceeding the total amount of TDS for the quarter.</p>
                </div>
                <div class="essential">
                    <h4>TDS Payments</h4>
                    <p class="text-justify">The challan no. 281 is used for deposits of TDS/TCS. By using the form, you will need to mention the correct 10-digit Tax Deduction Account Number (TAN), name, and address of the deductor on each challan used for depositing tax.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
