@{
    PageData["keyword"] = "GST registration casual taxable person, casual taxable person GST registration";
    PageData["description"] = "Casual taxable person is someone who occasionally undertakes business. Shaligram Infotech can help obtain GST registration for casual taxable person from Rs.2,610.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/temporaryGSTRegistration.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">GST Registration for Casual Taxable Person</h1>
                <p class="color-white">The default option for start-ups and growing businesses as only private limited companies can raise venture capital.</p>
            </div>
           
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>

<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">GST Registration for Casual Taxable Person</h2>
                <p class="text-justify">Goods and Services Tax or GST has been implemented in India from 1st July, 2017 and casual taxable persons are also required to obtain GST registration and file GST returns. As per the law, a ‘Casual Taxable Person’ is a person who occasionally undertakes transactions involving supply of goods or services, or both, in the course or furtherance of business, whether as principal, agent or in any other capacity, in a State or a Union territory where he has no fixed place of business. A casual taxable person is mandatorily required to obtain GST registration irrespective of annual aggregate sales turnover.</p>
                <p class="text-justify">Casual taxable persons are required to obtain GST registration under a special category at least 5 days prior to the undertaking business. An application for casual taxable person GST registration can be filed online along with identity proof, address proof and photographs of the promoters. Once, an application for casual taxable person GST registration is filed, a transaction number would be generated. Using the transaction number, GST deposit must be made by the taxpayer to obtain casual taxable person GST registration in India.</p>
                <h2 class="pageHeading">Advantages of Goods &amp; Services Tax (GST)</h2>
                <div class="essential">
                    <h4>Lower Taxes</h4>
                    <p class="text-justify">Currently in some states businesses are required to comply with VAT regulations once they cross an annual turnover of Rs.5 lakhs under the VAT regime,. GST liability accrues only if an entity crosses an annual turnover of Rs.10 lakhs in northeast or hill states under GST regime, whereas for rest of India, the threshold is set at Rs.20 lakhs. </p>
                </div>
                <div class="essential">
                    <h4>Subsuming of Taxes</h4>
                    <p class="text-justify">Subsumes various other taxes like  Purchase Tax,  Central Sales Tax, Additional Customs Duty etc., Therefore, many of the taxes in existence today would be subsumed and made into one tax under GST.  Across the country this would make tax collection and compliance easy for businesses.</p>
                </div>
                <div class="essential">
                    <h4>Larger Tax Base</h4>
                    <p class="text-justify">In India GST is expected to increase the tax base significantly. Hence, the overall tax liability for businesses is expected to reduce overtime, as more and more businesses become compliant. Moreover, GST will be using the latest in technology , including data from Aadhaar database, PAN database, etc., to make GST registration and GST return filing process, as smooth as possible.</p>
                </div>
                <div class="essential">
                    <h4>Ease of Doing Business</h4>
                    <p class="text-justify">Nowadays, many businesses such as restaurants, computer sales and services businesses have to comply with both VAT and Service Tax regulations. This creates a compliance burden on the business, as they have to calculate taxes for the transaction based on different rates for different items. The distinction between goods and services will be gone – making doing business easy Under GST, .</p>
                </div>
                <div class="essential">
                    <h4>Unified Platform</h4>
                    <p class="text-justify">The indirect taxes would be streamlined and standardized with the implementation of GST in India. Businesses would no longer have to obtain multiple VAT registration in different States or obtain a separate VAT and Service Tax registration under GST regime. For selling or purchasing goods or providing services across India, a single GST registration would be sufficient.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
