@{
    PageData["keyword"] = "Trademark Rectification, Formalities Chk Fail, Send Back to EDP";
    PageData["description"] = "Shaligram Infotech is a leader in online trademark rectification filing. Shaligram Infotech can resolve Formalities chk fail by filing trademark rectification for just Rs.5,310.";
}
<section class="page-banner">
    <div class="banner">
        <img src="images/trademarkRectification.jpg" alt="image" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-header">Easily File Trademark Rectification</h1>
                <p class="color-white">During the trademark registration process, an application can be marked as formalities chk fail by the Trademark Examiner.</p>
            </div>
          
        </div>
    </div>
</section>
<div id="one" class="col-md-5 col-sm-6 side-form" static-include="Views/SCPages/CommonInformation.html" ng-controller="CommonController">

</div>
@*<div id="one" class="col-md-5 col-sm-6 side-form">
    <div class="service-form">
        <div class="form-heading">
            <h3><b>From Rs.5310 /-</b> all inclusive fees</h3>
            <p class="text-justify">EMI: Rs.474.03 for 12 months*</p>
        </div>
        <form>
            <div class="sidebar-form">
                <div class="input-field">
                    <i class="fa fa-user"></i>
                    <input class="form-input" type="text" value="" placeholder="Name" />
                </div>
                <div class="input-field">
                    <i class="fa fa-envelope"></i>
                    <input class="form-input" type="text" value="" placeholder="Email" />
                </div>
                <div class="input-field">
                    <i class="fa fa-phone"></i>
                    <input class="form-input" type="text" value="" placeholder="Phone" />
                </div>
                <div class="input-field">
                    <input type="submit" value="Get Started" class="btn" />
                </div>
            </div>
        </form>
    </div>
</div>*@
<section class="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="pageHeading">Trademark Rectification</h2>
                <p class="text-justify">Rectification of a trade mark can be filed in India on grounds of contravention or failure to observe a condition of the trade mark already entered in the Register or an error in registering the trade mark. Rectification is the legal procedure to correct or rectify an error or an omission that has been made in the details of a trademark as recorded in the trademark register, after the trademark registration.  A mark may have been wrongly registered or may have remained on the register even after its expiry. In such cases, the Indian Trademark Act provides for file rectification of the registered trademarks. Once a trademark application is filed, the Trade Marks Registrar would process the application. If any concerns are noted on the trademark application, the Examiner would mark the application as Formalities Chk Fail and request rectification of the trademark application. If there are no concerns, the Trademark Examiner could also allow for the trademark application to be advertised before registration or raise an objection for registration.</p>
                <p class="text-justify">The application kind accustomed serve trademark rectification or cancellation should be filed in prescribed kind. the appliance should embrace the statement of the case, and submit alongside the prescribed fee. Further, the appliance may be submitted to the Registrar or IPAB. On receipt of the appliance, the Registrar serves notice to the registered man of affairs to file a counter statement. Once the counter statement is filed the matter arrives at the proof stage. The parties might need filing their various proofs within the sort of Associate in Nursing official document. After this, there’ll be a hearing after the order is passed.</p>
                <h2 class="pageHeading">Important Aspects of Filing Trademark Application</h2>
                <div class="essential">
                    <h4>Trademark Opposition</h4>
                    <p class="text-justify">After the examiner reviews your trademark and finds that it qualifies for registration, your trademark will be published in the Trademarks Journal. The purpose behind publishing a Trademark in the Journal is to enable any third party to view the trademark and file a trademark rectification against it. Simply, a trademark rectification is filed by a third-party against the registration of your Trademarks</p>
                </div>
                <div class="essential">
                    <h4>Trademark Journal</h4>
                    <p class="text-justify">Trademark journal publication is an important step in the registration of a trademark. If a trademark application has not been objected by the Trademark Examiner in the examination report or if there was an objection, and it was overcome, then the mark is published in the trademark journal. </p>
                </div>
                <div class="essential">
                    <h4>Respond Professionally</h4>
                    <p class="text-justify">It's important to discuss the reason for raising a trademark rectification with a Professional and deciding on a course of action. An experienced professional can significantly improve chances of successful protecting a registered trademark.</p>
                </div>
                <div class="essential">
                    <h4>No Guarantee</h4>
                    <p class="text-justify">Filing a rectification for a trademark application does not guarantee that the mark will be prevented from registration. Trademark registration is a process and the verdict on registration is provided only by the Trademark Registrar - based on the facts and premises of each case. Hence, our professionals can only make best efforts based on expertise.</p>
                </div>
                <div class="essential">
                    <h4>Timeline</h4>
                    <p class="text-justify">Post filing of a trademark rectification, it is important to periodically check the status of the trademark application until its processing on the Government side. Trademark rectification requires various time-bound response or action from the applicant and opposing party. Therefore, it is important to check the status of the application continually and take required action until completion of the process.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="two" class="container"></section>
