<section class="section1 cover-background" style="background-image: url(../../images/4.jpg);">
    <div class="container-fluid">
        <div class="row">
            <div class="right col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
                <div class="title">
                    <h3>WHO WE ARE?</h3>
                </div>
                <ul class="list1">
                    <li>Shaligram Infotech is built by multidisciplinary team of visionaries with the profound business insight and clear vision of becoming the most eminent software development company in global marketplace.</li>
                    <li>Our objective is to ensure that our technology delivery helps our clients continue driving efficiencies into their businesses.</li>
                    <li>Our team is consisting of software engineers who have the knowledge on latest tools, frameworks and platforms and hands-on experience of intercontinental projects to deliver quality solutions within your expected time line.</li>
                    <li>Our prime focus is on our business partners and create the unparalleled comfort level while working on their projects.</li>
                    <li>Contact us for NO COST requirement analysis and POC for your projects.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="section2 pb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="box-in text-center">
                        <div class="icon"><img src="../Images/eye.svg" alt=""></div>
                        <div class="title text-center">
                            <h4>Vision</h4>
                        </div>
                        <p>We at Shaligram Infotech have a vision of becoming the most eminent software development company with the highest customer life cycle for offshore service seekers globally.</p>
                        <p> Shaligram Infotech services have to define the best "collaborative experience" for our clients and solution users.</p>
                    </div>                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="box">
                    <div class="box-in text-center">
                        <div class="icon"><img src="../Images/mission.svg" alt=""></div>
                        <div class="title text-center">
                            <h4>Mission</h4>
                        </div>
                        <p>We at Shaligram Infotech are focused on creating the greatest pull for our services and cost optimization for our clients.</p>
                        <p>Our internal and external processes are focused on creating the perfect work environment for our techno-functional consultants as well as for the fresh engineering graduates.</p>
                        <p>Our continuous improvement processes are focused on optimizing skills of our people on the latest tools, technologies, frameworks and platforms so as to deliver our services with the maximum value add to our offshore and domestic clients.</p>
                    </div>
                </div>                    
            </div> 
        </div>       
    </div>
</section>