/*price cpmparision css*/
.main ,.price_comp {
	width:100%;
	float:left;
}
.price_comp  .pricepg-header{
	color:#215da9;
	font-size:18px;
	font-weight:300;
	line-height:25px;
	float:left;
	width:100%;
}
.price_comp  .pricepg-header + p{
	color: #777;
	margin:0 0 20px;
	float:left;
	font-size:13px;
}


.uk-permanent-text {
    color: #575656;
    font-size: 20px;
    font-weight: 400;
    margin-top: 60px;
}

.price_comp .vertical-cell {
    position: relative;
}
.price_comp .table-bordered {
	font-size:14px;
	font-weight:300;
	font-family:"Roboto",sans-serif;
}
.price_comp .vertical-text{
	transform: rotate(270deg);
	transform-origin: top center 0;
	margin-top:130px;
	color:#575656;
	font-weight: 400;
	font-size:20px;
	display:block;
	position: absolute;
	left:-20px;
}
 .price_comp  .overoll_comp {
	padding:20px 0 0 0;
}



.price_comp  .mt-5{
	margin-top:5px;
	float:left;
}


.price_comp  .mt-5{
	margin-top:5px;
	float:left;
}

.banner_pricing_comp {
	padding-bottom:20px;
}


@media (max-width:1200px){
	.vertical-text {
		display: block !important;
		margin-top: 130px;
		position: relative !important;
		transform: rotate(270deg);
		transform-origin: center top 0;
	}
	
	
}





 /* for links in hire resources */
/* .country-buttons {
    clear: both;
}
.nopadding-left {
    padding-left: 0;
    }
 .btn-countries {
    background: #215da9;
    color: #fff;
    width: 100%;
    padding: 15px 0 0 0;
    font-size: 20px;
    font-weight: 300;
    
}
.text-center {
    text-align: center;
}
.country-buttons img {
    padding: 0;
    vertical-align: middle;
}
.alignnone {
    margin: 5px 20px 20px 0;
}
 .country-buttons a {
    color: #fff;
    vertical-align: super;
    text-decoration: none;
}*/
.btn-countries{
	text-align: left;
}
.btn-countries a{
	padding-left:10px;
}
.btn-countries a:hover{
	text-decoration: underline;
}

h4.rem{
    color:#fff;
    }
.tab-mid th:nth-child(3) {
    display: block;
}
.tab-sen th:nth-last-child(1){
    display:line;
}


@media (max-width:767px) {
	.price_comp  img + h3 {
		padding-bottom:20px;
	}
	.tbl-offshore, .tbl-emp  {
		width:100% !important;
		float:left;
	}
	.tbl-offshore  td, .tbl-emp td {
		height:auto !important;
	}
} 

@media (max-width: 456px) {
.overoll_comp .comparison-table tr th:nth-child(3), .overoll_comp .comparison-table tr th:nth-child(4), .overoll_comp .comparison-table tr td:nth-child(3), .overoll_comp .comparison-table tr td:nth-child(4) { display:table-cell;  }
.price_comp .per-hour-table th:nth-child(3), .price_comp .per-hour-table td:nth-child(3), .price_comp .per-hour-table td:nth-child(4)  {
	display: table-cell;
}
 }
